.advice-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: rem(16px);
}

.advice-card__yellow {
  background: linear-gradient(206.84deg, #ffd66f 36.53%, #e2a713 100%);

  .advice-card__button {
    box-shadow: rem(0px 2px 2px) #e4a605;
  }
}

.advice-card__blue {
  background: linear-gradient(209.33deg, #69bdf9 53.49%, #268fdb 100.56%);

  .advice-card__button {
    box-shadow: 0px 2px 2px #69bdf9;
  }
}

.advice-card__title {
  align-self: center;
  @extend %p11;
  font-weight: normal;
  color: $white;
  background: $red;
  text-align: center;
  border-radius: rem(16px);
  padding: rem(5px 20px);
  margin: rem(20px 20px 40px);
}

.advice-card__text {
  @extend %h4;
  font-weight: 600;
  text-align: center;
  color: $white;
  margin: rem(0 20px 40px);
}

.advice-card__button {
  font-weight: 600;
  text-align: center;
  margin: rem(0 20px 40px);
}
