.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin: rem(0 0 20px 0);
}

// .advantages__item + .advantages__item {
//   margin-right: 40px;
// }

.advantages__image {
  margin: rem(0 10px 0 0);
}

.advantages__title {
  color: $white;
  font-style: normal;
  font-weight: 600;
  @extend %p2;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .advantages__item {
    flex-direction: column;
    text-align: center;
  }

  .advantages__image {
    margin: rem(0 0 10px 0);
  }
}
