.button-vacuum-cleaner-type {
  @extend %button-type;
  padding: rem(20px 20px 40px);
}

.button-vacuum-cleaner-type_active {
  @include button-type_active;
}

.button-vacuum-cleaner-type__title {
  @extend %button-type__title;
  margin-bottom: rem(16px);
}

.button-vacuum-cleaner-type__image {
  @extend %image;
}
