.button-close {
  background: transparent;
  font-size: 0;
  line-height: 0;

  .button-close__image-container {
    padding: rem(5px);
    border: 1px solid $light-gray-6;
    border-radius: rem(4px);
    background: $white;
  }

  .button-close__image {
    max-width: 100%;
    height: auto;
  }
}
