.button-rout {
  padding: rem(20px);
  display: flex;
  border-radius: rem(10px);
  border: 1px solid rgba(#000, 0.1);
  background: $white;
}

.button-rout__image {
  margin-right: rem(20px);
}

.button-rout__content {
}

.button-rout__title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $ligth-blue;
  margin-bottom: rem(10px);
}

.button-rout__text {
  font-style: normal;
  font-weight: normal;
  @extend %p8;
  color: $dark-blue;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .button-rout {
    align-items: flex-start;
  }

  .button-rout__image {
    width: 40px;
    height: auto;
    margin-right: rem(10px);
  }
}
