.button {
  display: inline-block;
  border: none;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }
}

.button_white {
  background: $white;
  color: $blue;
  border: 2px solid $white;
  &:hover {
    color: $blue;
  }
}

.button_white-black {
  background: $white;
  color: $black;
}

.button_border_white {
  border: 2px solid $white;
  background: $ligth-blue;
  color: $white;

  &:hover {
    color: $white;
  }
}

.button_blue {
  background: $ligth-blue;
  color: $white;
  border: none;

  &:hover {
    color: $white;
  }
}

.button_orange {
  background: $orange;
  color: $white;
  border: none;

  &:hover {
    color: $white;
  }
}

.button_avd {
  background: $white;
  border: 1px solid $dark-gray-2;
  color: $ligth-blue;

  &:hover {
    color: $white;
    background: $ligth-blue;
    border-color: $ligth-blue;
  }
}

.button_volt {
  background: $light-gray-5;
  border: 1px solid $dark-gray-2;
  color: $ligth-blue;

  &:hover {
    // color: $ligth-blue;
    // background: $light-gray-5;
    border-color: $ligth-blue;
  }
}

.button_more {
  background: $white;
  border: 1px solid $ligth-blue;
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.button_link-more {
  color: $ligth-blue;
  text-decoration: underline;

  &:hover {
    color: $ligth-blue;
  }
}

.button_blue_hover_dark-blue {
  &:hover {
    background: $ligth-blue-3;
  }
}

.button_size_15_20 {
  padding: rem(15px 20px);
}

.button_size_10_20 {
  padding: rem(10px 20px);
}

.button_size_10_25 {
  padding: rem(10px 25px);
}

.button_size_10_50 {
  padding: rem(10px 50px);
}

.button_size_10 {
  padding: rem(10px);
}

.button_size_15 {
  padding: rem(15px);
}

.button_size_9_9_11 {
  padding: rem(9px 9px 11px);
}

.button_size_17_25_18 {
  padding: rem(17px 25px 18px);
}

.button_radius_10 {
  border-radius: rem(10px);
}

.button_radius_6 {
  border-radius: rem(6px);
}

.button_radius_5 {
  border-radius: rem(5px);
}

.button_radius_4 {
  border-radius: rem(4px);
}

.button_font_13_20 {
  @extend %p3;
}

.button_font_11_15 {
  @extend %p6;
}

.button_font_20_30 {
  @extend %h2;
}
