.button-type {
  @extend %button-type;
  padding: rem(40px);
}

.button-type_active {
  @include button-type_active;
}

.button-type__title {
  @extend %button-type__title;
  margin-bottom: rem(10px);
}

.button-type__text {
  font-style: normal;
  font-weight: normal;
  @extend %p1;
  color: $blue;
  margin-bottom: rem(26px);
}

.button-type__image {
}
