.button-volt {
  background: $light-gray-5;
  border: 1px solid $dark-gray-2;
  color: $ligth-blue;

  &:hover {
    @include button-type_active;
  }
}

.button-volt_active {
  @include button-type_active;
}
