.checkbox-block {
  @extend %radio-checkbox-block;
}

.checkbox-block_active {
  .checkbox-block__label {
    @extend %radio-checkbox-block_active__label;
  }
}

.checkbox-block_disabled {
  &.checkbox-block_active {
    .checkbox-block__label {
      border-color: $dark-gray;
      background-color: $dark-gray;
    }
  }
}

.checkbox-block__input {
  @extend %radio-checkbox-block__input;
}

.checkbox-block__label {
  @extend %radio-checkbox-block__label;
  border-radius: rem(2px);
}
