.checkbox-item {
  display: flex;
  align-items: flex-start;
}

.checkbox-item_border-bottom {
  .checkbox-item__content {
    padding-bottom: rem(16px);
    border-bottom: 1px solid $dark-gray-2;
  }
}

.checkbox-item__checkbox-container {
  flex: 0 0 50px;
  margin-right: rem(10px);

  .checkbox-block {
    margin: auto;
  }

  .radio-block {
    margin: auto;
  }
}

.checkbox-item__content {
  flex: auto;
  padding-right: rem(20px);
}

.checkbox-item__title {
  font-style: normal;
  font-weight: normal;
  @extend %p5;
  color: $blue;
  margin-bottom: rem(8px);
}

.checkbox-item__text {
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $blue;
  margin-bottom: 0;
}

.checkbox-item__counter-block {
  margin-top: rem(15px);
}
