.counter-block {
  display: flex;
}

.counter-block__button {
  background: $white;
  border: 1px solid $light-gray-6;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-block_plus {
}

.counter-block_minus {
}

.counter-block__image {
}

.counter-block__count {
  width: 100%;
  flex: 0 0 40px;
  margin-bottom: 0;
  background: $white;
  border: 1px solid $light-gray-6;
  box-sizing: border-box;
  border-radius: rem(4px);
  margin: rem(0 5px);
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $ligth-blue;
  padding: rem(5px 10px);
  text-align: center;
  -moz-appearance: textfield; /* Firefox */

  &:focus {
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
