.counter-item {
  display: flex;
  align-items: flex-start;
}

.counter-item_border-bottom {
  .counter-item__content {
    padding-bottom: rem(16px);
    border-bottom: 1px solid $dark-gray-2;
  }
}

.counter-item__image-container {
  flex: 0 0 50px;
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
  margin-right: rem(10px);
}

.counter-item__image {
  max-width: 100%;
  height: auto;
}

.counter-item__content {
  flex: auto;
  padding-right: rem(20px);
}

.counter-item__title {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %p1;
  margin-bottom: rem(5px);
}

.counter-item__text {
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $blue;
  margin-bottom: 0;
}

.counter-item__counter-block {
  margin-top: rem(15px);
}
