.dropdown-submenu {
  position: static;

  &.show {
    .dropdown-submenu__toggle {
      background: rgba($white, 0.3);

      span {
        display: none;
      }

      .dropdown-submenu__triangle {
        opacity: 1;
      }
    }
  }
}

.dropdown-submenu__toggle {
  border-radius: rem(4px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:after {
    display: none;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 1px $white;
    opacity: 0;
    animation: da-pulse 1.4s ease-in-out 0s infinite;
    border-radius: rem(4px);

    &:before {
      content: "";
      display: block;
      box-shadow: 0 0 0 1px $white;
      position: absolute;
      top: rem(-4px);
      left: rem(-4px);
      right: rem(-4px);
      bottom: rem(-4px);
      opacity: 0;
      animation: da-pulse 1.4s ease-in-out 0s infinite;
      border-radius: rem(4px);
    }

    &:after {
      content: "";
      display: block;
      box-shadow: 0 0 0 1px #fff;
      position: absolute;
      top: rem(-8px);
      left: rem(-8px);
      right: rem(-8px);
      bottom: rem(-8px);
      opacity: 0;

      animation: da-pulse 1.4s ease-in-out 0s infinite;
      border-radius: rem(4px);
    }
  }

  &:hover {
    span {
      display: none;
    }

    .dropdown-submenu__triangle {
      opacity: 1;
    }
  }
}

.dropdown-submenu__triangle {
  position: absolute;
  bottom: rem(-16px);
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(8px 8px 8px 8px);
  border-color: rgba($white, 0.3) transparent transparent transparent;
  opacity: 0;
}

.dropdown-submenu__body {
  background: $white;
  border: 1px solid $ligth-blue;
  box-sizing: border-box;
  box-shadow: rem(0px 2px 4px) rgba(105, 189, 249, 0.25);
  border-radius: 2px;
  padding: 0;
  margin: 0;
  top: rem(61px);
}

.dropdown-submenu__row {
  margin: rem(0 -10px);
}

.dropdown-submenu__col {
  padding: rem(0 10px);
}

.dropdown-submenu__block {
  padding: rem(20px);
  display: flex;
  flex-direction: column;
}

.dropdown-submenu__container {
}

.dropdown-submenu__header {
}

.dropdown-submenu__image-container {
  margin-bottom: rem(20px);
}

.dropdown-submenu__image {
  width: 100%;
  height: auto;
}

.dropdown-submenu__header-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h2;
}

.dropdown-submenu__arrow-selective {
  display: none;
  margin: rem(5px) 0 0 0;

  img {
    display: block;
    margin: auto;
  }
}

.dropdown-submenu__content {
}

.dropdown-submenu__item {
  padding-top: rem(20px);
}

.dropdown-submenu__item-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h4;
}

.dropdown-submenu__links-container {
  display: flex;
  flex-direction: column;
}

.dropdown-submenu__item-link {
  margin-bottom: rem(10px);
  font-style: normal;
  font-weight: 500;
  color: $blue;
  @extend %p3;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1300px) {
  // short
  .dropdown-submenu_short {
    .dropdown-submenu__body {
      padding: rem(10px);
    }

    .dropdown-submenu__row {
      margin: 0;
      position: relative;
    }

    .dropdown-submenu__col {
      padding: 0;
      position: static;
      cursor: pointer;
      opacity: 0.4;
    }

    .dropdown-submenu__block {
      padding: 0;
    }

    .dropdown-submenu__arrow-selective {
      display: block;
    }

    .dropdown-submenu__container {
    }

    .dropdown-submenu__header {
      padding: rem(10px);
      border: 1px solid;
      border-color: transparent;
      border-bottom: 0;
      position: relative;
      border-top-right-radius: rem(4px);
      border-top-left-radius: rem(4px);
      z-index: 3;
      background: $white;
    }

    .dropdown-submenu__inner-shell {
      display: none;
      padding: rem(20px 10px);
      position: absolute;
      width: 100%;
      border: 1px solid $ligth-blue;
      background: $white;
      z-index: 2;
      left: 0;
      bottom: rem(1px);
      border-bottom-right-radius: rem(4px);
      border-bottom-left-radius: rem(4px);
    }

    .dropdown-submenu__content {
      display: flex;
      flex-wrap: wrap;
      margin: rem(0 -20px);
    }

    .dropdown-submenu__item {
      padding: rem(0 20px);
    }

    // short-active
    .dropdown-submenu__col_short-active {
      cursor: default;
      opacity: 1;

      .dropdown-submenu__arrow-selective {
        opacity: 0;
      }

      .dropdown-submenu__header {
        border: 1px solid;
        border-color: $ligth-blue;
        border-bottom: 0;
      }

      .dropdown-submenu__inner-shell {
        display: block;
      }
    }
    // End short-active
  }
  // End short
}

@media screen and (max-width: 1299px) {
  .dropdown-submenu__toggle {
    span {
      display: none;
    }
  }

  .dropdown-submenu__triangle {
    display: none;
  }

  .dropdown-submenu__body {
    border: none;
  }

  .dropdown-submenu__row {
    flex-direction: column;
  }

  .dropdown-submenu__col {
    flex: 100%;
    max-width: 100%;
  }

  .dropdown-submenu__block {
    border-bottom: 1px solid $ligth-blue-4;
    padding: rem(20px 10px);
  }

  .dropdown-submenu__image-container {
    display: none;
  }

  .dropdown-submenu__header-title {
    height: auto !important;
  }
}

@keyframes da-pulse {
  0%,
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  48%,
  52% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
