.dropdown-block {
}

.dropdown-block__dropdown {
  width: 257px;
}

.dropdown-block__button {
  @extend %p11;
  font-weight: 600;
  color: $ligth-blue;
  border: 1px solid $ligth-blue;
  box-sizing: border-box;
  position: relative;
  padding: rem(10px 40px 10px 20px);
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $white;

  &:after {
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/arrow-blue.svg);
    width: 8px;
    height: 4px;
    position: absolute;
    right: rem(10px);
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &:focus {
    box-shadow: none;
  }
}

.dropdown-block__dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}

.dropdown-block__dropdown-item {
  @extend %p11;
  font-weight: 600;
  color: $ligth-blue;
  white-space: normal;
  cursor: pointer;

  &:hover {
    color: $ligth-blue;
  }

  &.active,
  &:active {
    background: transparent;
    color: $ligth-blue;
  }
}
