@mixin equipment-function-card_active {
  background: $light-gray;
}

.equipment-function-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(50px 30px 20px);
  background: $white;
  text-align: center;
  height: 100%;

  &:hover {
    @include equipment-function-card_active;
  }
}

.equipment-function-card_active {
  @include equipment-function-card_active;
}

.equipment-function-card__checkbox-radio-container {
  margin-bottom: rem(30px);

  .checkbox-block {
    margin: auto;
  }

  .radio-block {
    margin: auto;
  }
}

.equipment-function-card__icon {
  margin-bottom: rem(20px);
  max-height: 80px;
}

.equipment-function-card__title {
  font-style: normal;
  font-weight: 600;
  @extend %h4;
  color: $dark-blue;
  margin-bottom: rem(5px);
}

.equipment-function-card__text {
  font-style: normal;
  font-weight: normal;
  color: $blue;
  margin-bottom: rem(20px);
}

.equipment-function-card__price {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
}
