.equipment-card {
  border: 1px solid $light-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
  display: flex;
  flex-direction: column;
  height: 100%;
}

%equipment-card__title-price {
  @extend %p2;
  font-weight: 600;
  color: $dark-blue;
  padding: rem(20px);
}

.equipment-card__title {
  @extend %equipment-card__title-price;
  margin: 0;
  border-bottom: 1px solid $light-gray-2;
}

.equipment-card__image-container {
  padding: rem(20px);
  box-sizing: border-box;
}

.equipment-card__image {
  max-width: 100%;
  height: auto;
}

.equipment-card__price {
  @extend %equipment-card__title-price;
  margin: 0;
  border-top: 1px solid $light-gray-2;
}

.equipment-card__list {
  margin: 0;
  padding: rem(20px);
  list-style-type: none;
}

.equipment-card__li {
  @extend %p11;
  color: $dark-blue;
  margin: rem(0 0 10px);

  &:last-child {
    margin: 0;
  }
}

.equipment-card__button {
  @extend %equipment-card__button;
  font-weight: 600;
  margin: rem(auto 20px 20px);
  text-align: center;
}
