.equipment-terminal-block {
}

.equipment-terminal-block__title {
  @extend %h3;
  color: $dark-blue;
  font-weight: 600;
  margin-bottom: rem(20px);
}

.equipment-terminal-block__box {
  border: 2px solid $ligth-blue;
  border-radius: rem(4px);
  overflow: hidden;
}

// equipment
.equipment-terminal-block__equipment {
  @extend %equipment-card;
  border-bottom: 2px solid $ligth-blue;
}

.equipment-terminal-block__equipment-container {
  @extend %equipment-card__container;
}

.equipment-terminal-block__equipment-row {
  @extend %equipment-card__row;
}

.equipment-terminal-block__equipment-col {
  @extend %equipment-card__col;
}

.equipment-terminal-block__equipment-image-container {
  @extend %equipment-card__image-container;
}

.equipment-terminal-block__equipment-image {
  @extend %equipment-card__image;
}

.equipment-terminal-block__equipment-content {
  @extend %equipment-card__content;
}

.equipment-terminal-block__equipment-title {
  @extend %equipment-card__title;
  margin: rem(0 0 40px);
}

.equipment-terminal-block__equipment-price {
  @extend %equipment-card__price;
  margin: rem(0 0 20px);
}

.equipment-terminal-block__equipment-button-container {
  @extend %equipment-card__button-container;
}

.equipment-terminal-block__equipment-button {
  @extend %equipment-card__button;

  margin: rem(0 0 20px);

  &:last-child {
    margin: 0;
  }
}

// End equipment

// terminal
.equipment-terminal-block__header-box {
  padding: rem(40px 0 20px);
}

.equipment-terminal-block__header-container {
  padding: rem(0 20px);
}

.equipment-terminal-block__header-row {
  margin: rem(0 -18px);
}

.equipment-terminal-block__header-col {
  padding: rem(0 18px);
}

.equipment-terminal-block__terminal-one-preview {
}

.equipment-terminal-block__terminal-one-description {
}

// cost-block
.equipment-terminal-block__cost-block-box {
  margin: rem(0 0 20px);
}

.equipment-terminal-block__cost-block {
  @extend %cost-block;
}

.equipment-terminal-block__cost-block__price {
  @extend %cost-block__price;
  margin: 0;
}

.equipment-terminal-block__cost-block__button_more {
  // @extend %cost-block__button_more;
}
// End cost-block

// terminal-block-option
.equipment-terminal-block__terminal-block-option-box {
}

// .equipment-terminal-block__terminal-block-option-box_margin {
//   margin-bottom: rem(40px);
// }

.equipment-terminal-block__terminal-block-option-container {
  padding: rem(0 20px);
}

.equipment-terminal-block__terminal-block-option-row {
  margin: rem(0 -12px);
}

.equipment-terminal-block__terminal-block-option-col {
  padding: rem(0 12px);
}

.equipment-terminal-block__terminal-block-option-col_margin-bottom {
  margin: rem(0 0 20px);
}
// End terminal-block-option

// End terminal

@media screen and (max-width: 767px) {
  .equipment-terminal-block__equipment-image-container {
    margin: rem(0 0 20px);
  }

  .equipment-terminal-block__equipment-title {
    margin: rem(0 0 20px);
  }

  .equipment-terminal-block__cost-block__price {
    margin: rem(0 0 20px);
  }
}
