.equipment-block {
}

.equipment-block__container {
  padding: rem(0 20px);
}

.equipment-block__function-container {
  position: relative;
  overflow: hidden;
  padding-bottom: rem(20px);
}

.equipment-block__row {
  margin: rem(0 -12px);
}

.equipment-block__function-row {
  margin: rem(-1px -0.5px 0);
  position: relative;
}

.equipment-block__col {
  padding: rem(0 12px);
}

.equipment-block__function-col {
  padding: 0;
}

.equipment-block__function-col_border {
  border-color: $dark-gray-2;
  border-style: solid;
  border-width: 1px 0.5px 0;
}

.equipment-block__col_margin {
  margin-bottom: rem(20px);
}

.equipment-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  margin-bottom: rem(20px);
  text-align: center;
}

.equipment-block__title_light {
  color: $ligth-blue;
}

.equipment-block__title_dark {
  color: $blue;
}

.equipment-block__equipments {
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
}

// preview
.equipment-block__preview {
  padding: rem(40px 20px);
  text-align: center;
}

.equipment-block__preview-title {
  margin-bottom: rem(40px);
}
.equipment-block__preview-image {
  max-width: 100%;
  height: auto;
}
// End preview
