@mixin equipment-block-card_active {
  border-width: 2px;
  border-color: $ligth-blue;
}

.equipment-block-card {
  text-align: center;
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
  text-align: center;
  padding: rem(10px 10px 20px);

  &:hover {
    @include equipment-block-card_active;
  }
}

.equipment-block-card_active {
  @include equipment-block-card_active;

  .equipment-block-card__button {
    color: $white;
    background: $ligth-blue;
    border-color: $ligth-blue;
  }
}

.equipment-block-card__image {
  max-width: 100%;
  height: auto;
  margin-bottom: rem(28px);
}

.equipment-block-card-body {
  margin-bottom: rem(20px);
}

.equipment-block-card-footer {
  padding: rem(0 10px);
}

.equipment-block-card__title {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h3;
  margin-bottom: rem(20px);
}

.equipment-block-card__list {
  list-style-type: none;
  padding: 0;
  margin: rem(0 0 20px);
}
.equipment-block-card__li {
  font-style: normal;
  font-weight: normal;
  color: $blue;

  &:before {
    content: "—";
  }
}

.equipment-block-card__price {
  font-style: normal;
  font-weight: normal;
  color: $blue;
  @extend %h4;
  margin-bottom: 0;
}

.equipment-block-card__button {
  max-width: 210px;
  width: 100%;
}
