.feedback {
  padding: rem(80px 0 100px);
  background: $dark-blue;
}

.feedback__subtitle {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $ligth-blue;
  margin-bottom: rem(10px);
  text-align: center;
}

.feedback__title {
  font-style: normal;
  font-weight: 600;
  @extend %h1;
  color: $white;
  margin-bottom: rem(80px);
  text-align: center;
}

.feedback__form {
}

// form item
.feedback__form-group {
  display: flex;
}

.feedback__form-group_margin {
  margin-bottom: rem(20px);
}

.feedback__form-label {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $white;
  margin-bottom: 0;
  margin-top: rem(6px);
  flex: 0 0 220px;
}

.feedback__form-input-container {
  flex: auto;
}

.feedback__form-input {
  background: $white;
  border: 1px solid $ligth-blue;
  box-sizing: border-box;
  border-radius: rem(4px);
  padding: rem(10px 20px);
  font-style: normal;
  font-weight: normal;
  @extend %p2;
  color: $blue;
  width: 100%;

  &::placeholder {
    color: rgba($blue, 0.7);
  }

  &:focus {
    outline: none;
  }
}

.feedback__form-textarea {
  resize: vertical;
  min-height: 160px;
}
// End form item

.feedback__car {
  display: block;
  margin: rem(0 0 0 auto);
  max-width: 400px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  .feedback {
    padding: rem(40px 0 20px);
  }

  .feedback__title {
    margin-bottom: rem(40px);
  }

  .feedback__form {
    max-width: 500px;
    margin: auto;
    margin-bottom: rem(30px);
  }

  .feedback__form-group {
    flex-wrap: wrap;
  }

  .feedback__form-label {
    flex: 100%;
    margin: rem(0 0 10px);
  }

  .feedback__form-group_margin {
    margin-bottom: rem(30px);
  }

  .feedback__car {
    margin: auto;
  }
}
