.flag {
  width: 121px !important;
  .dropdown {
    // width: 100%;
    width: 121px !important;

    > .dropdown-menu {
      background: transparent;
      border: none;
      box-shadow: none;

      ul {
        background: transparent;
        border: none;
        box-shadow: none;

        li {
          background: $white;
          box-shadow: rem(0px 2px 4px) rgba(#000, 0.25);
          border-radius: rem(2px);
        }
      }
    }
  }
  .dropdown-toggle {
    padding: 0;
    border: none;
    outline: none;
    outline: none;
    box-shadow: none;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    &::after {
      content: "";
      display: block;
      background-image: url(../img/arrow.svg);
      background-position: center center;
      background-repeat: no-repeat;
      width: 8px;
      height: 4px;
      margin: 0;
      position: absolute;
      right: rem(10px);
      top: rem(12px);
      border: none;
    }
  }
  .filter-option {
    background: #1a4d62;
    border-radius: rem(2px);
    padding: 0;
    height: auto;

    .filter-option-inner-inner {
      // height: 100%;

      .flag__item {
        // flag-block
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: rem(10px);
        }
      }
    }
  }

  .dropdown-item {
    padding: 0;
    display: block;
    width: 121px;
    overflow: hidden;

    > span.text {
      display: block;
    }

    .flag__item {
      // flag-block
      span {
        color: $dark-blue-2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &.active {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      .flag__item {
        span {
          color: $white;
        }
      }
    }
  }

  .flag__item {
    // flag-block
    display: flex;
    align-items: center;
    padding: rem(5px);

    img {
      margin-right: rem(5px);
    }

    span {
      font-style: normal;
      font-weight: 600;
      color: $white;
      @extend %p4;
    }
  }
}

.flag_ligth {
  .dropdown-menu {
    position: absolute;
  }

  .dropdown-toggle {
    &:after {
      background-image: url(../img/arrow-black.svg);
    }
  }

  .filter-option,
  .dropdown-item:active,
  .dropdown-item.active {
    background: $ligth-blue-4;
  }

  .flag__item span,
  .dropdown-item .flag__item span,
  .dropdown-item.active .flag__item span,
  .dropdown-item:active .flag__item span {
    color: $dark-blue;
  }
}
