.footer {
  padding: rem(80px 0 60px);
  background: $dark-blue-3;
}

.footer__logo-container {
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: rem(20px);
}

.footer__logo-image {
}

.footer__logo-text {
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $white;
  margin-bottom: rem(20px);
}

.footer__paladin-engineering {
  font-style: normal;
  font-weight: normal;
  @extend %p4;
  color: $white;

  &:hover {
    color: $white;
  }
}

.footer__title {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $ligth-blue;
  margin-bottom: rem(4px);
}

%footer-text {
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $white;
}

.footer__text {
  @extend %footer-text;
  margin-bottom: 0;
}

.footer__link {
  display: inline-block;
  @extend %footer-text;
  margin-bottom: rem(10px);

  &:hover {
    color: $white;
  }
}

/*footer-copyright*/
.footer-copyright {
  padding: rem(20px 0);
  background: $dark-blue-3;
}

.footer-copyright__text {
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $white;
  text-align: center;
  margin-bottom: 0;
}
/*footer-copyright*/

@media screen and (max-width: 1023px) {
  .footer {
    padding: rem(40px 0 10px);
  }

  %footer__col {
    text-align: center;
    margin: rem(0 0 30px);
  }

  .footer__logo-col {
    order: 5;
    text-align: center;
  }

  .footer__address-col {
    order: 0;
    @extend %footer__col;
  }

  .footer__schedule-col {
    order: 1;
    @extend %footer__col;
  }

  .footer__phone-col {
    order: 3;
    @extend %footer__col;
  }

  .footer__mail-col {
    order: 4;
    @extend %footer__col;
  }
}
