.hierarchy {
  background: $ligth-blue;
  padding: rem(45px 0 10px);
}

.hierarchy__title {
  @extend %h1;
  color: $white;
  margin: rem(0 0 20px);
}

.hierarchy__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.hierarchy_li {
  padding-left: rem(16px);
  position: relative;
  @extend %p10;

  &:before {
    content: "";
    background: $white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: rem(8px);
  }

  &:first-child {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

.hierarchy__link {
  @extend %p10;
  color: $white;
  font-weight: 500;

  &:hover {
    color: $white;
  }
}

@media screen and (max-width: 1299px) {
  .hierarchy {
    padding-top: rem(75px);
  }
}

@media screen and (max-width: 1023px) {
  .hierarchy__title {
    text-align: center;
    // margin: 0;
  }

  // .hierarchy__list {
  //   display: none;
  // }
}
