.image-tooltip {
  max-width: 730px; //500px
  max-height: 964px; //500px
  position: relative;
}

.image-tooltip__image {
  @extend %image;
}

.image-tooltip__button-tooltip {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 2px solid $white;
  background-color: $ligth-blue;
  background-repeat: no-repeat;
  background-position: -72px -12px;
  background-image: url(../img/plus-minus-sprites.png);

  &:focus {
    outline: none;
  }
}

.image-tooltip__button-tooltip_active {
  background-position: -12px -12px;
}

.image-tooltip__button-tooltip-box {
  position: absolute;
}

// Buttom position от низа вверх
.image-tooltip__button-tooltip-box_1 {
  // bottom: 41px;
  // right: 281px;
  bottom: 4%;
  right: 37%;
}

.image-tooltip__button-tooltip-box_2 {
  // bottom: 215px;
  // right: 321px;
  bottom: 22%;
  right: 44%;
}

.image-tooltip__button-tooltip-box_3 {
  // bottom: 285px;
  // left: 195px;
  bottom: 30%;
  left: 27%;
}

.image-tooltip__button-tooltip-box_4 {
  // bottom: 143px;
  // right: 351px;
  bottom: 15%;
  right: 48%;
}

.image-tooltip__button-tooltip-box_5 {
  // bottom: 301px;
  // right: 386px;
  bottom: 31%;
  right: 53%;
}

.image-tooltip__button-tooltip-box_6 {
  // bottom: 683px;
  // left: 155px;
  bottom: 72%;
  left: 24%;
}

.image-tooltip__button-tooltip-box_7 {
  // top: 58px;
  // right: 138px;
  top: 6%;
  right: 19%;
}
// End Buttom position
