.info-title-block {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  // background: $ligth-blue-2;
  padding: rem(40px);
}

.info-title-block_align_left {
  align-items: flex-start;
}

.info-title-block_align_right {
  align-items: flex-end;
}

.info-title-block__subtitle {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $ligth-blue;
  margin-bottom: rem(10px);
}

.info-title-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h1;
  color: $dark-blue;
  margin-bottom: rem(40px);
}

.info-title-block__button {
}

@media screen and (max-width: 1023px) {
  .info-title-block {
    align-items: center;
    text-align: center;
    word-break: break-word;
    padding: rem(40px 0);
  }
}
