.info-partners-block {
  padding: rem(160px 0);
}

.info-partners-block__container {
  padding: rem(0 40px);
}

.info-partners-block__row {
  display: flex;
  flex-wrap: wrap;
  margin: rem(0 -40px);
}

.info-partners-block__col {
  padding: rem(0 40px);
  margin-bottom: rem(40px);
}

@media screen and (max-width: 1023px) {
  .info-partners-block {
    padding: rem(40px 0);
  }

  .info-partners-block__row {
    justify-content: center;
  }
}
