.info-news-block {
  display: flex;
  padding: rem(40px);
}

.info-news-block__image {
  margin: rem(0 40px 0 0);
}

.info-news-block__content {
  padding-top: rem(20px);
}

.info-news-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $dark-blue;
  margin-bottom: rem(20px);
}

.info-news-block__text {
  font-style: normal;
  font-weight: normal;
  color: $dark-blue;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .info-news-block {
    flex-direction: column;
    align-items: center;
    padding: rem(40px 0);
  }

  .info-news-block__image {
    margin: 0;
  }
}
