.info-video-block {
  padding: rem(110px 40px);
}

.info-video-block__video-container {
  @include video-container_4by3;
}

@media screen and (max-width: 1023px) {
  .info-video-block {
    padding: rem(40px 0);
  }
}
