.info-press-block {
  padding: rem(80px 40px 80px 110px);
}

.info-press-block__image {
  margin: rem(0 0 40px);
}

.info-press-block__text {
  position: relative;
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $blue;
  margin-bottom: 0;

  &:before {
    content: "";
    display: block;
    width: 37px;
    height: 33px;
    background: url(../img/quotes.svg) no-repeat;
    position: absolute;
    top: 0;
    left: rem(-57px);
  }
}

@media screen and (max-width: 1023px) {
  .info-press-block {
    padding: rem(40px 0 40px 30px);
  }

  .info-press-block__image {
    display: block;
    margin: rem(0 auto 40px);
  }

  .info-press-block__text {
    &:before {
      width: 20px;
      height: 18px;
      background-size: contain;
      left: rem(-30px);
    }
  }
}
