.installation-equipment-block-card {
  padding: rem(10px);
  border: 1px solid transparent;
  border-radius: rem(4px);
}

.installation-equipment-block-card_active {
  border-color: $ligth-blue;
  background-color: $light-gray;

  .installation-equipment-block-card__button {
    @extend %card_active;
  }
}

.installation-equipment-block-card__image-container {
  @extend %card__image-container;
  margin-bottom: rem(20px);
}

.installation-equipment-block-card__image {
  @extend %card__image;
}

.installation-equipment-block-card__content {
  @extend %card__content;
}

.installation-equipment-block-card__title {
  @extend %card__title;
  margin-bottom: rem(20px);
}

.installation-equipment-block-card__list {
  @extend %card__list;
  margin-bottom: rem(20px);
}

.installation-equipment-block-card__li {
  @extend %card__li;
}

.installation-equipment-block-card__price {
  @extend %card__price;
  margin-bottom: rem(20px);
}

.installation-equipment-block-card__button {
  @extend %card__button;
}
