.installation-equipment-block {
  padding: rem(40px 0 10px);
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
}

.installation-equipment-block__container {
  padding: rem(0 10px);
}

.installation-equipment-block__row {
  margin: rem(0 -10px);
}

.installation-equipment-block__col {
  padding: rem(0 10px);
}

.installation-equipment-block__col_margin {
  margin: rem(0 0 20px);
}

.installation-equipment-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
  padding: rem(0 10px);
  margin: rem(0 0 40px);
}
