.media-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $ligth-blue;
  box-sizing: border-box;
  border-radius: rem(4px);
  padding: rem(30px 40px 40px);
}

.media-card__content {
  padding: rem(0 40px 0 0);
}

.media-card__image-container {
  margin: rem(0 0 30px 0);
}

.media-card__image {
  height: 45px;
  width: auto;
}

.media-card__title {
  @extend %h2;
  font-weight: 600;
  color: $dark-blue;
  margin: 0;
}

.media-card__button {
  font-weight: 600;
  box-sizing: border-box;
  width: 230px;
  flex: 0 0 230px;
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .media-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: rem(20px);
  }

  .media-card__content {
    padding: 0;
    margin: rem(0 0 20px);
  }

  .media-card__button {
    flex: none;
  }
}
