.modal-search {
}

.modal-search__dialog {
  max-width: 100% !important;
  margin: 0;
  padding: 0 !important;
  align-items: flex-start;
}

.modal-search__content {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: hidden;
}

.modal-search__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
  border-bottom: none;
  padding: rem(0 20px);
}

.modal-feedback__close {
  cursor: pointer;
  display: block;
  z-index: 2;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-search__body {
  padding: rem(0 20px 20px);
}

.modal-search__input-search {
  display: block;
  width: 100%;
  @extend %p4;
  color: rgba(1, 58, 81, 0.5);
  font-weight: 600;
  margin-bottom: 0;
  border-radius: rem(4px);
  border: none;
  padding: rem(10px 10px 10px 30px);
  background: none;
  background: $ligth-blue-4 url(../img/search-black.svg) no-repeat left
    rem(10px) center;

  &::placeholder {
    color: rgba(1, 58, 81, 0.5);
  }
}

.modal-search__result {
  margin: rem(40px 0 0);
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.modal-search__list {
  list-style-type: none;
  padding: rem(0 0 60px 0);
  margin: 0;
}

.modal-search__li {
}

.modal-search__link {
  display: block;
  @extend %p12;
  font-weight: 600;
  color: $blue;
  text-decoration: none;
  padding: rem(5px 0);
}
