.modal-terminal {
  .modal-dialog {
    max-width: 840px; //1060px
  }
}

.modal-terminal__content {
  border: none;
  background: transparent;
  border-radius: rem(4px);
}

.modal-terminal__header {
  @extend %modal__header;

  .modal-terminal__close {
    @extend %modal__close;
  }
}

.modal-terminal__title {
  @extend %modal__title;
}

.modal-terminal__body {
  padding: 0;
  background: $white;
  border-bottom-right-radius: rem(4px);
  border-bottom-left-radius: rem(4px);
}

.modal-terminal__slider-container {
}

.modal-terminal__slider-container_margin {
  margin-bottom: rem(40px);
}

.modal-terminal__slider-item {
}

.modal-terminal__image-tooltip {
  margin: auto;
}

.modal-terminal__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-terminal__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

// .modal-terminal__table-container {
// }

// .modal-terminal__table {
//   %th-td {
//     font-style: normal;
//     color: $dark-blue;
//     padding: rem(15px 40px);
//   }

//   thead th {
//     background: $light-gray;
//     border-bottom: 1px solid $dark-gray-2;
//     font-weight: 600;
//     @extend %th-td;
//     @extend %p3;
//   }

//   tbody tr:nth-of-type(even) {
//     background: $dark-gray-3;
//   }

//   td {
//     font-weight: normal;
//     @extend %p2;
//     @extend %th-td;
//     text-align: right;
//   }

//   .modal-terminal__table-title-cell {
//     font-weight: 600;
//     @extend %p2;
//     @extend %th-td;
//     text-align: left;
//   }
// }

.modal-terminal__footer {
  border-top: none;
  display: block;
  padding: rem(10px);
}

.modal-terminal__slider-indicators-container {
  padding: rem(0 5px);

  .carousel-indicators {
    @extend %carousel-indicators;
    margin: rem(0 -5px);

    li {
      @extend %carousel-indicators__item;
      width: 100px;
      height: 100px;
      background: $white;
      border: 1px solid $dark-gray-2;
      border-radius: rem(10px);
      margin: rem(0 5px 10px);

      img {
        @extend %carousel-indicators__image;
      }

      &.active {
      }
    }
  }
}
