.modal-success {
}

.modal-success__content {
  @extend %modal__content;
}

.modal-success__header {
  @extend %modal__header;

  .modal-success__close {
    @extend %modal__close;
  }
}

.modal-success__title {
  @extend %modal__title;
}
