.modal-feedback {
}

.modal-feedback__content {
  @extend %modal__content;
  // margin-top: auto;
  // margin-bottom: auto;
}

.modal-feedback__header {
  @extend %modal__header;

  .modal-feedback__close {
    @extend %modal__close;
  }
}

.modal-feedback__title {
  @extend %modal__title;
}

.modal-feedback__body {
  padding: rem(10px 20px);
}

.modal-feedback__form-group {
  margin-bottom: 0;
  margin-top: rem(30px);
}

.modal-feedback__label {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %p2;
  padding: 0;
  margin-bottom: rem(2px);
}

%modal-feedback__input-textarea {
  color: $dark-blue;
  @extend %p2;
  border: 1px solid $light-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);

  &::placeholder {
    color: rgba(33, 98, 132, 0.7);
  }
}

.modal-feedback__input {
  @extend %modal-feedback__input-textarea;
  padding: rem(10px 20px);
}

.modal-feedback__textarea {
  @extend %modal-feedback__input-textarea;
  padding: rem(15px 20px);
  min-height: 130px;
  resize: vertical;
}

.modal-feedback__button {
  font-weight: 600;
  box-sizing: border-box;
  margin-top: rem(20px);
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 174px;
}

.modal-feedback__footer {
  padding: rem(20px);
}

.modal-feedback__text-policy {
  @extend %p10;
  color: $dark-blue;
  margin-bottom: 0;
}

.modal-feedback__link-policy {
  @extend %p10;
  text-decoration: underline;
  color: $ligth-blue;
}
