// new menu

.menu {
  width: 100%;
  position: relative;
}

.menu__navbar {
  //navbar
}

.menu__navbar-collapse {
  //navbar-collapse
}

.menu__container {
  //menu-row
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu__top-nav {
  // menu-top
  background: $dark-blue;
}

.menu__top-nav-content {
  // menu-top-content
  display: flex;
  align-items: center;
  padding-top: rem(10px);
  padding-bottom: rem(10px);
}

.menu__top-navbar-nav-left {
  // navbar-nav-left
  align-items: center;
}

.menu__flag {
  // flag
  // flag-wrap
}

.menu__search {
  // search
  // search-wrap

  padding-left: rem(40px);
}

.menu__top-navbar-nav-right {
  // navbar-nav-right
  align-items: center;
}

.menu__top-right-nav-item {
  // nav-item
  padding-left: rem(40px);
}

.menu__top-right-nav-link {
  // nav-link

  position: relative;
  font-weight: 600;
  font-style: normal;
  color: $white;
  @extend %p2;

  &:before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: rem(-15px);
  }

  &:hover {
    color: $white;
  }
}

.menu__top-right-nav-item_clock {
  // clock
  .menu__top-right-nav-link {
    &:before {
      background: url(../img/clock.svg) no-repeat left center;
    }
  }
}

.menu__top-right-nav-item_phone {
  // phone
  .menu__top-right-nav-link {
    &:before {
      background: url(../img/phone.svg) no-repeat left center;
    }
  }
}

.menu__top-right-nav-item_mail {
  // mail
  .menu__top-right-nav-link {
    &:before {
      background: url(../img/mail.svg) no-repeat left center;
    }
  }
}

/*menu-bottom */
.menu__bottom-nav {
  // menu-bottom
  background: $ligth-blue;
}

.menu__bottom-nav-content {
  // menu-bottom-content
  display: flex;
  align-items: center;
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  position: relative;
}

.menu__navbar-nav-content {
  // navbar-nav
  align-items: center;
}

.menu__bottom-nav-item {
  // nav-item
  margin-left: rem(30px);
}

.menu__bottom-nav-link {
  // nav-link
  position: relative;
  z-index: 2;
  padding: rem(5px 10px);
  border-radius: rem(6px);
  font-style: normal;
  font-weight: 600;
  color: $white;
  @extend %p7;

  &:hover {
    transition: all 0.2s;
    background: rgba($white, 0.3);
    color: $white;
  }

  &:focus,
  &:active {
    color: $white;
  }

  &.active {
    background: rgba($white, 0.3);
    color: $white;
  }
}

.menu__bottom-nav-item_callback {
  // callback-link-wrap

  .menu__bottom-nav-link {
    // callback-link
    padding: rem(10px 20px);
    border: rem(2px) solid $white;
    box-sizing: border-box;
    border-radius: rem(10px);
  }
}

// mob menu

// End mob menu

@media screen and (min-width: 1300px) {
  html,
  body {
    overflow: auto !important;
    position: static !important;
  }

  .menu__container {
    height: auto !important;
  }

  .menu__bottom-nav {
    padding-bottom: 0 !important;
  }

  .menu {
    .menu__top-navbar-nav-right {
      .menu__top-right-nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .menu__navbar-row {
    //navbar-row-mob
    display: none;
  }

  .menu__nav-footer {
    // nav-footer
    display: none;
  }
}

@media screen and (max-width: 1420px) {
  .menu__top-right-nav-link {
    @include p11;
  }

  .menu__bottom-nav-link {
    @include p11;
  }
}

@media screen and (max-width: 1299px) {
  // mob menu
  .menu__navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .menu__navbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px 20px);
    width: 100%;
    background: $ligth-blue;
  }

  .menu__navbar-row_active {
    box-shadow: rem(0px 9px 4px) rgba(1, 58, 81, 0.2);
    background: #fff;

    .menu__navbar-brand {
      background: none;

      &:after {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  .menu__phone {
    // menu-phone-mob
    overflow: hidden;
    border-radius: 50%;
    // @extend %hide-on-desctop;
  }

  .menu__navbar-brand {
    //navbar-brand-mob
    width: 96px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/logo-white-mob.svg);
    position: relative;

    // @extend %hide-on-desctop;

    &:after {
      opacity: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../img/logo-blue-mob.svg);
    }
  }

  .menu__navbar-toggler {
    //navbar-toggler
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;

    &:focus {
      outline: none;
    }

    .menu__navbar-toggler-icon {
      //navbar-toggler-icon
      background: none;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../img/menu.svg);
    }

    &[aria-expanded="true"] {
      .menu__navbar-toggler-icon {
        //navbar-toggler-icon
        background-image: url(../img/menu_cross.svg);
      }
    }
  }

  .menu__container {
    overflow-y: auto;
    overflow-x: hidden;

    .container {
      max-width: 100%;
      width: 100%;
      padding: 0;

      .row {
        margin: 0;
        > div {
          padding: 0;
        }
      }
    }
  }

  // top
  .menu__top-nav {
    background: $white;
  }

  .menu__top-navbar-nav-left {
    display: none;
  }

  .menu__top-navbar-nav-right {
    margin-right: auto;
    padding: rem(10px 0);

    .menu__top-right-nav-item_phone {
      display: block;
      background: $ligth-blue-4;
      border-radius: rem(10px);
      padding-left: rem(22px);
      margin-bottom: rem(10px);
      // width: 160px;
      width: 100%;

      .menu__top-right-nav-link {
        color: $dark-blue;
        padding: rem(8px 10px 8px 11px);

        &:before {
          background: url(../img/phone-black.svg) no-repeat left center;
        }
      }
    }
  }

  .menu__top-right-nav-item {
    display: none;
  }
  // End top

  // bottom
  .menu__bottom-nav {
    background: $white;
  }

  .menu__bottom-nav-content {
    display: flex;
    flex-direction: column;
  }

  .menu__navbar-brand-bottom {
    // navbar-brand
    display: none;
  }

  .menu__navbar-nav-content {
    margin-right: auto;
    width: 100%;
  }

  .menu__bottom-nav-item {
    margin-left: 0;
    width: 100%;
    text-align: center;

    &:nth-last-child(2) {
      .menu__bottom-nav-link {
        border-bottom: 1px solid transparent;
      }
    }
  }

  .menu__bottom-nav-item_callback {
    width: auto;

    .menu__bottom-nav-link {
      border: 2px solid $ligth-blue;
      border-radius: rem(10px);
      padding: rem(10px 20px);
    }
  }

  .menu__bottom-nav-link {
    border-radius: 0;
    color: $ligth-blue;
    border-bottom: 1px solid $ligth-blue-4;
    padding: rem(20px);

    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $ligth-blue;
      background: transparent;
    }
  }
  // End bottom

  // footer
  .menu__nav-footer {
    // nav-footer
    display: flex;
    align-items: center;
    padding-bottom: rem(40px);
    width: 100%;
  }

  .menu__nav-item-footer {
    // nav-item
    padding: 0;
    width: auto;
    margin-top: rem(40px);

    .nav-link {
      position: relative;
      padding: rem(5px 10px);

      font-weight: 600;
      font-style: normal;
      color: $blue;
      @include p2;

      &:before {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: rem(-10px);
      }
    }
  }

  .menu__footer-flag {
    // flag
  }

  .menu__footer-search {
    position: relative;
  }

  .menu__search-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }

  .menu__nav-item-footer_clock {
    .nav-link:before {
      background: url(../img/clock-black.svg) no-repeat left center;
    }
  }

  .menu__nav-item-footer_mail {
    margin-top: rem(20px);

    .nav-link:before {
      background: url(../img/mail-black.svg) no-repeat left center;
    }
  }

  .dropdown-submenu__shell {
    height: auto !important;
  }

  // footer

  // End mob menu
}
