.news-card {
  border: 1px solid $ligth-blue;
  box-sizing: border-box;
  border-radius: rem(4px);
  display: flex;
}

.news-card__image-container {
  flex: 0 1 510px;
  overflow: hidden;
  border-radius: rem(4px);
  margin: rem(0 40px 0 0);
}

.news-card__image {
  height: 100%;
  width: 100%;
  max-width: 510px;
  object-fit: cover;
  border-radius: rem(4px);
}

.news-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(20px 20px 34px 0);
}

.news-card__body {
}

.news-card__title {
  @extend %h2;
  font-weight: 600;
  color: $dark-blue;
  margin: rem(0 0 10px);
}

.news-card__text {
  @extend %p1;
  color: $dark-blue;
  word-wrap: break-word;
  max-width: 510px;
  margin: 0;
}

.news-card__footer {
}

.news-card__date {
  @extend %p4;
  color: rgba(1, 58, 81, 0.6);
  margin: rem(10px 0 35px);
}

.news-page__button-container {
  text-align: center;
  padding-top: rem(40px);
  padding-bottom: rem(80px);
}

.news-card__button {
  font-weight: 600;
  text-align: center;
  width: 100%;
  max-width: 188px;
}

@media screen and (max-width: 1023px) {
  .news-card {
    flex-direction: column;
  }

  .news-card__image-container {
    margin: 0;
    flex: none;
  }

  .news-card__image {
    object-fit: contain;
    height: auto;
    max-width: 100%;
  }

  .news-card__content {
    padding: rem(20px 20px 34px);
  }

  .news-card__footer {
    text-align: center;
  }

  .news-card__date {
    text-align: left;
  }
}
