.object-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.object-card__image-container {
  margin: rem(0 0 20px);
}

.object-card__image {
  width: 100%;
  height: auto;
  border-radius: rem(4px);
}

.object-card__title {
  @extend %h2;
  font-weight: 600;
  color: $ligth-blue;
  margin: rem(0 0 10px);
}

.object-card__address {
  @extend %p1;
  color: $dark-blue;
  border-bottom: 1px solid $light-gray-2;
  padding: rem(0 0 7px);
  margin: rem(0 0 20px);
}

.object-card__subtitle {
  @extend %p2;
  font-weight: 600;
  color: $dark-blue;
  margin: rem(0 0 10px);
}

.object-card__text {
  @extend %p1;
  color: $dark-blue;
}

.object-card__button {
  font-weight: 600;
}
