.partners {
  background: $ligth-blue-2;
  padding: rem(40px 0 60px);
}

.partners__title {
  @extend %h2;
  color: $ligth-blue;
  font-weight: 600;
  text-align: center;
  margin-bottom: rem(80px);
}

.partners__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partners__image {
  max-width: 100%;
  height: auto;
  padding: rem(0 40px 20px);
}

// html in about.html

@media screen and (max-width: 1023px) {
  .partners {
    padding: rem(40px 0);
  }

  .partners__title {
    margin-bottom: rem(40px);
  }
}
