.post-block {
  padding: rem(20px 40px 25px);
  background: $white;
  border: 1px solid $dark-gray-2;
  border-radius: rem(4px);
}

.post-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
  margin-bottom: rem(30px);
  text-align: center;
}

.post-block__container {
  padding: rem(0 10px);
}

.post-block__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: rem(0 -10px);
}

.post-block__col {
  padding: rem(0 10px);
  margin: rem(0 0 10px);
}

@mixin post-block__button_active {
  background: $ligth-blue;
  color: $white;
  border-color: $ligth-blue;
}

.post-block__button {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid $dark-gray-2;
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $blue;

  &:hover {
    @include post-block__button_active;
  }
}

.post-block__button_active {
  @include post-block__button_active;
}
