@mixin purifier-block-card_active {
  border-color: $ligth-blue;
  background-color: $light-gray;
}

.purifier-block-card {
  background: $white;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: rem(4px);
  padding: rem(10px 20px 10px 10px);
  display: flex;

  &:hover {
    @include purifier-block-card_active;
  }
}

.purifier-block-card_active {
  @include purifier-block-card_active;

  .purifier-block-card__button {
    background: $ligth-blue-3;
  }
}

.purifier-block-card__image-container {
  background: $light-gray-5;
  border: 1px solid $light-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
  padding: rem(12px);
  margin: rem(0 40px 0 0);
  flex: 0 0 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purifier-block-card__image {
  max-width: 100%;
  height: auto;
}

.purifier-block-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purifier-block-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(20px);
}

%purifier-block-card__title-price {
  font-style: normal;
  font-weight: 600;
  @extend %p1;
  color: $dark-blue;
  margin-bottom: 0;
}

.purifier-block-card__title {
  @extend %purifier-block-card__title-price;
}

.purifier-block-card__price {
  @extend %purifier-block-card__title-price;
}

.purifier-block-card__body {
  margin-bottom: rem(30px);
}

.purifier-block-card__body-title {
  font-style: normal;
  font-weight: normal;
  @extend %p4;
  color: $blue;
  margin-bottom: rem(20px);
}

%purifier-block-card__text-li {
  font-style: normal;
  font-weight: normal;
  @extend %p1;
  color: $dark-blue;
}

.purifier-block-card__text {
  @extend %purifier-block-card__text-li;
  margin-bottom: rem(20px);
}

.purifier-block-card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: rem(20px);
}

.purifier-block-card__li {
  @extend %purifier-block-card__text-li;
}

.purifier-block-card__footer {
}

.purifier-block-card__button {
  max-width: 230px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .purifier-block-card {
    flex-direction: column;
  }

  .purifier-block-card__image-container {
    margin: rem(0 0 20px);
    flex: none;
  }

  .purifier-block-card__content {
    text-align: center;
  }

  .purifier-block-card__header {
    flex-direction: column;
  }

  .purifier-block-card__title {
    margin: rem(0 0 10px);
  }
}
