.purifiers-block {
  padding: rem(40px 0 10px);
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
}

.purifiers-block__container {
  padding: rem(0 10px);
}

.purifiers-block__row {
  margin: rem(0 -10px);
}

.purifiers-block__col {
  padding: rem(0 10px);
}

.purifiers-block__col_margin {
  margin-bottom: rem(20px);
}

.purifiers-block__title-container {
  padding: rem(0 10px);
  margin-bottom: rem(10px);
}

.purifiers-block__title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
  margin-bottom: 0;
}
