.radio-block {
  @extend %radio-checkbox-block;
}

.radio-block_active {
  .radio-block__label {
    @extend %radio-checkbox-block_active__label;
  }
}

.radio-block__label {
  @extend %radio-checkbox-block__label;
  border-radius: 50%;
}

.radio-block__input {
  @extend %radio-checkbox-block__input;
}
