.search {
  .search__form-control {
    // form-control
    border-radius: rem(4px);
    border: none;
    padding: rem(10px);
    padding-left: rem(30px);
    background: rgba($white, 0.1) url(../img/search.svg) no-repeat left
      rem(10px) center;

    font-style: normal;
    font-weight: 600;
    color: $white;
    @extend %p4;

    &::placeholder {
      color: rgba($white, 0.7);
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.search_ligth {
  .search__form-control {
    background: none;
    background: $ligth-blue-4 url(../img/search-black.svg) no-repeat left
      rem(10px) center;
    color: rgba(1, 58, 81, 0.5);

    &::placeholder {
      color: rgba(1, 58, 81, 0.5);
    }
  }
}
