.server-card {
  @extend %equipment-card;
  border: 1px solid $dark-gray-2;
  border-radius: rem(5px);
}

.server-card__container {
  @extend %equipment-card__container;
}

.server-card__row {
  @extend %equipment-card__row;
}

.server-card__col {
  @extend %equipment-card__col;
}

.server-card__image-container {
  @extend %equipment-card__image-container;
}

.server-card__image {
  @extend %equipment-card__image;
}

.server-card__content {
  @extend %equipment-card__content;
}

.server-card__title {
  @extend %equipment-card__title;
  margin: rem(0 0 40px);
}

.server-card__price {
  @extend %equipment-card__price;
  margin: rem(0 0 20px);
}

.server-card__button-container {
  @extend %equipment-card__button-container;
}

.server-card__button {
  @extend %equipment-card__button;
  margin: rem(0 0 20px);

  &:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .server-card__image-container {
    margin: rem(0 0 20px);
  }

  .server-card__title {
    margin: rem(0 0 20px);
  }
}
