.sidebar-calculator {
}

.sidebar-calculator__container {
}

.sidebar-calculator__total-cost {
  margin-bottom: rem(40px);
}

.sidebar-calculator__title {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h3;
  margin-bottom: rem(20px);
}

.sidebar-calculator__subtitle {
  padding: rem(8px 10px 7px);
  margin-bottom: rem(10px);
  border-radius: rem(4px);
  background: $ligth-blue;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  @extend %p4;
  color: $white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-calculator__group {
  position: relative;
  padding: rem(20px 0 20px 20px);
  background: $white;
  border: 1px solid $dark-gray-2;
  border-radius: rem(10px);
}

.sidebar-calculator__group_disabled {
  background: $light-gray;
}

.sidebar-calculator__group_margin_20 {
  margin-bottom: rem(20px);
}

.sidebar-calculator__group_margin_10 {
  margin-bottom: rem(10px);
}

.sidebar-calculator__group-item {
  margin-bottom: rem(20px);

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebar-calculator__group-close {
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar-calculator__group-title {
  font-style: normal;
  font-weight: 600;
  @extend %h4;
  color: $dark-blue;
  padding: rem(10px 15px 0);
  margin-bottom: rem(20px);
}

// toggle
.sidebar-calculator__toggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

// toggle_active
.sidebar-calculator__toggle_active {
  .sidebar-calculator__toggle-image {
    transform: rotate(180deg);
  }
}
// End toggle_active

.sidebar-calculator__toggle-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.sidebar-calculator__toggle-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: rem(-24px);
  width: 24px;
  height: 35px;
  border-top-left-radius: rem(4px);
  border-bottom-left-radius: rem(4px);
  background: $white;
  box-shadow: rem(0px 4px 4px) rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.sidebar-calculator__toggle-image {
}
// End toggle

@media screen and (min-width: 1300px) {
  .sidebar-calculator {
    right: auto !important;
  }
}

@media screen and (max-width: 1299px) {
  .sidebar-calculator {
    flex: 100%;
    max-width: 288px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: rem(-288px);
    background: $white;
    box-sizing: border-box;
    z-index: 4;
  }

  .sidebar-calculator__toggle {
    display: block;
  }

  .sidebar-calculator__container {
    overflow: auto;
    height: 100vh;
    padding: rem(70px 0 50px);
  }
}
