.slogan {
  background: $ligth-blue-2;
  padding: rem(80px 0 40px);
}

.slogan__title {
  @extend %h2;
  font-weight: 600;
  color: $dark-blue;
}

.slogan__content {
}

.slogan__text {
  color: $dark-blue;
  @extend %p1;
}

// html in about.html

@media screen and (max-width: 1023px) {
  .slogan {
    padding: rem(20px 0);
  }
}
