.tabs-block {
}

.tabs-block__nav {
  display: flex;
  background: $light-gray;
  border: 1px solid $dark-gray-2;
  border-bottom: none;
  box-sizing: border-box;
  border-radius: rem(4px);
  overflow: hidden;
  margin: rem(0 0 40px);
}

.tabs-block__nav-item {
  flex: auto;
  @extend %p3;
  color: $dark-blue;
  font-weight: 600;
  text-align: center;
  position: relative;
  border-bottom: 1px solid $dark-gray-2;

  .tabs-block__nav-link {
    background: transparent;
    border-radius: 0;
    padding: rem(15px);
    position: relative;

    &:before {
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      bottom: rem(-1px);
      left: 0;
      right: 0;
      background: $ligth-blue;
      opacity: 0;
    }

    &.active {
      background: $white;
      color: $dark-blue;
      // border-bottom-color: transparent;

      &:before {
        opacity: 1;
      }
    }
  }
}

.tabs-block__nav-item + .tabs-block__nav-item {
  border-left: 1px solid $dark-gray-2;
}

.tabs-block__button {
}

.tabs-block__tab-content {
}

.tabs-block__tab-pane {
}
