.terminals-block-card {
  background: $white;
  cursor: pointer;
}

.terminals-block-card_active {
  position: relative;
  z-index: 1;

  .terminals-block-card-border-container {
    border-color: $ligth-blue;
  }

  .terminals-block-card-image-container {
    border-color: transparent;
  }

  .terminals-block-card-image {
    zoom: 1.3;
  }
}

.terminals-block-card-title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
  text-align: center;
  margin-bottom: rem(20px);
}

.terminals-block-card-border-container {
  padding-bottom: rem(20px);
  border: 2px solid transparent;
  border-bottom: none;
  border-top-right-radius: rem(4px);
  border-top-left-radius: rem(4px);
}

.terminals-block-card-image-container {
  border: 1px solid $dark-gray-2;
  border-radius: rem(4px);
  padding: rem(30px 0);
}

.terminals-block-card-image {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .terminals-block-card {
    padding: rem(10px 0 0);
    border: 2px solid transparent;
    border-radius: rem(4px);
  }

  .terminals-block-card-border-container {
    padding-bottom: 0;
  }

  .terminals-block-card_active {
    border-color: $ligth-blue;

    .terminals-block-card-border-container {
      border: none;
    }
  }
}
