.terminal-big-block {
  background: $white;
  border: 2px solid $ligth-blue;
  box-sizing: border-box;
  border-radius: rem(4px);
}

.terminal-big-block__header-box {
  padding: rem(40px 0 20px);
}

.terminal-big-block__header-container {
  padding: rem(0 20px);
}

.terminal-big-block__header-row {
  margin: rem(0 -18px);
}

.terminal-big-block__header-col {
  padding: rem(0 18px);
}

.terminal-big-block__terminal-one-preview {
}

.terminal-big-block__terminal-one-description {
}

// cost-block
.terminal-big-block__cost-block-box {
  margin: rem(0 0 20px);
}

.terminal-big-block__cost-block {
  @extend %cost-block;
}

.terminal-big-block__cost-block__price {
  @extend %cost-block__price;
  margin: 0;
}

.terminal-big-block__cost-block__button_more {
  // @extend %cost-block__button_more;
}
// End cost-block

// functions
.terminal-big-block__functions {
}

.terminal-big-block__functions-title {
  @extend %h3;
  color: $dark-blue;
  font-weight: 600;
  margin: rem(0 0 40px);
}

.terminal-big-block__functions-container {
  padding: 0;
}

.terminal-big-block__functions-row {
  margin: 0;
}

.terminal-big-block__functions-col {
  padding: 0;
}
// End functions

// terminal-block-option
.terminal-big-block__terminal-block-option-box {
}

.terminal-big-block__terminal-block-option-box_margin {
  margin: rem(0 0 40px);
}

.terminal-big-block__terminal-block-option-container {
  padding: rem(0 20px);
}

.terminal-big-block__terminal-block-option-row {
  margin: rem(0 -12px);
  justify-content: center;
}

.terminal-big-block__terminal-block-option-col {
  padding: rem(0 12px);
}

.terminal-big-block__terminal-block-option-col_margin-bottom {
  margin: rem(0 0 20px);
}
// End terminal-block-option

@media screen and (max-width: 767px) {
  .terminal-big-block__cost-block__price {
    margin: rem(0 0 20px);
  }

  .terminal-big-block__functions-title {
    text-align: center;
  }

  .terminal-big-block__functions-col {
    .terminal-block-function {
      padding: rem(0 20px);
    }
  }
}
