.terminal-one-preview {
  text-align: center;
}

.terminal-one-preview__title {
  @extend %h3;
  color: $dark-blue;
  font-weight: 600;
  margin-bottom: rem(20px);
}

.terminal-one-preview__image {
  max-width: 100%;
  height: auto;
}
