.terminals-block {
}

.terminal-block__terminals-container {
  overflow: hidden;
}

.terminal-block__terminal-container {
  padding: 0; //rem(0 7px)
}

.terminal-block__terminal-row {
  margin: rem(0 -7px);
}

.terminal-block__terminal-col {
  padding: rem(0 7px);
  align-self: flex-end;
}

//options

.terminal-block__options-container {
}

.terminal-block__options-card {
  border: 2px solid $ligth-blue;
  border-bottom-right-radius: rem(4px);
  border-bottom-left-radius: rem(4px);
  display: none;
}

.terminal-block__options-card_active {
  display: block;
}

.terminal-block__options-card_shift-top {
  position: relative;
  top: -2px;
}

.terminal-block__options-container-inner {
  padding: rem(0 12px);
}

.terminal-block__options-row {
  margin: rem(0 -12px);
  justify-content: center;
}

.terminal-block__options-row_margin-bottom {
  margin-bottom: rem(40px);
}

.terminal-block__options-col {
  padding: rem(0 12px);
}

.terminal-block__options-functions-col {
  padding: 0;

  .terminal-block-function__container {
    border-bottom: 1px solid $dark-gray-2;
  }

  &:last-child {
    .terminal-block-function__container {
      border-bottom: none;
    }
  }
}

.terminal-block__options-col_margin-bottom {
  margin-bottom: rem(20px);
}

// cost-block
.terminal-block__cost-block {
  @extend %cost-block;
}

.terminal-block__price {
  @extend %cost-block__price;
  margin: 0;
}

.terminal-block__button_more {
  // @extend %cost-block__button_more;
}
// End cost-block

// functions
.terminal-block__options-functions-title {
  font-style: normal;
  font-weight: 600;
  @extend %h3;
  color: $dark-blue;
  margin-bottom: rem(40px);
}
// End functions

// End options

@media screen and (max-width: 1023px) {
  .terminal-block__terminal-row {
    justify-content: center;
  }

  .terminal-block__terminal-col {
    margin: rem(0 0 20px);
  }

  .terminal-block__options-card {
    border-radius: rem(4px);
  }
}

@media screen and (max-width: 767px) {
  .terminal-block__price {
    margin: rem(0 0 20px);
  }

  .terminal-block__options-functions-title {
    text-align: center;
  }

  .terminal-block__options-functions-col {
    .terminal-block-function {
      padding: rem(0 12px);
    }
  }
}
