.terminal-one-description {
}

.terminal-one-description__title {
  @extend %h4;
  color: $dark-blue;
  margin-bottom: rem(10px);
  font-weight: 600;
}

.terminal-one-description__paragraph {
  @extend %p9;
  color: $dark-blue;
  margin-bottom: rem(40px);
}

.terminal-one-description__list {
  list-style-type: none;
  margin: rem(0 0 40px 0);
  padding: 0;
}

.terminal-one-description__li {
  @extend %p9;
  color: $dark-blue;
  position: relative;
  padding-left: rem(17px);

  &:before {
    content: "•";
    color: $dark-gray-2;
    position: absolute;
    left: 0;
  }
}

.terminal-one-description__li + .terminal-one-description__li {
  margin-top: rem(10px);
}

.terminal-one-description__button {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .terminal-one-description__list {
    margin: rem(0 0 20px 0);
  }

  .terminal-one-description__button {
    display: block;
    margin: auto;
  }
}
