.terminal-block-function {
  padding: rem(0 40px);
  background: $white;

  &:hover {
    background: $light-gray;
  }
}

.terminal-block-function_active {
  background: $light-gray;
}

.terminal-block-function__container {
  display: flex;
  justify-content: space-between;
  padding: rem(20px 0);
}

.terminal-block-function__content {
}

.terminal-block-function__content-header {
  display: flex;
  align-items: center;
  margin-bottom: rem(14px);
}

.terminal-block-function__button-container {
  flex: 0 0 100px;
  margin: rem(0 40px 0 0);

  .button {
    width: 100%;
  }

  .checkbox-block {
    margin: auto;
  }
}

.terminal-block-function__title {
  font-style: normal;
  font-weight: 600;
  @extend %h4;
  color: $dark-blue;
  margin-bottom: 0;
  margin: rem(0 20px 0 0);
}

.terminal-block-function__tooltip {
}

.terminal-block-function__price {
  font-style: normal;
  font-weight: normal;
  @extend %h4;
  color: $dark-blue;
  margin: 0;
}

.terminal-block-function__content-body {
  max-width: 470px;

  p {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.terminal-block-function__icon {
  max-height: 80px;
}

@media screen and (max-width: 767px) {
  .terminal-block-function__container {
    flex-direction: column;
  }

  .terminal-block-function__content {
    order: 1;
  }

  .terminal-block-function__icon {
    order: 0;
    margin: rem(0 0 20px);
  }

  .terminal-block-function__content-header {
    flex-direction: column;
  }

  .terminal-block-function__button-container {
    max-width: 100px;
    width: 100%;
    flex: none;
    margin: 0;
    order: 1;
  }

  .terminal-block-function__title {
    order: 0;
    margin: rem(0 0 20px 0);
  }

  .terminal-block-function__content-body {
    max-width: 100%;
  }

  .terminal-block-function__price {
    margin: rem(0 0 10px);
  }
}
