@mixin terminal-block-option_active {
  background: $light-gray;
}

.terminal-block-option {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: $white;
  border: 1px solid $dark-gray-2;
  border-radius: rem(4px);
  padding: rem(20px);
  text-align: center;

  &:hover {
    @include terminal-block-option_active;
  }
}

.terminal-block-option_active {
  @include terminal-block-option_active;
}

.terminal-block-option_disabled {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba($white, 0.2) 0%,
      rgba($white, 0.6) 100%
    );
  }

  &:hover {
    background: $white;
  }
}

.terminal-block-option__title {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $ligth-blue;
  margin-bottom: rem(10px);
}

.terminal-block-option__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.terminal-block-option__checkbox-radio-container {
  margin-bottom: rem(14px);

  > div {
    margin: auto;
  }
}

.terminal-block-option__checkbox-radio-empty {
  width: 16px;
  height: 16px;
}

%terminal-block-option__subtitle-price {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h4;
}

.terminal-block-option__subtitle {
  @extend %terminal-block-option__subtitle-price;
  margin-bottom: rem(5px);
}

.terminal-block-option__text {
  margin-bottom: rem(20px);
}

.terminal-block-option__price {
  @extend %terminal-block-option__subtitle-price;
  margin-bottom: 0;
}

// double block
.terminal-block-option__container {
  height: 100%;
}
.terminal-block-option__row {
  display: flex;
  justify-content: center;
  height: 100%;
  // flex-wrap: wrap;
}

.terminal-block-option__col {
  // height: 100%;
}

@media screen and (max-width: 767px) {
  .terminal-block-option__row {
    flex-direction: column;
  }

  .terminal-block-option__col {
    margin: rem(0 0 20px);

    &:last-child {
      margin: 0;
    }
  }
}
