.tooltip-block {
  .tooltip-inner {
    border-radius: rem(4px);
    padding: rem(18px 24px);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.005em;
    max-width: 310px;
    @extend %p1;
  }

  &.show {
    opacity: 1;
  }
}

.tooltip-block_gray {
  .tooltip-inner {
    background: $light-gray-4;
    border: 1px solid $dark-gray-2;
    color: $dark;
  }
}

.tooltip-block-blue {
  .tooltip-inner {
    background: $ligth-blue;
    color: $white;
  }
}
