.total-cost {
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
}

.total-cost__title {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h3;
  padding: rem(20px);
  margin-bottom: 0;
}

.total-cost__price-container {
  padding: rem(20px);
  background: $ligth-blue;
  text-align: right;
}

.total-cost__price {
  font-style: normal;
  font-weight: 600;
  @extend %h1;
  color: $white;
  margin-bottom: 0;
}

.total-cost__button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(20px 30px);
}

.total-cost__button {
  display: flex;
  align-items: center;
  background: $white;
  border: none;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %p1;
}

.total-cost_print {
}

.total-cost_save {
}

.total-cost__separator {
  border-radius: 10px;
  background: $ligth-blue;
  width: 2px;
  height: 30px;
}

.total-cost__button-icon {
  margin-right: rem(10px);
}

@media screen and (max-width: 1299px) {
  .total-cost {
    overflow: hidden;
  }

  .total-cost__price {
    @include h2;
    text-align: left;
  }

  .total-cost__button-container {
    padding: 0;
    flex-direction: column;
  }

  .total-cost__separator {
    width: 100%;
    height: 1px;
  }

  .total-cost__button {
    padding: rem(20px);
    width: 100%;
    justify-content: center;
  }
}
