.vacuum-cleaners-block {
  padding: rem(40px 0 10px);
  background: $white;
  border: 1px solid $dark-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
}

.vacuum-cleaners-block__container {
  padding: rem(0 20px);
}

.vacuum-cleaners-block__row {
  margin: rem(0 -10px);
}

.vacuum-cleaners-block__col {
  padding: rem(0 10px);
}

.vacuum-cleaners-block__posts-container-shell {
}

.vacuum-cleaners-block__posts-container {
  display: none;
}

.vacuum-cleaners-block__posts-container_active {
  display: block;
}

.vacuum-cleaners-block__post {
  display: none;
}

.vacuum-cleaners-block__post_active {
  display: block;
}

.vacuum-cleaners-block__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(40px);
}

%vacuum-cleaners-block__title-next-stap {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
}

%vacuum-cleaners-block__title {
  @extend %vacuum-cleaners-block__title-next-stap;
  @extend %h3;
}

.vacuum-cleaners-block__title {
  @extend %vacuum-cleaners-block__title;
  margin-bottom: 0;
}

.vacuum-cleaners-block__next-stap {
  @extend %vacuum-cleaners-block__title-next-stap;
  @extend %p2;
}

.vacuum-cleaners-block__button-type {
  margin-bottom: rem(20px);
}

.vacuum-cleaners-block__button-vacuum-cleaner-type {
}

.vacuum-cleaners-block__button-volt {
  margin-bottom: rem(30px);

  .button {
    max-width: 117px;
    width: 100%;
    text-align: center;
  }
}

.vacuum-cleaners-block__button-volt_left {
  text-align: left;
}

.vacuum-cleaners-block__button-volt_right {
  text-align: right;
}

// inner

.vacuum-cleaners-block__inner {
}

.vacuum-cleaners-block__cards-block {
}

.vacuum-cleaners-block__inner-container {
  padding: 0;
}

.vacuum-cleaners-block__inner-row {
  margin: rem(0 -12px);
}

.vacuum-cleaners-block__inner-col {
  padding: rem(0 12px);
}

// function

.vacuum-cleaners-block__functions-block {
}

.vacuum-cleaners-block__function {
  border: 1px solid $ligth-blue;
  border-bottom-right-radius: rem(4px);
  border-bottom-left-radius: rem(4px);
  position: relative;
  top: -2px;
  display: none;
}

.vacuum-cleaners-block__function_active {
  display: block;
}

.vacuum-cleaners-block__function-container {
  padding: rem(0 10px);
}

.vacuum-cleaners-block__function-container_padding {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
}

.vacuum-cleaners-block__function-container_border {
  border-bottom: 1px solid $light-gray-6;
}

.vacuum-cleaners-block__function-row {
  margin: rem(0 -10px);
}

.vacuum-cleaners-block__function-col {
  padding: rem(0 10px);
}

.vacuum-cleaners-block__function-title {
  @extend %vacuum-cleaners-block__title;
  margin-bottom: rem(20px);
}

// End function

// End inner

@media screen and (max-width: 767px) {
  .vacuum-cleaners-block__inner-col {
    margin: rem(0 0 20px);
  }

  %vacuum-cleaners-block__title {
    text-align: center;
  }

  .vacuum-cleaners-block__title-container {
    flex-direction: column;
  }

  .vacuum-cleaners-block__title {
    margin: rem(0 0 20px);
  }
}
