.vacuum-cleaner-function-card {
  text-align: center;
}

.vacuum-cleaner-function-card_active {
}

.vacuum-cleaner-function-card__checkbox-container {
  margin-bottom: rem(10px);
  .checkbox-block {
    margin: auto;
  }
}

%vacuum-cleaner-function-card__title-price {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
}

.vacuum-cleaner-function-card__title {
  @extend %vacuum-cleaner-function-card__title-price;
  @extend %p1;
  margin-bottom: 0;
}

.vacuum-cleaner-function-card__text {
  font-style: normal;
  font-weight: normal;
  color: $blue;
  @extend %p4;
  margin-bottom: rem(40px);
}

.vacuum-cleaner-function-card__price {
  @extend %vacuum-cleaner-function-card__title-price;
  @extend %p2;
}
