.vacuum-cleaner-card {
  border: 1px solid $white;
  border-top-right-radius: rem(4px);
  border-top-left-radius: rem(4px);
  border-bottom-width: 0;
  background: $white;
}

.vacuum-cleaner-card_active {
  position: relative;
  z-index: 1;
  border-color: $ligth-blue;

  .vacuum-cleaner-card__button {
    @extend %card_active;
  }

  .vacuum-cleaner-card__image-container {
    border-width: 0;
    border-bottom-width: 1px;
  }
}

.vacuum-cleaner-card__image-container {
  @extend %card__image-container;
  margin-bottom: rem(20px);
}

.vacuum-cleaner-card__image {
  @extend %card__image;
}

.vacuum-cleaner-card__content {
  @extend %card__content;
  padding-bottom: rem(20px);
}

.vacuum-cleaner-card__title {
  @extend %card__title;
  margin-bottom: rem(20px);
}

.vacuum-cleaner-card__list {
  @extend %card__list;
  margin-bottom: rem(20px);
}

.vacuum-cleaner-card__li {
  @extend %card__li;
}

.vacuum-cleaner-card__price {
  @extend %card__price;
  margin-bottom: rem(20px);
}

.vacuum-cleaner-card__button {
  @extend %card__button;
}

@media screen and (max-width: 767px) {
  .vacuum-cleaner-card {
    border-bottom-width: 1px;
    border-radius: rem(4px);
  }
}
