.video-card {
  display: block;
}

.video-card__image-container {
  position: relative;
  margin: rem(0 0 20px);
}

.video-card__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.video-card__duration {
  display: inline-block;
  position: absolute;
  right: rem(11px);
  bottom: rem(15px);
  background: rgba(1, 58, 81, 0.6);
  border-radius: rem(6px);
  @extend %p2;
  color: $white;
  text-align: center;
  padding: rem(8px 10px);
  margin: 0;
}

.video-card__title {
  @extend %h2;
  font-weight: 600;
  color: $dark-blue;
  margin: 0;
}
