.about-page {
}

.about-page__nav {
}

.about-page__hierarchy {
}

.about-page__slogan {
}
// content
.about-page__content {
  padding: rem(80px 0);
  background: $white;
}

.about-page__text-container {
}

.about-page__text {
  color: $dark-blue;
  @extend %p1;
}
// End content

.about-page__partners {
}

.about-page__feedback {
}

.about-page__footer {
}

@media screen and (max-width: 1023px) {
  .about-page__content {
    padding: rem(40px 0);
  }
}
