.contact-page {
}

.contact-page__nav {
}

.contact-page__hierarchy {
}

// content
.contact-page__content {
  padding: rem(80px 0);
  background: $white;
}

.contact-page__info {
}

.contact-page__region-title {
  @extend %h2;
  color: $ligth-blue;
  font-weight: 600;
  margin-bottom: rem(40px);
}

.contact-page__item {
  margin-bottom: rem(40px);
  display: flex;
  align-items: center;
}

.contact-page__label {
  font-weight: 600;
  @extend %p1;
  color: $dark-blue;
  width: 150px;
  margin-bottom: 0;
}

%contact-page__text-link {
  @extend %p1;
  color: $dark-blue;
}

.contact-page__text {
  @extend %contact-page__text-link;
  margin-bottom: 0;
}

.contact-page__link {
  @extend %contact-page__text-link;

  &:hover {
    text-decoration: none;
  }
}

.contact-page__link_blue {
  @extend %contact-page__text-link;
  color: $ligth-blue;
  text-decoration: underline;

  &:hover {
    color: $ligth-blue;
    text-decoration: underline;
  }
}

.contact-page__map {
  height: 100%;
}
// End content

.contact-page__feedback {
}

.contact-page__footer {
}

@media screen and (max-width: 1023px) {
  .contact-page__content {
    padding: rem(40px 0);
  }

  .contact-page__info {
    padding-bottom: rem(20px);
  }

  .contact-page__region-title {
    margin-bottom: rem(20px);
  }

  .contact-page__item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(20px);
  }

  .contact-page__map {
    height: 300px;
  }
}
