.equipment-page {
}

.equipment-page__nav {
}

.equipment-page__hierarchy {
}

.equipment-page__slogan {
}

.equipment-page__dropdown {
  padding: rem(40px 0);
}

.equipment-page__cards-block {
  background: $white;
  padding: rem(0 0 40px);
}

.equipment-page__card {
  margin-bottom: rem(40px);
}

.equipment-page__feedback {
}

.equipment-page__footer {
}

@media screen and (max-width: 1023px) {
  .equipment-page__card {
    text-align: center;
    margin-bottom: rem(20px);

    .equipment-card {
      align-items: center;
    }

    .equipment-card__title,
    .equipment-card__price {
      width: 100%;
    }
  }
}
