.home-page {
  position: relative;
}

.home-page__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.home-page__background_active {
  display: block;
}

.home-page__nav {
}

// ome-page__header
.home-page__header {
  background: $ligth-blue;
  padding: rem(0 0 75px);
}

.home-page__advantages {
  padding: rem(100px 0 40px);

  .advantages__item {
    margin: rem(0 20px 20px);

    // &:last-child {
    //   margin-right: 0;
    // }
  }
}

.home-page__header-button-container {
}

.home-page__header-button-consultation,
.home-page__header-button-constructor {
  font-weight: 600;
  margin: rem(0 0 20px 0);
  text-align: center;
}

.home-page__header-button-consultation {
  margin-right: rem(20px);
}

.home-page__header-button-constructor {
  &:hover {
    background: $white;
    color: $dark-blue;
  }
}

.home-page__header-car {
  display: block;
  margin-left: auto;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.home-page__header-routs-container {
  position: relative;
  padding: rem(0 10px);
}

.home-page__header-routs-row {
  position: absolute;
  top: rem(15px);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: rem(0 -10px);

  .button-rout {
    flex: 0 1 400px;
    margin: rem(0 10px);
  }
}

// .home-page__content-head

.home-page__content-head {
  padding: rem(140px 0 80px);
  text-align: center;
}

.home-page__content-head-subtitle {
  font-style: normal;
  font-weight: 600;
  color: $ligth-blue;
  @extend %h2;
  margin-bottom: rem(10px);
}

.home-page__content-head-title {
  font-style: normal;
  font-weight: 600;
  @extend %h1;
  color: $dark-blue;
  margin-bottom: rem(40px);
}

.home-page__content-head-text {
  font-style: normal;
  font-weight: 600;
  color: $dark-blue;
  @extend %h3;
  margin-bottom: rem(40px);
}

.home-page__content-head-button-type {
}

// home-page__content-info
.home-page__content-info {
  overflow: hidden;
}

.home-page__blue-col {
  position: relative;
  background: $ligth-blue-2;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    background: $ligth-blue-2;
  }
}

.home-page__blue-col_left {
  &:before {
    right: 100%;
  }
}

.home-page__blue-col_right {
  &:before {
    left: 100%;
  }
}

// .home-page__calculator
.home-page__calculator {
}

/* ВРЕМЕННО ОТКЛЮЧЕНО */
.home-page__calculator-type {
  display: none;
}

.home-page__calculator-type_active {
  display: block;
}

// часть блоков первого калькулятора
.home-page__post-block {
  margin-bottom: rem(40px);
}

.home-page__terminals-block {
  margin-bottom: rem(80px);
}

.home-page__equipment-block {
  margin-bottom: rem(80px);
}

.home-page__purifiers-block {
  margin-bottom: rem(80px);
}

.home-page__installation-equipment-block {
  margin-bottom: rem(80px);
}

.home-page__vacuum-cleaners-block {
  margin-bottom: rem(80px);
}
// End часть блоков первого калькулятора

// часть блоков второго калькулятора
.home-page__terminal-big-block {
  margin-bottom: rem(40px);
}

.home-page__server-card {
  margin-bottom: rem(80px);
}

.home-page__equipment-terminal-block {
  margin-bottom: rem(80px);
}
// End часть блоков второго калькулятора

// .home-page__feedback
.home-page__feedback {
}

// .home-page__footer
.home-page__footer {
}

@media screen and (min-width: 1300px) {
  .home-page__background {
    display: none !important;
  }
}

@media screen and (max-width: 1299px) {
  .home-page__header {
    padding: rem(75px 0 75px);
  }

  // .home-page__main-content {
  //   // // flex: 100%;
  //   // // max-width: 853px;
  //   // margin: auto;
  // }
}

@media screen and (max-width: 1023px) {
  .home-page__header {
    padding: rem(75px 0 10px);
  }

  .home-page__advantages {
    display: none;

    // padding: rem(50px 0 30px);

    // .advantages {
    //   justify-content: center;
    // }
  }

  .home-page__header-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: rem(50px 0 0 0);
  }

  .home-page__header-button-consultation {
    margin-right: 0;
  }

  .home-page__header-button-constructor {
    display: none;
  }

  .home-page__header-car {
    margin: rem(0 auto 20px);
  }

  .home-page__header-routs-row {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;

    .button-rout {
      margin: rem(10px);
    }
  }

  .home-page__content-head {
    display: none;

    // padding: rem(40px 0);
    // .home-page__content-head-col {
    //   margin: rem(0 0 30px);

    //   &:last-child {
    //     margin: 0;
    //   }
    // }
  }

  .home-page__calculator {
    display: none;
  }

  .home-page__video-col {
    order: 1;
  }

  .home-page__video-title-col {
    order: 0;
  }

  .home-page__partners-col {
    order: 1;
  }

  .home-page__partners-title-col {
    order: 0;
  }
}

@media screen and (max-width: 480px) {
  .home-page__header-routs-container {
    padding: 0;
  }

  .home-page__header-routs-row {
    margin: 0;

    .button-rout {
      margin: rem(10px 0);
      flex: 0 1 100%;
    }
  }
}
