.media-page {
}

.media-page__nav {
}

.media-page__hierarchy {
}

.media-page__cards-block {
  background: $white;
  padding: rem(80px 0);
}

.media-page__card {
  margin: rem(0 0 40px);

  &:last-child {
    margin: 0;
  }
}

.media-page__feedback {
}

.media-page__footer {
}

@media screen and (max-width: 1023px) {
  .media-page__cards-block {
    padding: rem(40px 0);
  }

  .media-page__card {
    margin: rem(0 0 20px);
  }
}
