.news-page {
}

.news-page__nav {
}

.news-page__hierarchy {
}

.news-page__cards-block {
  background: $white;
  padding: rem(40px 0 0);
}

.news-page__card {
  margin: rem(0 0 40px);
}

.news-page__button {
  font-weight: 600;
  text-align: center;
  width: 100%;
  max-width: 210px;
}

.news-page__feedback {
}

.news-page__footer {
}

@media screen and (max-width: 1299px) {
  // .news-page__hierarchy {
  //   display: none;
  // }

  .news-page__cards-block {
    padding: rem(92px 0 0);
  }
}
