.news-detalisation-page {
}

.news-detalisation-page__nav {
}

.news-detalisation-page__hierarchy {
}

// content
.news-detalisation-page__content {
  background: $white;
  padding: rem(40px 0 80px);
}

.news-detalisation-page__image-container {
  margin: rem(0 0 40px);
}

.news-detalisation-page__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.news-detalisation-page__title {
  @extend %h1;
  font-weight: 600;
  color: $dark-blue;
  margin: rem(0 0 10px);
}

.news-detalisation-page__date {
  @extend %p4;
  color: rgba(1, 58, 81, 0.6);
  margin: rem(0 0 40px);
}

.news-detalisation-page__text-container {
}

.news-detalisation-page__text {
  @extend %p1;
  color: $dark-blue;
  margin: rem(0 0 20px);
}
// End content

.news-detalisation-page__feedback {
}

.news-detalisation-page__footer {
}

@media screen and (max-width: 1299px) {
  // .news-detalisation-page__hierarchy {
  //   display: none;
  // }

  .news-detalisation-page__content {
    padding: rem(92px 0 40px);
  }
}

@media screen and (max-width: 1023px) {
}
