.objects-page {
}

.objects-page__nav {
}

.objects-page__hierarchy {
}

.objects-page__map {
  height: 450px;
  width: 100%;
  background: url(../img/temp/objects/map.jpg) no-repeat center top;
  background-size: cover;
}

.objects-page__cards-block {
  background: $white;
  padding: rem(80px 0 20px);
}

.objects-page__card {
  margin: rem(0 0 60px);
}

.objects-page__feedback {
}

.objects-page__footer {
}

@media screen and (max-width: 1023px) {
  .objects-page__map {
    display: none;
  }

  .objects-page__cards-block {
    padding: rem(40px 0 0);
  }

  .objects-page__card {
    margin: rem(0 0 40px);
  }
}
