.online-builder-page {
}

.online-builder-page__hierarchy {
}

.online-builder-page__content {
  .checkbox-filter {
    padding-left: 0;
    margin-bottom: 20px;
    position: relative;

    .count {
      background: $white;
      border: 1px solid $light-gray-6;
      box-sizing: border-box;
      border-radius: 4px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 10px;

      p {
        font-style: normal;
        font-weight: normal;
        line-height: 15px;
        font-size: 12px;
        color: $blue;
        margin-bottom: 0;
        padding: 3px 16px;
      }
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      outline: none;
      box-shadow: none;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background: none;
      background: $green url(../img/ok-white-builder.svg) no-repeat center
        center;
      border-color: $green;
    }

    .custom-control-input:checked ~ .custom-control-label::before,
    .custom-control-input:not(:disabled):active
      ~ .custom-control-label::before {
      border-color: $light-gray-6;
      background-color: $white;
    }

    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
      border-color: $light-gray-6;
    }

    .custom-control-input:indeterminate ~ .custom-control-label::before {
      border-color: $light-gray-6;
      background-color: $white;
    }

    .custom-control-input:indeterminate ~ .custom-control-label::after {
      background: none;
    }

    .custom-control-label {
      display: flex;
      flex-direction: column;
      padding-left: 60px;

      &:before,
      &:after {
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: 4px;
        width: 20px;
        height: 20px;
      }
      &:before {
        border: 1px solid $light-gray-6;
      }

      span {
        font-style: normal;
        color: $blue;
      }

      span:first-child {
        position: relative;
        font-weight: bold;
        line-height: 20px;
        font-size: 13px;
        padding-left: 5px;

        &:before {
          content: "·";
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
        }
      }

      span:nth-child(2) {
        font-weight: normal;
        line-height: 15px;
        font-size: 12px;
      }
    }

    .custom-control-radio {
      &:before,
      &:after {
        border-radius: 50%;
      }
    }
  }

  .disable-block {
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
  }

  .print-block {
    margin-bottom: 40px;
    h4 {
      font-style: normal;
      font-weight: 600;
      line-height: 25px;
      font-size: 20px;
      color: $dark-blue;
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: 20px;
    }

    .scoreboard {
      background: $ligth-blue;
      height: 100px;

      font-style: normal;
      font-weight: 600;
      line-height: 100px;
      font-size: 40px;
      text-align: right;
      color: $white;
      padding-right: 30px;
    }

    .btn-row {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;

      a {
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        font-size: 16px;
        color: $dark-blue;
        text-decoration: none;
        padding-left: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
      }

      .vertical-line {
        background: $ligth-blue;
        height: 34px;
        width: 1px;
      }

      .print {
        background: url(../img/print.svg) no-repeat left center;
      }

      .download {
        background: url(../img/pdf.svg) no-repeat left center;
      }
    }
  }

  .radius-container {
    background: $white;
    box-shadow: 0px 8px 8px rgba(105, 189, 249, 0.1);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .builder-title {
    text-align: center;
    padding: 40px 0;

    h1 {
      font-style: normal;
      font-weight: 600;
      line-height: 50px;
      font-size: 40px;
      color: $dark-blue;
      margin-bottom: 20px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 16px;
      color: $blue;
      margin-bottom: 0;
    }
  }

  .builder-inner {
    h4 {
      font-style: normal;
      font-weight: 600;
      line-height: 25px;
      font-size: 20px;
      color: $dark-blue;
      margin-bottom: 15px;
    }

    .sitebar-col {
      .sitebar-title {
        p {
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          font-size: 12px;
          text-align: center;
          color: $white;
          background: $ligth-blue;
          border-radius: 4px;
          height: 30px;
        }
      }

      .filter-stap {
        background: $white;
        border: 1px solid $light-gray-6;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 20px 20px 10px 20px;
        margin-bottom: 40px;
        position: relative;

        .cancel {
          position: absolute;
          top: 10px;
          right: 10px;
          padding: 0;
          border: none;
          background: transparent;
          line-height: 1;
          cursor: pointer;
          z-index: 2;
        }

        .filter-stap-head {
          display: flex;
          margin-bottom: 20px;
          position: relative;

          .title {
            border-bottom: 1px solid $light-gray-6;
            flex: auto;

            h4 {
              line-height: 24px;
              font-size: 16px;
              margin-bottom: 5px;
            }

            p {
              font-style: normal;
              font-weight: normal;
              line-height: 15px;
              font-size: 12px;
              color: $blue;
              margin-bottom: 0;
            }
          }

          .img-wrap {
            width: 50px;
            height: 50px;
            overflow: hidden;
            background: $white;
            border: 1px solid $light-gray-6;
            box-sizing: border-box;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 10px;
            flex: 0 0 50px;

            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .filter-stap-circle-center {
          padding-bottom: 20px;
          border-bottom: 1px solid $light-gray-6;
          align-items: center;

          .img-wrap {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $ligth-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            p {
              margin-bottom: 0;
              font-style: normal;
              font-weight: 600;
              line-height: 1;
              font-size: 16px;
              text-align: center;
              color: $white;
            }
          }

          .title {
            border-bottom: none;
            h4 {
              margin-bottom: 0;
              font-weight: normal;
            }
          }
        }

        .filter-stap-hide-border {
          padding-bottom: 0;
          border-bottom: none;
        }

        .filter-stap-head-title-center {
          .title {
            display: flex;
            align-items: center;

            h4 {
              margin-bottom: 0;
            }
          }
        }

        .checkbox-filter-line {
          padding-bottom: 20px;
          border-bottom: 1px solid $light-gray-6;
        }

        .color-checked {
          display: flex;
          align-items: center;

          .color-wrap {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            .color-inner {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              border: 2px solid $ligth-blue;
              display: flex;
              align-items: center;
              justify-content: center;

              .color {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: transparent;
              }
            }
          }

          p {
            position: relative;
            font-weight: 700;
            line-height: 20px;
            font-size: 13px;
            padding-left: 5px;
            font-style: normal;
            color: $blue;
            margin-bottom: 0;

            &:before {
              content: "·";
              position: absolute;
              left: 0;
              right: 0;
              height: 100%;
            }
          }
        }

        .color-checked-line {
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid $light-gray-6;
        }

        .common-price {
          text-align: center;
          p {
            font-style: normal;
            font-weight: normal;
            line-height: 15px;
            font-size: 12px;
            color: $blue;
            margin-bottom: 10px;
          }

          .price {
            font-weight: 600;
            line-height: 20px;
            font-size: 13px;
            color: $ligth-blue;
          }
        }

        .filter-stap-head-pieces {
          .custom-control-label {
            span:first-child {
              padding-right: 80px;
            }
          }
        }
      }

      .filter-stap-head-square-center {
        padding: 20px 10px 20px 20px;

        .filter-stap-head {
          align-items: center;
          margin-bottom: 0;

          .title {
            border-bottom: none;

            h4 {
              margin-bottom: 0;
            }
          }
        }
      }

      .btn-submit-order {
        background: $ligth-blue;
        border-radius: 10px;
        border: none;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        margin-bottom: 60px;
      }
    }

    .filter-col {
      .filter-stap {
        padding: 40px 20px;
        position: relative;
        background: $white;
        box-shadow: 0px 1px 8px rgba(105, 189, 249, 0.4);
        border-radius: 10px;
        margin-bottom: 55px;

        .stap-title {
          background: $ligth-blue;
          width: 163px;
          height: 30px;
          display: block;
          margin: auto;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          font-size: 12px;
          text-align: center;
          color: $white;
          position: absolute;
          top: -15px;
          left: 0;
          right: 0;
        }

        .second-title {
          font-style: normal;
          font-weight: 600;
          line-height: 25px;
          font-size: 20px;
          color: $dark-blue;
          margin: 0 -20px;
          padding: 0 20px 20px;
        }

        .second-title-line {
          border-bottom: 1px solid $light-gray-6;
          margin-bottom: 40px;
        }

        h6 {
          font-style: normal;
          font-weight: normal;
          line-height: 24px;
          font-size: 16px;
          color: $dark-blue;
          text-align: left !important;
          margin-bottom: 20px;
        }

        .more {
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          font-size: 13px;
          color: $ligth-blue;
          text-decoration: underline;
        }
      }

      .radio-container-wrap {
        .container {
          padding-left: 0;
          padding-right: 0;
          .row {
            margin-left: -12px;
            margin-right: -12px;
            // flex-wrap: nowrap;

            > div {
              padding-left: 12px;
              padding-right: 12px;
              // flex-grow: 0;
              flex: auto;
              width: 100%;
            }
          }
        }

        .col-inp-1 {
          max-width: 265px;
        }

        .custom-checkbox-img {
          .img-pseudo {
            // width: 250px;
            width: 100%;
            // height: 220px;
          }

          label {
            padding-left: 0;
            padding-top: 20px;
            cursor: pointer;

            &:after,
            &:before {
              top: 20px;
            }

            .img-wrap {
              // width: 250px;
              width: 100%;
              max-width: 250px;
              // height: 220px;
              border: 1px solid $dark-gray-2;
              box-sizing: border-box;
              border-radius: 10px;
              overflow: hidden;
              position: absolute;
              bottom: 100%;

              img {
                max-width: 100%;
                height: auto;
              }
            }

            span {
              position: relative;
              font-weight: 700;
              line-height: 20px;
              font-size: 13px;
              padding-left: 30px;
            }
          }

          .custom-control-input:checked ~ .custom-control-label {
            .img-wrap {
              border-color: $ligth-blue;
            }
          }
        }
      }

      .radio-container-line {
        border-bottom: 1px solid $light-gray-6;
        margin-bottom: 40px;
      }

      .radio-container-four {
        .col-inp-2 {
          max-width: 198px;
        }

        .custom-checkbox-img {
          // .img-pseudo {
          //   width: 180px;
          //   height: 140px;
          // }

          // label {
          //   .img-wrap {
          //     width: 180px;
          //     height: 140px;
          //   }
          // }
        }
      }

      .radio-container-two {
        .col-inp-3 {
          max-width: 265px;
        }

        .custom-checkbox-img {
          text-align: center;

          // .img-pseudo {
          //   width: 250px;
          //   height: 350px;
          // }

          label {
            text-align: left;
            // .img-wrap {
            //   width: 250px;
            //   height: 350px;
            // }
          }

          .more {
            display: inline-block;
            margin-top: 20px;
          }
        }
      }

      .entry-wrap {
        text-align: center;

        .entry-inner {
          display: inline-flex;
          align-items: center;
          position: relative;
          margin: 20px auto 40px;

          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: $light-gray-8;
          }

          .entry {
            position: relative;
            z-index: 2;
            cursor: pointer;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid $ligth-blue;
            font-family: $ff;
            font-style: normal;
            font-weight: 600;
            line-height: 1;
            font-size: 14px;
            text-align: center;
            color: $ligth-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            background: $white;

            &.active {
              color: $white;
              background: $ligth-blue;
            }
          }

          .entry + .entry {
            margin-left: 36px;
          }
        }
      }

      .entry-wrap-line {
        border-bottom: 1px solid $light-gray-6;
        margin-bottom: 40px;
      }

      .radio-checkbox-wrap {
        .radio-checkbox-inner {
          .radio-checkbox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .radio-checkbox-content {
              display: flex;

              .checkbox-filter {
                margin-bottom: 0;
                .custom-control-label {
                  padding-left: 30px;

                  span {
                    &:before {
                      display: none;
                    }
                  }
                }
              }

              .more {
                margin-left: 40px;
              }
            }

            .price {
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
              font-size: 16px;
              text-align: right;
              color: $dark-blue;
              margin-bottom: 0;
            }
          }
        }
      }

      .radio-checkbox-wrap-line {
        border-bottom: 1px solid $light-gray-6;
        margin-bottom: 40px;
        padding-bottom: 20px;
      }

      .painting-wrap {
        border-bottom: 1px solid $light-gray-6;
        padding-bottom: 40px;
        margin-bottom: 40px;

        .painting-inner {
          display: flex;

          .img-wrap {
            margin-right: 20px;
            width: 250px;
            height: 350px;
            border: 1px solid $dark-gray-2;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;

            img {
              max-width: 100%;
              height: auto;
            }
          }

          .radio-control-wrap {
            flex: auto;
            text-align: right;

            .more {
              display: inline-block;
              margin-bottom: 50px;
            }

            .radio-control {
              background: $white;
              border: 1px solid $dark-gray-2;
              box-sizing: border-box;
              border-radius: 4px;
              padding: 20px;

              .title-control {
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 12px;
                color: $dark-blue;
                margin-bottom: 15px;
                text-align: left;
              }

              .radio-control-row {
                display: flex;
                align-items: center;
              }

              .checkbox-filter {
                margin-bottom: 0;

                .custom-control-label {
                  width: 30px;
                  height: 30px;
                  padding-left: 0;
                  cursor: pointer;

                  &:after,
                  &:before {
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                  }

                  &:before {
                    width: 30px;
                    height: 30px;
                    border: 1px solid $dark-gray-2;
                    box-sizing: border-box;
                  }

                  &:after {
                    width: 22px;
                    height: 22px;
                    background-image: none;
                    border: none;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::before {
                  width: 30px;
                  height: 30px;
                  border: 1px solid $dark-gray-2;
                  box-sizing: border-box;
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  width: 22px;
                  height: 22px;
                  background-image: none;
                  border: none;
                }

                .custom-control-input:checked ~ .custom-control-label::before,
                .custom-control-input:not(:disabled):active
                  ~ .custom-control-label::before {
                  width: 30px;
                  height: 30px;
                  border: 2px solid $ligth-blue;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  width: 22px;
                  height: 22px;
                  border: none;
                  background: none;
                }
              }

              .checkbox-filter + .checkbox-filter {
                margin-left: 20px;
              }

              .black-circle {
                .custom-control-label {
                  &:after {
                    background: #000;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  background: #000;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  background: #000;
                }
              }

              .red-circle {
                .custom-control-label {
                  &:after {
                    background: $red-1;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  background: $red-1;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  background: $red-1;
                }
              }

              .yellow-circle {
                .custom-control-label {
                  &:after {
                    background: $orange-1;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  background: $orange-1;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  background: $orange-1;
                }
              }

              .blue-circle {
                .custom-control-label {
                  &:after {
                    background: $ligth-blue-5;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  background: $ligth-blue-5;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  background: $ligth-blue-5;
                }
              }

              .green-circle {
                .custom-control-label {
                  &:after {
                    background: $green-1;
                  }
                }

                .custom-control-input:indeterminate
                  ~ .custom-control-label::after {
                  background: $green-1;
                }

                .custom-control-input:checked ~ .custom-control-label::after {
                  background: $green-1;
                }
              }
            }

            .radio-control + .radio-control {
              margin-top: 10px;
            }
          }
        }
      }

      .slider-handle-wrap {
        margin-top: 50px;

        .slider-handle-inner {
          padding: 0 40px;
          margin: 40px 0;

          .slider {
            width: 100%;
            height: 40px;
            margin-bottom: 0 !important;
          }

          .slider-tick-container {
            display: none;
          }

          .slider-track {
            height: 2px;
            margin: 0;

            .slider-selection,
            .slider-track-high {
              background: $light-gray-8;
              box-shadow: none;
            }
          }

          .slider-tick-label-container {
            margin-top: 0;
            position: relative;
            cursor: pointer;
            font-size: 0;
            line-height: 0;

            .slider-tick-label {
              padding: 0;
            }

            .slider-circle {
              margin: auto;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background: $white;
              border: 2px solid $ligth-blue;
              box-sizing: border-box;
              color: $ligth-blue;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 600;
              line-height: 1;
              font-size: 16px;
              text-align: center;
            }

            .slider-line {
              margin: auto;
              width: 2px;
              height: 14px;
              background: $ligth-blue;
              position: relative;
              top: 3px;
            }
          }

          .tooltip {
            opacity: 1;
            margin-top: 0;
            cursor: pointer;
            transform: translateX(-50%);
            z-index: 2;

            .tooltip-inner {
              padding: 0;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background: $ligth-blue;
              border: 2px solid $ligth-blue;
              box-sizing: border-box;
              color: $white;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 600;
              line-height: 1;
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }

      .notice-wrap {
        p {
          font-style: normal;
          font-weight: normal;
          line-height: 15px;
          font-size: 12px;
          color: $dark-blue;
        }
      }
    }
  }
}

.online-builder-page__feedback {
}

.online-builder-page__footer {
}

@media screen and (min-width: 1300px) {
  .online-builder-page__content {
    .open-mob-sitebar {
      display: none;
    }
  }
}

@media screen and (max-width: 1299px) {
  .online-builder-page__content {
    .sitebar-col {
      .open-mob-sitebar-wrap {
        position: absolute;
        top: 0;
        left: 0;

        .open-mob-sitebar-inner {
          // position: absolute;
          position: fixed;
        }
      }

      .open-mob-sitebar {
        width: 24px;
        height: 35px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        // position: fixed;
        left: -24px;
        top: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.open {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .online-builder-page {
    .sitebar-mob-bg {
      display: none !important;
    }
  }

  .online-builder-page__content {
    .open-mob-sitebar {
      display: none;
    }
  }
}

@media screen and (max-width: 1299px) {
  .online-builder-page {
    position: relative;

    .sitebar-mob-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      background: rgba(0, 0, 0, 0.4);
      display: none;

      &.open {
        display: block;
      }
    }
  }

  .online-builder-page__content {
    margin-top: 92px;
    position: relative;

    .head-title-page {
      display: none;
    }

    //sitebar
    .sitebar-col {
      display: block;
      background: $white;
      z-index: 5;
      top: 0;
      right: -288px;
      flex: 100%;
      max-width: 288px;
      box-sizing: border-box;
      z-index: 4;
      position: fixed;
      height: 100vh;

      .sitebar-wrap {
        overflow: auto;
        height: 100vh;
      }

      .open-mob-sitebar-wrap {
        position: absolute;
        top: 0;
        left: 0;

        .open-mob-sitebar-inner {
          position: fixed;
        }
      }

      .open-mob-sitebar {
        width: 24px;
        height: 35px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: -24px;
        top: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.open {
          img {
            transform: rotate(180deg);
          }
        }
      }

      .sitebar-inner {
        .print-block-mob-1,
        .print-block-mob-2 {
          box-shadow: none;

          h4 {
            text-align: center;
            margin-left: 0;
            padding: 0 10px;
          }

          .scoreboard {
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            margin-bottom: 0;
          }
        }

        .print-block-mob-1 {
          padding-top: 52px;
          .btn-row {
            display: none;
          }
        }

        .print-block-mob-2 {
          margin-bottom: 0;

          .btn-row {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;

            .vertical-line {
              display: none;
            }

            a {
              width: 248px;
              border: 1px solid $ligth-blue;
              box-sizing: border-box;
              border-radius: 10px;
              height: 50px;
              line-height: 50px;
              justify-content: center;
              padding-left: 35px;
              margin-top: 20px;
            }

            .print {
              background-position: left 50px center;
            }

            .download {
              background-position: left 60px center;
            }
          }
        }

        .btn-submit-order {
          width: 248px;
          height: 60px;
          justify-content: center;
          margin-bottom: 160px;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          cursor: pointer;
        }

        .mob-checked-title {
          display: none;
        }

        .sitebar-title {
          p {
            border-radius: 0;
            margin-bottom: 10px;
          }
        }

        .filter-stap {
          border: none;
          border-radius: 0;
          padding: 30px 10px 10px;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .cancel {
            top: 0;
          }

          .filter-stap-head {
            .title {
              flex: auto;
              overflow: hidden;

              h4,
              p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }

          .checkbox-filter {
            .custom-control-label {
              padding-left: 30px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;

              span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }

        .mob-last-filter-stap {
          margin-bottom: 0;
        }
      }
    }

    //filter
    .filter-col {
      flex: 100%;
      max-width: 853px;
      margin: auto;

      .radio-container-wrap {
        .container {
          .row {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .online-builder-page__content,
  .builder-inner {
    > .container {
      padding-right: 10px;
      padding-left: 10px;

      .row {
        margin-right: -10px;
        margin-left: -10px;

        > div {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .online-builder-page__content {
    margin-top: 62px;

    .builder-title {
      padding-bottom: 80px;

      h1 {
        line-height: 40px;
        font-size: 32px;
      }
    }

    .builder-inner {
      .filter-col {
        max-width: 100%;

        .filter-stap {
          margin-bottom: 80px;
          padding-top: 20px;

          .stap-title {
            top: -40px;
          }

          .second-title {
            text-align: center;
          }

          h6 {
            text-align: center !important;
          }
        }

        .radio-container-wrap {
          .col-inp-1,
          .col-inp-2,
          .col-inp-3 {
            max-width: 274px;
          }

          .col-inp-1 {
            .checkbox-filter {
              margin-bottom: 40px;
            }
          }
        }

        .filter-stap-1 {
          padding-bottom: 0;

          .second-title {
            padding-bottom: 40px;
          }
        }

        .entry-wrap {
          .entry-inner {
            flex-wrap: wrap;
            justify-content: center;

            &:after {
              display: none;
            }

            .entry {
              margin-left: 12px;
              margin-right: 12px;
              margin-bottom: 20px;
            }

            .entry + .entry {
              margin-left: 12px;
            }
          }
        }

        .radio-checkbox-wrap {
          .radio-checkbox-inner {
            .radio-checkbox {
              flex-direction: column;

              .radio-checkbox-content {
                justify-content: space-between;
                width: 100%;

                .more {
                  background: url(../img/attention.svg) no-repeat center center;
                  width: 20px;
                  height: 20px;
                  font-size: 0;
                  line-height: 0;
                  margin-left: 10px;
                }
              }

              .price {
                padding-left: 30px;
                font-style: normal;
                font-weight: normal;
                line-height: 15px;
                font-size: 12px;
                text-align: left;
              }
            }
          }
        }

        .painting-wrap {
          .painting-inner {
            flex-direction: column;
            position: relative;

            .img-wrap {
              margin: auto;
            }

            .radio-control-wrap {
              margin-top: 10px;

              .more {
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                margin: auto;
                display: block;
                width: 20px;
                height: 20px;
                font-size: 0;
                line-height: 0;
                background: url(../img/attention.svg) no-repeat center center;
                transform: translate(105px, 0);
              }

              .radio-control {
                .title-control {
                  text-align: center;
                }

                .radio-control-row {
                  justify-content: center;
                }
              }
            }
          }
        }

        .radio-container-two {
          .custom-checkbox-img {
            position: relative;

            .more {
              position: absolute;
              top: 10px;
              left: 0;
              right: 0;
              margin: auto;
              display: block;
              width: 20px;
              height: 20px;
              font-size: 0;
              line-height: 0;
              background: url(../img/attention.svg) no-repeat center center;
              transform: translate(105px, 0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .online-builder-page__content {
    .builder-inner {
      .filter-col {
        .slider-handle-wrap {
          .slider-handle-inner {
            padding: 0 20px;

            .slider {
              height: 20px;
            }

            .slider-tick-label-container {
              .slider-circle {
                width: 20px;
                height: 20px;
                font-size: 8px;
              }

              .slider-line {
                height: 10px;
                top: 2px;
              }
            }

            .tooltip {
              .tooltip-inner {
                width: 20px;
                height: 20px;
                font-size: 8px;
              }
            }
          }
        }
      }
    }
  }
}
