.product-card-page {
}

.product-card-page__nav {
}

.product-card-page__hierarchy {
}

// content
.product-card-page__content {
  padding: rem(40px 0 80px);
}

// slider
.product-card-page__slider {
}

.product-card-page__slider-content {
}

.product-card-page__slider-carousel-inner {
  border: 1px solid $dark-gray-2;
  border-radius: rem(4px);
  margin-bottom: rem(20px);
}

.product-card-page__slider-slider-item {
  .image-tooltip {
    margin: auto;
  }
}

.product-card-page__slider-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-page__slider-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

// indicators
.product-card-page__slider-slider-indicators-container {
  .carousel-indicators {
    @extend %carousel-indicators;
    margin: rem(0 -20px);
    justify-content: flex-start;

    li {
      @extend %carousel-indicators__item;
      width: 180px;
      height: 175px;
      background: $white;
      border: 1px solid $dark-gray-2;
      border-radius: rem(4px);
      margin: rem(0 20px 10px);

      img {
        @extend %carousel-indicators__image;
      }

      &.active {
      }
    }
  }
}
// End indicators

// End slider

// sidebar
.product-card-page__sidebar {
  padding-top: rem(40px);
}

.product-card-page__title {
  @extend %h2;
  color: $dark-blue;
  font-weight: 600;
  margin-bottom: rem(40px);
}

.product-card-page__button-container {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(80px);
}

.product-card-page__button {
  width: 100%;
  max-width: 250px;
  height: 50px;
  font-weight: 600;
}

.product-card-page__button + .product-card-page__button {
  margin-top: rem(20px);
}

.product-card-page__video {
  @include video-container_16by9;
  margin-bottom: rem(60px);
  border-radius: rem(8px);
  box-shadow: rem(0px 8px 8px) rgba($black, 0.1);
}

.product-card-page__text-block {
}

.product-card-page__text-block-title {
  @extend %p3;
  color: $dark-blue;
  font-weight: 600;
  margin-bottom: rem(10px);
}

.product-card-page__text-block-text {
  color: $dark-blue;
  @extend %p1;
}
// End sidebar
// End content

// tabs
.product-card-page__tabs {
}

// table
.product-card-page__table {
  @extend %table-block_striped;

  th,
  td {
    padding: rem(13px 8px 15px);
  }

  tr:last-child {
    border-bottom: 1px solid $light-gray-7;
  }

  td {
    text-align: right;
  }

  .product-card-page__table-title-cell {
    @extend %table-block__title-cell_striped;
    text-align: left;
  }
}
// End table
.product-card-page__paragraph {
  color: $dark-blue;
  @extend %p2;
  margin-bottom: rem(20px);
}
// End  tabs

.product-card-page__feedback {
}

.product-card-page__footer {
}

@media screen and (max-width: 1299px) {
  .product-card-page__content {
    padding: rem(92px 0 80px);
  }

  // .product-card-page__hierarchy {
  //   display: none;
  // }
}

@media screen and (max-width: 1023px) {
  .product-card-page__content {
    padding: rem(92px 0 40px);
  }

  .product-card-page__slider-slider-indicators-container {
    .carousel-indicators {
      justify-content: center;

      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $dark-gray-2;
        margin: rem(6px 4px);
        border: none;

        img {
          display: none;
        }

        &.active {
          background: $ligth-blue;
        }
      }
    }
  }

  .product-card-page__button-container {
    margin-bottom: rem(40px);
  }

  .product-card-page__video {
    margin-bottom: rem(40px);
  }
}

@media screen and (max-width: 480px) {
  // table
  .product-card-page__table {
    tr {
      display: flex;
      flex-direction: column;
    }

    td {
      text-align: left;
    }
  }
  // End table
}
