.video-page {
}

.video-page__nav {
}

.video-page__hierarchy {
}

.video-page__cards-block {
	background: $white;
	padding: rem(40px 0 40px);
}

.video-page__card {
	margin: rem(0 0 40px);
}

.video-page__feedback {
}

.video-page__footer {
}

@media screen and (max-width: 1299px) {
	// .video-page__hierarchy {
	//   display: none;
	// }

	.video-page__cards-block {
		padding: rem(92px 0 40px);
	}
}
