<div class="counter-block">
  <button
    class="button button_radius_4 button_radius_10 counter-block__button counter-block_minus"
    value="-"
  >
    <img src="./img/minus.svg" alt="" class="counter-block__image" />
  </button>
  <input class="counter-block__count" type="number" step="1" value="1" />
  <button
    class="button button_radius_4 button_radius_10 counter-block__button counter-block_plus"
    value="+"
  >
    <img src="./img/plus.svg" alt="" class="counter-block__image" />
  </button>
</div>
