<div class="equipment-terminal-block">
  <h2 class="equipment-terminal-block__title">
    Оборудование приёма денег и выдачи клиентских карт
  </h2>

  <div class="equipment-terminal-block__box">
    <div class="equipment-terminal-block__equipment">
      <div class="container equipment-terminal-block__equipment-container">
        <div class="row equipment-terminal-block__equipment-row">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-12 equipment-terminal-block__equipment-col"
          >
            <div class="equipment-terminal-block__equipment-image-container">
              <img
                src="./img/temp/equipment-img.png"
                alt=""
                class="equipment-terminal-block__equipment-image"
              />
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-12 equipment-terminal-block__equipment-col"
          >
            <div class="equipment-terminal-block__equipment-content">
              <h3 class="equipment-terminal-block__equipment-title">
                <span>Рабочее место кассира-администратора</span>
              </h3>
              <p class="equipment-terminal-block__equipment-price">000 000 ₽</p>
              <div class="equipment-terminal-block__equipment-button-container">
                <button
                  class="button button_blue button_size_15_20 button_font_13_20 button_radius_4 equipment-terminal-block__equipment-button"
                >
                  В комплекте
                </button>
                <button
                  class="button button_avd button_size_10_25 button_font_11_15 button_radius_4 equipment-terminal-block__equipment-button"
                  data-toggle="modal"
                  data-target="#modalTerminal"
                >
                  Подробное описание <br />
                  терминала
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="equipment-terminal-block__header-box">
      <div class="container equipment-terminal-block__header-container">
        <div class="row equipment-terminal-block__header-row">
          <div
            class="col-lg-6 col-md-6 col-sm-6 col-12 equipment-terminal-block__header-col"
          >
            <div
              class="terminal-one-preview equipment-terminal-block__terminal-one-preview"
            >
              <h3 class="terminal-one-preview__title">
                Терминал моченого поста
              </h3>
              <img
                src="./img/temp/terminal-calculator-2.png"
                alt=""
                class="terminal-one-preview__image"
              />
            </div>
          </div>

          <div
            class="col-lg-6 col-md-6 col-sm-6 col-12 equipment-terminal-block__header-col"
          >
            <div
              class="terminal-one-description equipment-terminal-block__terminal-one-description"
            >
              <h4 class="terminal-one-description__title">
                Коротко о терминале:
              </h4>
              <p class="terminal-one-description__paragraph">
                Терминал размещается на каждом моечном посту автомойки.
                <br />
                Терминал оснащен бесконтактным считывателем клиентских карт.
              </p>

              <ul class="terminal-one-description__list">
                <li class="terminal-one-description__li">
                  Корпус: Нержавейка, каленое стекло 4мм.
                </li>
                <li class="terminal-one-description__li">
                  Нанесение надписей промышленным способом
                </li>
                <li class="terminal-one-description__li">
                  Корпус влагостойкий
                </li>
                <li class="terminal-one-description__li">
                  Терминал всепогодный и может размещаться как внутри помещений
                  так и на улице
                </li>
                <li class="terminal-one-description__li">
                  В зимний период терминал автоматически обогревается изнутри
                </li>
                <li class="terminal-one-description__li">
                  Емкостные кнопки выбора опции со светевой индикацией. Возможно
                  разместить до 6 опций + опция “Пауза”
                </li>
              </ul>

              <button
                class="button button_blue button_radius_4 button_font_13_20 button_size_15_20 terminal-one-description__button"
              >
                Выбрано
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="equipment-terminal-block__cost-block-box">
      <div class="container equipment-terminal-block__header-container">
        <div class="row equipment-terminal-block__header-row">
          <div class="col equipment-terminal-block__header-col">
            <div class="equipment-terminal-block__cost-block">
              <p class="equipment-terminal-block__cost-block__price">
                000 000 ₽
              </p>
              <button
                class="button button_blue button_radius_5 button_font_11_15 button_size_10_50 equipment-terminal-block__cost-block__button_more"
                data-toggle="modal"
                data-target="#modalTerminal"
              >
                Подробное описание <br />
                терминала
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="equipment-terminal-block__terminal-block-option-box">
      <div
        class="container equipment-terminal-block__terminal-block-option-container"
      >
        <div class="row equipment-terminal-block__terminal-block-option-row">
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-terminal-block__terminal-block-option-col equipment-terminal-block__terminal-block-option-col_margin-bottom"
          >
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">
                Монетоприёмник
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div
                        class="terminal-block-option__checkbox-radio-container"
                      >
                        <div
                          class="terminal-block-option__checkbox-radio-empty"
                        ></div>
                      </div>

                      <p class="terminal-block-option__subtitle">
                        Монетоприёмник EU 9
                      </p>

                      <p class="terminal-block-option__text">
                        В комплекте Deserunt labore ipsum eu consectetur in
                        reprehenderit sunt pariatur dolor
                      </p>
                      <p class="terminal-block-option__price"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-8 col-md-8 col-sm-8 col-12 equipment-terminal-block__terminal-block-option-col equipment-terminal-block__terminal-block-option-col_margin-bottom"
          >
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">
                Купюроприёмник
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div
                        class="terminal-block-option__checkbox-radio-container"
                      >
                        <div
                          class="terminal-block-option__checkbox-radio-empty"
                        ></div>
                      </div>

                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник Cashcode (Канада)
                      </p>

                      <p class="terminal-block-option__text">
                        В комплекте Deserunt labore ipsum eu consectetur in
                        reprehenderit sunt pariatur dolor
                      </p>
                      <p class="terminal-block-option__price"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-terminal-block__terminal-block-option-col equipment-terminal-block__terminal-block-option-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Фискальный чек</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div
                        class="terminal-block-option__checkbox-radio-container"
                      >
                        <!-- default checked add class checkbox-block_active -->
                        <div class="checkbox-block checkbox-block_active">
                          <!-- default checked add checked="true" -->
                          <input
                            name="equipment-terminal-block-1"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="equipment-terminal-block-1"
                            checked="true"
                          />
                          <label
                            for="equipment-terminal-block-1"
                            class="checkbox-block__label"
                          ></label>
                        </div>
                      </div>

                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>

                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-terminal-block__terminal-block-option-col equipment-terminal-block__terminal-block-option-col_margin-bottom"
          >
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">
                Оплата банковской картой
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div
                        class="terminal-block-option__checkbox-radio-container"
                      >
                        <div class="checkbox-block">
                          <input
                            name="equipment-terminal-block-2"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="equipment-terminal-block-2"
                          />
                          <label
                            for="equipment-terminal-block-2"
                            class="checkbox-block__label"
                          ></label>
                        </div>
                      </div>

                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>

                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-terminal-block__terminal-block-option-col equipment-terminal-block__terminal-block-option-col_margin-bottom"
          >
            <!-- disabled checkbox add class terminal-block-option_disabled -->
            <div class="terminal-block-option terminal-block-option_disabled">
              <h3 class="terminal-block-option__title">
                Приёмник карт лояльности
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div
                        class="terminal-block-option__checkbox-radio-container"
                      >
                        <div class="checkbox-block">
                          <!-- disabled checkbox add checked="true" -->
                          <input
                            name="equipment-terminal-block-3"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="equipment-terminal-block-3"
                            disabled="true"
                          />
                          <label
                            for="equipment-terminal-block-3"
                            class="checkbox-block__label"
                          ></label>
                        </div>
                      </div>

                      <p class="terminal-block-option__subtitle">
                        Pay Pass/Телефон
                      </p>

                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
