<div class="equipment-block">
  <div class="container equipment-block__container">
    <div class="row equipment-block__row">
      <div class="col equipment-block__col">
        <h2 class="equipment-block__title equipment-block__title_light">
          Подбор силового оборудования (Размещается в тех. помещении)
        </h2>
      </div>
    </div>
  </div>

  <div class="equipment-block__equipments">
    <div class="container equipment-block__container">
      <div class="row equipment-block__row">
        <div class="col equipment-block__col">
          <div class="equipment-block__preview">
            <h2
              class="equipment-block__title equipment-block__title_dark equipment-block__preview-title"
            >
              Станина с силовым оборудованием — 243 000 ₽
            </h2>
            <img
              src="./img/temp/equipment-preview.jpg"
              alt=""
              class="equipment-block__preview-image"
            />
          </div>
        </div>
      </div>

      <div class="row equipment-block__row">
        <div class="col equipment-block__col">
          <h2 class="equipment-block__title equipment-block__title_dark">
            Выбор АВД
          </h2>
        </div>
      </div>

      <div class="row equipment-block__row">
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__col equipment-block__col_margin"
        >
          <div class="equipment-block-card equipment-block-card_active">
            <img
              src="./img/temp/equipment-item.png"
              alt=""
              class="equipment-block-card__image"
            />
            <div class="equipment-block-card-body">
              <h3 class="equipment-block-card__title">Annovl Reverbl 13/180</h3>
              <ul class="equipment-block-card__list">
                <li class="equipment-block-card__li">
                  Deserunt labore ipsum
                </li>
                <li class="equipment-block-card__li">
                  euconsectetur in reprehenderit
                </li>
                <li class="equipment-block-card__li">sunt pariatur dolor</li>
              </ul>
              <p class="equipment-block-card__price"></p>
            </div>
            <div class="equipment-block-card-footer">
              <button
                class="button button_avd button_size_9_9_11 button_radius_5 button_font_11_15 equipment-block-card__button"
              >
                Выбрано
              </button>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__col equipment-block__col_margin"
        >
          <div class="equipment-block-card">
            <img
              src="./img/temp/equipment-item.png"
              alt=""
              class="equipment-block-card__image"
            />
            <div class="equipment-block-card-body">
              <h3 class="equipment-block-card__title">HAWK NMT 15/20 R</h3>
              <ul class="equipment-block-card__list">
                <li class="equipment-block-card__li">
                  Deserunt labore ipsum
                </li>
                <li class="equipment-block-card__li">
                  euconsectetur in reprehenderit
                </li>
                <li class="equipment-block-card__li">sunt pariatur dolor</li>
              </ul>
              <p class="equipment-block-card__price">+ 12 000 р/пост</p>
            </div>
            <div class="equipment-block-card-footer">
              <button
                class="button button_avd button_size_9_9_11 button_radius_5 button_font_11_15 equipment-block-card__button"
              >
                Выбрано
              </button>
            </div>
          </div>
        </div>

        <div
          class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__col equipment-block__col_margin"
        >
          <div class="equipment-block-card">
            <img
              src="./img/temp/equipment-item.png"
              alt=""
              class="equipment-block-card__image"
            />
            <div class="equipment-block-card-body">
              <h3 class="equipment-block-card__title">HAWK NMT 15/25 RN</h3>
              <ul class="equipment-block-card__list">
                <li class="equipment-block-card__li">
                  Deserunt labore ipsum
                </li>
                <li class="equipment-block-card__li">
                  euconsectetur in reprehenderit
                </li>
                <li class="equipment-block-card__li">sunt pariatur dolor</li>
              </ul>
              <p class="equipment-block-card__price">+ 12 000 р/пост</p>
            </div>
            <div class="equipment-block-card-footer">
              <button
                class="button button_avd button_size_9_9_11 button_radius_5 button_font_11_15 equipment-block-card__button"
              >
                Выбрано
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row equipment-block__row">
        <div class="col equipment-block__col">
          <h2 class="equipment-block__title equipment-block__title_dark">
            Дополнительный функционал силового оборудования
          </h2>
        </div>
      </div>

      <div class="equipment-block__function-container">
        <div class="row equipment-block__function-row">
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-1"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-1"
                  />
                  <label
                    for="equipment-function-1"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Зимний режим
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text"></p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-2"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-2"
                  />
                  <label
                    for="equipment-function-2"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Гидрокомпенсатор
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text">
                Deserunt labore ipsum eu consectetur in reprehenderit sunt
                pariatur dolor
              </p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-3"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-3"
                  />
                  <label
                    for="equipment-function-3"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Гидрокомпенсатор
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text"></p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-4"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-4"
                  />
                  <label
                    for="equipment-function-4"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Зимний режим
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text"></p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-5"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-5"
                  />
                  <label
                    for="equipment-function-5"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Гидрокомпенсатор
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text">
                Deserunt labore ipsum eu consectetur in reprehenderit sunt
                pariatur dolor
              </p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 equipment-block__function-col equipment-block__function-col_border"
          >
            <div class="equipment-function-card">
              <div class="equipment-function-card__checkbox-radio-container">
                <div class="checkbox-block">
                  <input
                    name="equipment-function-6"
                    type="checkbox"
                    class="checkbox-block__input"
                    id="equipment-function-6"
                  />
                  <label
                    for="equipment-function-6"
                    class="checkbox-block__label"
                  ></label>
                </div>
              </div>
              <img
                src="./img/ic_equipment.svg"
                alt=""
                class="equipment-function-card__icon"
              />
              <h3 class="equipment-function-card__title">
                Гидрокомпенсатор
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top"
                  class="terminal-block-function__tooltip"
                >
                  <img src="./img/tooltip-icon.svg" alt="" />
                </span>
              </h3>
              <p class="equipment-function-card__text"></p>
              <p class="equipment-function-card__price">000 000 ₽</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
