<div class="feedback">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="feedback__subtitle">
          Мы ответим на все интересующие вопросы
        </h2>
        <h1 class="feedback__title">Оставьте заявку</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="feedback__form">
          <form action="">
            <div class="feedback__form-group feedback__form-group_margin">
              <label for="name" class="feedback__form-label">Имя</label>
              <div class="feedback__form-input-container">
                <input
                  type="text"
                  class="feedback__form-input"
                  placeholder="Имя"
                  id="name"
                  name="name"
                />
              </div>
            </div>

            <div class="feedback__form-group feedback__form-group_margin">
              <label for="phone" class="feedback__form-label">Телефон</label>
              <div class="feedback__form-input-container">
                <input
                  type="text"
                  class="feedback__form-input"
                  placeholder="Телефон"
                  id="phone"
                  name="phone"
                />
              </div>
            </div>

            <div class="feedback__form-group feedback__form-group_margin">
              <label for="comment" class="feedback__form-label"
                >Комментарий</label
              >
              <div class="feedback__form-input-container">
                <textarea
                  name="comment"
                  id="comment"
                  class="feedback__form-input feedback__form-textarea"
                  placeholder="Комментарий"
                  id="comment"
                ></textarea>
              </div>
            </div>

            <div class="feedback__form-group">
              <div class="feedback__form-label"></div>
              <div class="feedback__form-input-container">
                <button
                  type="submit"
                  class="button button_orange button_radius_6 button_size_10_50 feedback__form-submit"
                >
                  Отправить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="./img/car.svg" alt="" class="feedback__car" />
      </div>
    </div>
  </div>
</div>
