<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 footer__logo-col">
        <div class="footer__logo-container">
          <a href="#" class="footer__logo-link">
            <img src="./img/logo.svg" alt="" class="footer__logo-image" />
          </a>
          <p class="footer__logo-text">
            Отличный выбор оборудования <br />для автомоек самообслуживания
          </p>
          <a
            href="http://paladin-engineering.ru/"
            target="_black"
            class="footer__paladin-engineering"
            >Разработано в Paladin Engineering</a
          >
        </div>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 footer__address-col">
        <h3 class="footer__title">Адрес</h3>
        <p class="footer__text">Москва, ул. Авиамоторная 22/12</p>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 footer__schedule-col">
        <h3 class="footer__title">Расписание</h3>
        <p class="footer__text">
          Ежедневно <br />
          с 9:00 до 18:00
        </p>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 footer__phone-col">
        <h3 class="footer__title">Телефон</h3>
        <a href="tel:+78007002060" class="footer__link">+7 (800) 700-20-60</a>
        <a href="tel:+74957252563" class="footer__link">+7 (495) 725-25-63</a>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-12 footer__mail-col">
        <h3 class="footer__title">Почта</h3>
        <a href="mailto:Info@moyka-wave.ru" class="footer__link"
          >Info@moyka-wave.ru</a
        >
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="footer-copyright__text">
          © 2014-2018 «Wave-S». Мойки самообслуживания
        </p>
      </div>
    </div>
  </div>
</div>
