<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<link rel="shortcut icon" href="favicon/favicon.ico" />
		<link rel="stylesheet" href="css/style.bundle.css" />
		<title><%=title%></title>
	</head>
	<body>