<div class="installation-equipment-block">
  <div class="container installation-equipment-block__container">
    <div class="row installation-equipment-block__row">
      <div class="col installation-equipment-block__col">
        <h2 class="installation-equipment-block__title">
          Дополнительное оборудование для монтажа
        </h2>
      </div>
    </div>

    <div class="row installation-equipment-block__row">
      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div
          class="installation-equipment-block-card installation-equipment-block-card_active"
        >
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрано
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div class="installation-equipment-block-card">
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрать
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div class="installation-equipment-block-card">
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрать
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div class="installation-equipment-block-card">
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрать
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div class="installation-equipment-block-card">
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрать
            </button>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-4 col-sm-4 col-12 installation-equipment-block__col installation-equipment-block__col_margin"
      >
        <div class="installation-equipment-block-card">
          <div class="installation-equipment-block-card__image-container">
            <img
              src="./img/temp/nstallation-equipment-1.png"
              alt=""
              class="installation-equipment-block-card__image"
            />
          </div>
          <div class="installation-equipment-block-card__content">
            <h3 class="installation-equipment-block-card__title">Название 1</h3>
            <ul class="installation-equipment-block-card__list">
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
              <li class="installation-equipment-block-card__li">Описание 1</li>
            </ul>
            <p class="installation-equipment-block-card__price">378 000 ₽</p>
            <button
              class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 installation-equipment-block-card__button"
              data-selected="Выбрано"
              data-unselected="Выбрать"
            >
              Выбрать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
