<div
  class="modal fade modal-success"
  id="modalSuccess"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalSuccessTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-success__content">
      <div class="modal-header modal-success__header">
        <h5 class="modal-title modal-success__title">
          Заявка отправлена
        </h5>
        <button
          type="button"
          class="close modal-success__close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="./img/modal-ok.svg" alt="" class="" />
        </button>
      </div>
    </div>
  </div>
</div>
