<div
  class="modal fade modal-feedback"
  id="modalFeedback"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalFeedbackTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-feedback__content">
      <div class="modal-header modal-feedback__header">
        <h5 class="modal-feedback__title">
          Заполните форму
        </h5>
        <button
          type="button"
          class="close modal-feedback__close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="./img/modal-close.svg" alt="" class="" />
        </button>
      </div>

      <div class="modal-body modal-feedback__body">
        <form>
          <div class="form-group modal-feedback__form-group">
            <label for="name" class="col-form-label modal-feedback__label"
              >Имя</label
            >
            <input
              type="text"
              class="form-control modal-feedback__input"
              id="name"
              placeholder="Введите имя"
            />
          </div>
          <div class="form-group modal-feedback__form-group">
            <label for="phone" class="col-form-label modal-feedback__label"
              >Телефон</label
            >
            <input
              type="text"
              class="form-control  modal-feedback__input"
              id="phone"
              placeholder="Введите номер телефона"
            />
          </div>
          <div class="form-group modal-feedback__form-group">
            <label for="message" class="col-form-label modal-feedback__label"
              >Комментарий</label
            >
            <textarea
              class="form-control modal-feedback__textarea"
              id="message"
              placeholder="Напишите комментарий"
            ></textarea>
          </div>

          <button
            type="button"
            class="button button_orange button_radius_10 button_font_13_20 button_size_10 modal-feedback__button"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#modalSuccess"
          >
            Отправить
          </button>
        </form>
      </div>
      <div class="modal-footer modal-feedback__footer">
        <p class="modal-feedback__text-policy">
          Заполняя форму обратной связи вы соглашаетесь
          <a href="#" class="modal-feedback__link-policy"
            >с политикой конфиденциальности</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
