<div
  class="modal fade modal-terminal"
  id="modalTerminal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTerminalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div
      class="modal-content modal-terminal__content carousel slide carousel-fade"
      id="carouselExampleIndicators"
      data-ride="carousel"
    >
      <div class="modal-header modal-terminal__header">
        <h5 class="modal-terminal__title">Терминал</h5>
        <button
          type="button"
          class="close modal-terminal__close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="./img/modal-close.svg" alt="" class="" />
        </button>
      </div>

      <div class="modal-body modal-terminal__body">
        <div class="modal-terminal__slider-container">
          <div class="carousel-inner">
            <div class="modal-terminal__slider-item carousel-item active">
              <div class="image-tooltip modal-terminal__image-tooltip">
                <img
                  src="./img/temp/terminal-tooltip-big.png"
                  alt=""
                  class="image-tooltip__image"
                />

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_1"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_2"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_3"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_4"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_5"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_6"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>

                <div
                  class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_7"
                >
                  <button
                    class="image-tooltip__button-tooltip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                  ></button>
                </div>
              </div>

              <!-- <div class="modal-terminal__table-container">
                <table class="table modal-terminal__table">
                  <thead>
                    <tr>
                      <th scope="col" colspan="2">Характеристики</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="modal-terminal__table-title-cell">Пункт 1</td>
                      <td>Характеристика 1</td>
                    </tr>
                    <tr>
                      <td class="modal-terminal__table-title-cell">Пункт 2</td>
                      <td>Характеристика 2</td>
                    </tr>
                    <tr>
                      <td class="modal-terminal__table-title-cell">Пункт 3</td>
                      <td>Характеристика 3</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
            </div>

            <div class="carousel-item modal-terminal__slider-item">
              <div class="modal-terminal__image-container">
                <img
                  src="./img/temp/terminal-tooltip.png"
                  alt=""
                  class="modal-terminal__image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer modal-terminal__footer">
        <div class="modal-terminal__slider-indicators-container">
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            >
              <img src="./img/temp/slide-indicator-1.png" alt="" />
            </li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">
              <img src="./img/temp/slide-indicator-2.png" alt="" />
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
