<div
  class="modal fade modal-search"
  id="modalSearch"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalSearchCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-search__dialog"
    role="document"
  >
    <div class="modal-content modal-search__content">
      <div class="modal-header modal-search__header">
        <button
          type="button"
          class="close modal-feedback__close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="./img/menu_cross.svg" alt="" class="" />
        </button>
      </div>
      <div class="modal-body modal-search__body">
        <input
          class="modal-search__input-search"
          type="text"
          placeholder="Поиск..."
        />
        <div class="modal-search__result">
          <ul class="modal-search__list">
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
            <li class="modal-search__li">
              <a href="#" class="modal-search__link">Оборудование</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
