<div class="menu">
  <nav class="navbar navbar-expand-lg menu__navbar">
    <div class="menu__navbar-row">
      <a href="tel:+78007002060" class="menu__phone">
        <img src="./img/phone-circle.svg" alt="" />
      </a>

      <a class="menu__navbar-brand" href="#"></a>

      <button
        class="navbar-toggler menu__navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-wave"
        aria-controls="navbar-wave"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon menu__navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse menu__navbar-collapse"
      id="navbar-wave"
    >
      <div class="menu__container">
        <div class="menu__top-nav">
          <div class="container">
            <div class="row">
              <div class="col menu__top-nav-content">
                <ul class="navbar-nav mr-auto menu__top-navbar-nav-left">
                  <li class="nav-item menu__flag flag">
                    <select class="selectpicker">
                      <option
                        data-content="<span class='flag__item'><img src='./img/rus_flag.svg' alt='' /><span>Россия</span></span>"
                      >
                        Россия
                      </option>

                      <option
                        data-content="<span class='flag__item'><img src='./img/kaz_flag.svg' alt='' /><span>Казахстан</span></span>"
                      >
                        Казахстан
                      </option>
                    </select>
                  </li>
                  <li class="nav-item menu__search search">
                    <input
                      class="form-control search__form-control"
                      type="text"
                      placeholder="Поиск..."
                    />
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto menu__top-navbar-nav-right">
                  <li
                    class="nav-item menu__top-right-nav-item menu__top-right-nav-item_clock"
                  >
                    <span class="nav-link menu__top-right-nav-link"
                      >Ежедневно с 9:00 до 18:00</span
                    >
                  </li>
                  <li
                    class="nav-item menu__top-right-nav-item menu__top-right-nav-item_phone"
                  >
                    <a
                      class="nav-link menu__top-right-nav-link"
                      href="tel:+78007002060"
                      >+7 (800) 700-20-60</a
                    >
                  </li>
                  <li
                    class="nav-item menu__top-right-nav-item menu__top-right-nav-item_phone"
                  >
                    <a
                      class="nav-link menu__top-right-nav-link"
                      href="tel:+74957252563"
                      >+7 (495) 725-25-63</a
                    >
                  </li>
                  <li
                    class="nav-item menu__top-right-nav-item menu__top-right-nav-item_mail"
                  >
                    <a
                      class="nav-link menu__top-right-nav-link"
                      href="mailto:Info@moyka-wave.ru"
                      >Info@moyka-wave.ru</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="menu__bottom-nav">
          <div class="container">
            <div class="row">
              <div class="col menu__bottom-nav-content">
                <a class="navbar-brand menu__navbar-brand-bottom" href="#">
                  <img src="./img/logo.svg" alt="" />
                </a>
                <ul class="navbar-nav ml-auto menu__navbar-nav-content">
                  <li
                    class="dropdown nav-item menu__bottom-nav-item dropdown-submenu"
                  >
                    <a
                      class="dropdown-toggle nav-link menu__bottom-nav-link dropdown-submenu__toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span></span>
                      Оборудование
                      <div class="dropdown-submenu__triangle"></div>
                    </a>
                    <div
                      class="dropdown-menu container dropdown-submenu__body"
                      aria-labelledby="navbarDropdown"
                    >
                      <div class="row dropdown-submenu__row">
                        <div class="col-3 dropdown-submenu__col">
                          <div class="dropdown-submenu__block">
                            <div class="dropdown-submenu__container">
                              <div class="dropdown-submenu__header">
                                <div class="dropdown-submenu__image-container">
                                  <img
                                    src="./img/temp/equipment/1.jpg"
                                    alt=""
                                    class="dropdown-submenu__image"
                                  />
                                </div>

                                <h3 class="dropdown-submenu__header-title">
                                  Для моек самообслуживания
                                </h3>
                                <div class="dropdown-submenu__arrow-selective">
                                  <img src="./img/arrow-selective.svg" alt="" />
                                </div>
                              </div>

                              <div class="dropdown-submenu__shell">
                                <div class="dropdown-submenu__inner-shell">
                                  <div class="dropdown-submenu__content">
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-3 dropdown-submenu__col">
                          <div class="dropdown-submenu__block">
                            <div class="dropdown-submenu__container">
                              <div class="dropdown-submenu__header">
                                <div class="dropdown-submenu__image-container">
                                  <img
                                    src="./img/temp/equipment/1.jpg"
                                    alt=""
                                    class="dropdown-submenu__image"
                                  />
                                </div>

                                <h3 class="dropdown-submenu__header-title">
                                  Для моек самообслуживания
                                </h3>
                                <div class="dropdown-submenu__arrow-selective">
                                  <img src="./img/arrow-selective.svg" alt="" />
                                </div>
                              </div>

                              <div class="dropdown-submenu__shell">
                                <div class="dropdown-submenu__inner-shell">
                                  <div class="dropdown-submenu__content">
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-3 dropdown-submenu__col">
                          <div class="dropdown-submenu__block">
                            <div class="dropdown-submenu__container">
                              <div class="dropdown-submenu__header">
                                <div class="dropdown-submenu__image-container">
                                  <img
                                    src="./img/temp/equipment/1.jpg"
                                    alt=""
                                    class="dropdown-submenu__image"
                                  />
                                </div>

                                <h3 class="dropdown-submenu__header-title">
                                  Для моек самообслуживания
                                </h3>
                                <div class="dropdown-submenu__arrow-selective">
                                  <img src="./img/arrow-selective.svg" alt="" />
                                </div>
                              </div>

                              <div class="dropdown-submenu__shell">
                                <div class="dropdown-submenu__inner-shell">
                                  <div class="dropdown-submenu__content">
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-3 dropdown-submenu__col">
                          <div class="dropdown-submenu__block">
                            <div class="dropdown-submenu__container">
                              <div class="dropdown-submenu__header">
                                <div class="dropdown-submenu__image-container">
                                  <img
                                    src="./img/temp/equipment/1.jpg"
                                    alt=""
                                    class="dropdown-submenu__image"
                                  />
                                </div>

                                <h3 class="dropdown-submenu__header-title">
                                  Для моек самообслуживания
                                </h3>
                                <div class="dropdown-submenu__arrow-selective">
                                  <img src="./img/arrow-selective.svg" alt="" />
                                </div>
                              </div>

                              <div class="dropdown-submenu__shell">
                                <div class="dropdown-submenu__inner-shell">
                                  <div class="dropdown-submenu__content">
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                    <div class="dropdown-submenu__item">
                                      <p class="dropdown-submenu__item-title">
                                        Комплекты оборудования МСО
                                      </p>
                                      <div
                                        class="dropdown-submenu__links-container"
                                      >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Терминалы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Платежные системы МСО</a
                                        >
                                        <a
                                          href="#"
                                          class="dropdown-submenu__item-link"
                                          >Аксессуары МСО</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="nav-item menu__bottom-nav-item">
                    <a class="nav-link menu__bottom-nav-link" href="#"
                      >Онлайн-Конструктор</a
                    >
                  </li>
                  <li class="nav-item menu__bottom-nav-item">
                    <a class="nav-link menu__bottom-nav-link" href="#"
                      >Объекты</a
                    >
                  </li>
                  <li class="nav-item menu__bottom-nav-item">
                    <a class="nav-link menu__bottom-nav-link" href="#"
                      >О компании</a
                    >
                  </li>
                  <li class="nav-item menu__bottom-nav-item">
                    <a class="nav-link menu__bottom-nav-link" href="#"
                      >Пресса о нас</a
                    >
                  </li>
                  <li class="nav-item menu__bottom-nav-item">
                    <a class="nav-link menu__bottom-nav-link" href="#"
                      >Контакты</a
                    >
                  </li>
                  <li
                    class="nav-item menu__bottom-nav-item menu__bottom-nav-item_callback"
                  >
                    <a
                      class="nav-link menu__bottom-nav-link"
                      href="#"
                      data-dismiss="modal"
                      data-toggle="modal"
                      data-target="#modalFeedback"
                      >Заказать звонок</a
                    >
                  </li>
                </ul>

                <ul class="navbar-nav mr-auto menu__nav-footer">
                  <li
                    class="nav-item menu__footer-flag flag flag_ligth menu__nav-item-footer"
                  >
                    <select class="selectpicker">
                      <option
                        data-content="<span class='flag__item'><img src='./img/rus_flag.svg' alt='' /><span>Россия</span></span>"
                      >
                        Россия
                      </option>
                      <option
                        data-content="<span class='flag__item'><img src='./img/kaz_flag.svg' alt='' /><span>Казахстан</span></span>"
                      >
                        Казахстан
                      </option>
                    </select>
                  </li>

                  <li
                    class="nav-item menu__footer-search search search_ligth menu__nav-item-footer"
                  >
                    <input
                      class="form-control search__form-control"
                      type="text"
                      placeholder="Поиск..."
                    />
                    <div
                      class="menu__search-mask"
                      data-toggle="modal"
                      data-target="#modalSearch"
                    ></div>
                  </li>

                  <li
                    class="nav-item menu__nav-item-footer menu__nav-item-footer_clock"
                  >
                    <span class="nav-link">Ежедневно с 9:00 до 18:00</span>
                  </li>
                  <li
                    class="nav-item menu__nav-item-footer menu__nav-item-footer_mail"
                  >
                    <a class="nav-link" href="mailto:Info@moyka-wave.ru"
                      >Info@moyka-wave.ru</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
