<div class="post-block">
  <h3 class="post-block__title">Выберите количество постов</h3>
  <div class="post-block__container">
    <div class="post-block__row">
      <div class="post-block__col">
        <button
          class="button button_radius_4 post-block__button post-block__button_active"
        >
          1
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          2
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          3
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          4
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          5
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          6
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          7
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          6
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          9
        </button>
      </div>

      <div class="post-block__col">
        <button class="button button_radius_4 post-block__button">
          10
        </button>
      </div>
    </div>
  </div>
</div>
