<!-- Блок с id purifiers повторяется в верстке, при подключении дать разные id -->
<div class="purifiers-block" id="purifiers">
  <div class="container purifiers-block__container">
    <div class="row purifiers-block__row">
      <div class="col purifiers-block__col">
        <div class="purifiers-block__title-container">
          <h2 class="purifiers-block__title">Водоочистка</h2>
        </div>
      </div>
    </div>

    <div class="row purifiers-block__row">
      <div class="col-12 purifiers-block__col purifiers-block__col_margin">
        <div class="purifier-block-card purifier-block-card_active">
          <div class="purifier-block-card__image-container">
            <img
              src="./img/temp/purifier.png"
              alt=""
              class="purifier-block-card__image"
            />
          </div>
          <div class="purifier-block-card__content">
            <div class="purifier-block-card__header">
              <h3 class="purifier-block-card__title">Название 1</h3>
              <p class="purifier-block-card__price">378 000 ₽</p>
            </div>
            <div class="purifier-block-card__body">
              <h4 class="purifier-block-card__body-title">Описание:</h4>
              <p class="purifier-block-card__text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
              <h4 class="purifier-block-card__body-title">Характеристики:</h4>

              <ul class="purifier-block-card__list">
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
              </ul>
            </div>
            <div class="purifier-block-card__footer">
              <button
                class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 purifier-block-card__button"
                data-selected="Выбрано"
                data-unselected="Выбрать"
              >
                Выбрано
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 purifiers-block__col purifiers-block__col_margin">
        <div class="purifier-block-card">
          <div class="purifier-block-card__image-container">
            <img
              src="./img/temp/purifier.png"
              alt=""
              class="purifier-block-card__image"
            />
          </div>
          <div class="purifier-block-card__content">
            <div class="purifier-block-card__header">
              <h3 class="purifier-block-card__title">Название 2</h3>
              <p class="purifier-block-card__price">378 000 ₽</p>
            </div>
            <div class="purifier-block-card__body">
              <h4 class="purifier-block-card__body-title">Описание:</h4>
              <p class="purifier-block-card__text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
              <h4 class="purifier-block-card__body-title">Характеристики:</h4>

              <ul class="purifier-block-card__list">
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
              </ul>
            </div>
            <div class="purifier-block-card__footer">
              <button
                class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 purifier-block-card__button"
                data-selected="Выбрано"
                data-unselected="Выбрать"
              >
                Выбрать
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 purifiers-block__col purifiers-block__col_margin">
        <div class="purifier-block-card">
          <div class="purifier-block-card__image-container">
            <img
              src="./img/temp/purifier.png"
              alt=""
              class="purifier-block-card__image"
            />
          </div>
          <div class="purifier-block-card__content">
            <div class="purifier-block-card__header">
              <h3 class="purifier-block-card__title">Название 3</h3>
              <p class="purifier-block-card__price">378 000 ₽</p>
            </div>
            <div class="purifier-block-card__body">
              <h4 class="purifier-block-card__body-title">Описание:</h4>
              <p class="purifier-block-card__text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
              <h4 class="purifier-block-card__body-title">Характеристики:</h4>

              <ul class="purifier-block-card__list">
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
              </ul>
            </div>
            <div class="purifier-block-card__footer">
              <button
                class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 purifier-block-card__button"
                data-selected="Выбрано"
                data-unselected="Выбрать"
              >
                Выбрать
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 purifiers-block__col purifiers-block__col_margin">
        <div class="purifier-block-card">
          <div class="purifier-block-card__image-container">
            <img
              src="./img/temp/purifier.png"
              alt=""
              class="purifier-block-card__image"
            />
          </div>
          <div class="purifier-block-card__content">
            <div class="purifier-block-card__header">
              <h3 class="purifier-block-card__title">Название 4</h3>
              <p class="purifier-block-card__price">378 000 ₽</p>
            </div>
            <div class="purifier-block-card__body">
              <h4 class="purifier-block-card__body-title">Описание:</h4>
              <p class="purifier-block-card__text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </p>
              <h4 class="purifier-block-card__body-title">Характеристики:</h4>

              <ul class="purifier-block-card__list">
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
                <li class="purifier-block-card__li">Описание 1</li>
              </ul>
            </div>
            <div class="purifier-block-card__footer">
              <button
                class="button button_blue button_blue_hover_dark-blue button_size_10 button_radius_10 button_font_13_20 purifier-block-card__button"
                data-selected="Выбрано"
                data-unselected="Выбрать"
              >
                Выбрать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
