<div class="server-card">
  <div class="container server-card__container">
    <div class="row server-card__row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 server-card__col">
        <div class="server-card__image-container">
          <img
            src="./img/temp/server-img.png"
            alt=""
            class="server-card__image"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 server-card__col">
        <div class="server-card__content">
          <h3 class="server-card__title">
            <span>Сервер</span> (управление всеми процессами автомойки)
          </h3>
          <p class="server-card__price">000 000 ₽</p>
          <div class="server-card__button-container">
            <button
              class="button button_blue button_size_15_20 button_font_13_20 button_radius_4 server-card__button"
            >
              В комплекте
            </button>
            <button
              class="button button_avd button_size_10_25 button_font_11_15 button_radius_4 server-card__button"
              data-toggle="modal"
              data-target="#modalTerminal"
            >
              Подробное описание <br />
              терминала
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
