<div class="terminals-block">
  <div class="terminal-block__terminals-container">
    <div class="container terminal-block__terminal-container">
      <div class="row terminal-block__terminal-row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__terminal-col">
          <div class="terminals-block-card terminals-block-card_active" data-terminal-id="terminal-1">
            <h3 class="terminals-block-card-title">“Eko” вариант №1</h3>
            <div class="terminals-block-card-border-container">
              <div class="terminals-block-card-image-container">
                <img
                  src="./img/temp/terminal-2.png"
                  alt=""
                  class="terminals-block-card-image"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__terminal-col">
          <div class="terminals-block-card" data-terminal-id="terminal-2">
            <h3 class="terminals-block-card-title">“Eko” вариант №1</h3>
            <div class="terminals-block-card-border-container">
              <div class="terminals-block-card-image-container">
                <img
                  src="./img/temp/terminal-2.png"
                  alt=""
                  class="terminals-block-card-image"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__terminal-col">
          <div class="terminals-block-card" data-terminal-id="terminal-3">
            <h3 class="terminals-block-card-title">“Eko” вариант №1</h3>
            <div class="terminals-block-card-border-container">
              <div class="terminals-block-card-image-container">
                <img
                  src="./img/temp/terminal-2.png"
                  alt=""
                  class="terminals-block-card-image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="terminal-block__options-container">

    <div
      class="terminal-block__options-card terminal-block__options-card_shift-top terminal-block__options-card_active"
      data-terminal-id="terminal-1"
    >
      <div class="container terminal-block__options-container-inner">
        <div class="row terminal-block__options-row">
          <div
            class="col terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block__cost-block">
              <p class="terminal-block__price">000 000 ₽</p>
              <button
                class="button button_blue button_radius_5 button_font_11_15 button_size_10_50 terminal-block__button_more"
                data-toggle="modal" data-target="#modalTerminal"
              >
                Подробное описание <br />
                терминала
              </button>
            </div>
          </div>
        </div>
      
        <div
          class="row terminal-block__options-row terminal-block__options-row_margin-bottom"
        >
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Монетоприёмник</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div
                          class="terminal-block-option__checkbox-radio-empty"
                        ></div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Монетоприёмник EU 9
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">Купюроприёмники</h3>
      
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class radio-block_active -->
                        <div class="radio-block">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-1"
                            type="radio"
                            class="radio-block__input"
                            id="option-1"
                          />
                          <label for="option-1" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник ICT (Китай)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
      
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="radio-block">
                          <input
                            name="option-1"
                            type="radio"
                            class="radio-block__input"
                            id="option-2"
                          />
                          <label for="option-2" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник Cashcode (Канада)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Фискальный чек</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class checkbox-block_active -->
                        <div class="checkbox-block checkbox-block_active">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-3"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-3"
                            checked="true"
                          />
                          <label for="option-3" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">
                Оплата банковской картой
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <input
                            name="option-4"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-4"
                          />
                          <label for="option-4" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- disabled checkbox add class terminal-block-option_disabled -->
            <div class="terminal-block-option terminal-block-option_disabled">
              <h3 class="terminal-block-option__title">
                Приёмник карт лояльности
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <!-- disabled checkbox add checked="true" -->
                          <input
                            name="option-5"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-5"
                            disabled="true"
                          />
                          <label for="option-5" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Pay Pass/Телефон
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col terminal-block__options-col">
            <h2 class="terminal-block__options-functions-title">
              Функции терминала (кнопки опции)
            </h2>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-1"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-1"
                        />
                        <label for="function-1" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam+water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-2"
                        />
                        <label for="function-2" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="terminal-block__options-card terminal-block__options-card_shift-top"
      data-terminal-id="terminal-2"
    >
      <div class="container terminal-block__options-container-inner">
        <div class="row terminal-block__options-row">
          <div
            class="col terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block__cost-block">
              <p class="terminal-block__price">000 000 ₽</p>
              <button
                class="button button_blue button_radius_5 button_font_11_15 button_size_10_50 terminal-block__button_more"
                data-toggle="modal" data-target="#modalTerminal"
              >
                Подробное описание <br />
                терминала
              </button>
            </div>
          </div>
        </div>
      
        <div
          class="row terminal-block__options-row terminal-block__options-row_margin-bottom"
        >
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Монетоприёмник</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div
                          class="terminal-block-option__checkbox-radio-empty"
                        ></div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Монетоприёмник EU 9
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">Купюроприёмники</h3>
      
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class radio-block_active -->
                        <div class="radio-block">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-1-2"
                            type="radio"
                            class="radio-block__input"
                            id="option-1-2"
                          />
                          <label for="option-1-2" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник ICT (Китай)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
      
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="radio-block">
                          <input
                            name="option-1-2"
                            type="radio"
                            class="radio-block__input"
                            id="option-2-2"
                          />
                          <label for="option-2-2" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник Cashcode (Канада)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Фискальный чек</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class checkbox-block_active -->
                        <div class="checkbox-block checkbox-block_active">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-3-2"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-3-2"
                            checked="true"
                          />
                          <label for="option-3-2" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">
                Оплата банковской картой
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <input
                            name="option-4-2"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-4-2"
                          />
                          <label for="option-4-2" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- disabled checkbox add class terminal-block-option_disabled -->
            <div class="terminal-block-option terminal-block-option_disabled">
              <h3 class="terminal-block-option__title">
                Приёмник карт лояльности
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <!-- disabled checkbox add checked="true" -->
                          <input
                            name="option-5-2"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-5-2"
                            disabled="true"
                          />
                          <label for="option-5-2" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Pay Pass/Телефон
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col terminal-block__options-col">
            <h2 class="terminal-block__options-functions-title">
              Функции терминала (кнопки опции)
            </h2>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-1-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-1-2"
                        />
                        <label for="function-1-2" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam+water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-2-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-2-2"
                        />
                        <label for="function-2-2" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="terminal-block__options-card terminal-block__options-card_shift-top"
      data-terminal-id="terminal-3"
    >
      <div class="container terminal-block__options-container-inner">
        <div class="row terminal-block__options-row">
          <div
            class="col terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block__cost-block">
              <p class="terminal-block__price">000 000 ₽</p>
              <button
                class="button button_blue button_radius_5 button_font_11_15 button_size_10_50 terminal-block__button_more"
                data-toggle="modal" data-target="#modalTerminal"
              >
                Подробное описание <br />
                терминала
              </button>
            </div>
          </div>
        </div>
      
        <div
          class="row terminal-block__options-row terminal-block__options-row_margin-bottom"
        >
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Монетоприёмник</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div
                          class="terminal-block-option__checkbox-radio-empty"
                        ></div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Монетоприёмник EU 9
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-8 col-md-8 col-sm-8 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">Купюроприёмники</h3>
      
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class radio-block_active -->
                        <div class="radio-block">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-1-3"
                            type="radio"
                            class="radio-block__input"
                            id="option-1-3"
                          />
                          <label for="option-1-3" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник ICT (Китай)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
      
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="radio-block">
                          <input
                            name="option-1-3"
                            type="radio"
                            class="radio-block__input"
                            id="option-2-3"
                          />
                          <label for="option-2-3" class="radio-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Купюроприёмник Cashcode (Канада)
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- default checked add class terminal-block-option_active -->
            <div class="terminal-block-option terminal-block-option_active">
              <h3 class="terminal-block-option__title">Фискальный чек</h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <!-- default checked add class checkbox-block_active -->
                        <div class="checkbox-block checkbox-block_active">
                          <!-- default checked add checked="true" -->
                          <input
                            name="option-3-3"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-3-3"
                            checked="true"
                          />
                          <label for="option-3-3" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <div class="terminal-block-option">
              <h3 class="terminal-block-option__title">
                Оплата банковской картой
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <input
                            name="option-4-3"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-4-3"
                          />
                          <label for="option-4-3" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Онлайн касса
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div
            class="col-lg-4 col-md-4 col-sm-4 col-12 terminal-block__options-col terminal-block__options-col_margin-bottom"
          >
            <!-- disabled checkbox add class terminal-block-option_disabled -->
            <div class="terminal-block-option terminal-block-option_disabled">
              <h3 class="terminal-block-option__title">
                Приёмник карт лояльности
              </h3>
              <div class="terminal-block-option__container">
                <div class="terminal-block-option__row">
                  <div class="terminal-block-option__col">
                    <div class="terminal-block-option__body">
                      <div class="terminal-block-option__checkbox-radio-container">
                        <div class="checkbox-block">
                          <!-- disabled checkbox add checked="true" -->
                          <input
                            name="option-5-3"
                            type="checkbox"
                            class="checkbox-block__input"
                            id="option-5-3"
                            disabled="true"
                          />
                          <label for="option-5-3" class="checkbox-block__label"></label>
                        </div>
                      </div>
      
                      <p class="terminal-block-option__subtitle">
                        Pay Pass/Телефон
                      </p>
      
                      <p class="terminal-block-option__text">
                        Deserunt labore ipsum eu consectetur in reprehenderit sunt
                        pariatur dolor
                      </p>
                      <p class="terminal-block-option__price">000 000 ₽</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col terminal-block__options-col">
            <h2 class="terminal-block__options-functions-title">
              Функции терминала (кнопки опции)
            </h2>
          </div>
        </div>
      
        <div class="row terminal-block__options-row">
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <button
                        class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                      >
                        Выбрано
                      </button>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-1-3"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-1-3"
                        />
                        <label for="function-1-3" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam+water.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
      
          <div class="col-12 terminal-block__options-functions-col">
            <div class="terminal-block-function">
              <div class="terminal-block-function__container">
                <div class="terminal-block-function__content">
                  <div class="terminal-block-function__content-header">
                    <div class="terminal-block-function__button-container">
                      <div class="checkbox-block">
                        <input
                          name="function-2-3"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="function-2-3"
                        />
                        <label for="function-2-3" class="checkbox-block__label"></label>
                      </div>
                    </div>
                    <h3 class="terminal-block-function__title">
                      Вода под давлением
                      <span
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Tooltip on top"
                        class="terminal-block-function__tooltip"
                      >
                        <img src="./img/tooltip-icon.svg" alt="" />
                      </span>
                    </h3>
                    <p class="terminal-block-function__price">5 000 р/пост</p>
                  </div>
                  <div class="terminal-block-function__content-body">
                    <p>
                      Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                      adipisicing qui enim qui adipisicing adipisicing aliquip enim
                      elit esse aliqua culpa aliquip sit ut nostrud cupidatat minim
                      elit aliqua et commodo laborum qui tempor in ex reprehenderit
                    </p>
                  </div>
                </div>
                <img
                  src="./img/ic_foam.svg"
                  alt=""
                  class="terminal-block-function__icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
