<div class="terminal-big-block">
  <div class="terminal-big-block__header-box">
    <div class="container terminal-big-block__header-container">
      <div class="row terminal-big-block__header-row">
        <div
          class="col-lg-6 col-md-6 col-sm-6 col-12 terminal-big-block__header-col"
        >
          <div
            class="terminal-one-preview terminal-big-block__terminal-one-preview"
          >
            <h3 class="terminal-one-preview__title">Терминал моченого поста</h3>
            <img
              src="./img/temp/terminal-calculator-2.png"
              alt=""
              class="terminal-one-preview__image"
            />
          </div>
        </div>

        <div
          class="col-lg-6 col-md-6 col-sm-6 col-12 terminal-big-block__header-col"
        >
          <div
            class="terminal-one-description terminal-big-block__terminal-one-description"
          >
            <h4 class="terminal-one-description__title">
              Коротко о терминале:
            </h4>
            <p class="terminal-one-description__paragraph">
              Терминал размещается на каждом моечном посту автомойки.
              <br />
              Терминал оснащен бесконтактным считывателем клиентских карт.
            </p>

            <ul class="terminal-one-description__list">
              <li class="terminal-one-description__li">
                Корпус: Нержавейка, каленое стекло 4мм.
              </li>
              <li class="terminal-one-description__li">
                Нанесение надписей промышленным способом
              </li>
              <li class="terminal-one-description__li">Корпус влагостойкий</li>
              <li class="terminal-one-description__li">
                Терминал всепогодный и может размещаться как внутри помещений
                так и на улице
              </li>
              <li class="terminal-one-description__li">
                В зимний период терминал автоматически обогревается изнутри
              </li>
              <li class="terminal-one-description__li">
                Емкостные кнопки выбора опции со светевой индикацией. Возможно
                разместить до 6 опций + опция “Пауза”
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="terminal-big-block__cost-block-box">
    <div class="container terminal-big-block__header-container">
      <div class="row terminal-big-block__header-row">
        <div class="col terminal-big-block__header-col">
          <div class="terminal-big-block__cost-block">
            <p class="terminal-big-block__cost-block__price">000 000 ₽</p>
            <button
              class="button button_blue button_radius_5 button_font_11_15 button_size_10_50 terminal-big-block__cost-block__button_more"
              data-toggle="modal"
              data-target="#modalTerminal"
            >
              Подробное описание <br />
              терминала
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="terminal-big-block__terminal-block-option-box terminal-big-block__terminal-block-option-box_margin"
  >
    <div class="container terminal-big-block__terminal-block-option-container">
      <div class="row terminal-big-block__terminal-block-option-row">
        <div
          class="col terminal-big-block__terminal-block-option-col terminal-big-block__terminal-block-option-col_margin-bottom"
        >
          <div class="terminal-block-option terminal-block-option_active">
            <h3 class="terminal-block-option__title">
              Приёмник карт лояльности
            </h3>
            <div class="terminal-block-option__container">
              <div class="terminal-block-option__row">
                <div class="terminal-block-option__col">
                  <div class="terminal-block-option__body">
                    <div
                      class="terminal-block-option__checkbox-radio-container"
                    >
                      <div
                        class="terminal-block-option__checkbox-radio-empty"
                      ></div>
                    </div>

                    <p class="terminal-block-option__subtitle">
                      Pay Pass/Телефон
                    </p>

                    <p class="terminal-block-option__text">
                      Deserunt labore ipsum eu consectetur in reprehenderit sunt
                      pariatur dolor
                    </p>
                    <p class="terminal-block-option__price"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="terminal-big-block__functions">
    <div class="container terminal-big-block__header-container">
      <div class="row terminal-big-block__header-row">
        <div class="col terminal-big-block__header-col">
          <h3 class="terminal-big-block__functions-title">
            Функции терминала (кнопки опции)
          </h3>
        </div>
      </div>
    </div>

    <div class="container terminal-big-block__functions-container">
      <div class="row terminal-big-block__functions-row">
        <div class="col-12 terminal-big-block__functions-col">
          <div class="terminal-block-function">
            <div class="terminal-block-function__container">
              <div class="terminal-block-function__content">
                <div class="terminal-block-function__content-header">
                  <div class="terminal-block-function__button-container">
                    <button
                      class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                    >
                      Выбрано
                    </button>
                  </div>
                  <h3 class="terminal-block-function__title">
                    Вода под давлением
                    <span
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Tooltip on top"
                      class="terminal-block-function__tooltip"
                    >
                      <img src="./img/tooltip-icon.svg" alt="" />
                    </span>
                  </h3>
                </div>
                <div class="terminal-block-function__content-body">
                  <p>
                    Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                    adipisicing qui enim qui adipisicing adipisicing aliquip
                    enim elit esse aliqua culpa aliquip sit ut nostrud cupidatat
                    minim elit aliqua et commodo laborum qui tempor in ex
                    reprehenderit
                  </p>
                </div>
              </div>
              <img
                src="./img/ic_water.svg"
                alt=""
                class="terminal-block-function__icon"
              />
            </div>
          </div>
        </div>

        <div class="col-12 terminal-big-block__functions-col">
          <div class="terminal-block-function">
            <div class="terminal-block-function__container">
              <div class="terminal-block-function__content">
                <div class="terminal-block-function__content-header">
                  <div class="terminal-block-function__button-container">
                    <button
                      class="button button_blue button_radius_5 button_size_10 button_font_11_15"
                    >
                      Выбрано
                    </button>
                  </div>
                  <h3 class="terminal-block-function__title">
                    Пена
                    <span
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Tooltip on top"
                      class="terminal-block-function__tooltip"
                    >
                      <img src="./img/tooltip-icon.svg" alt="" />
                    </span>
                  </h3>
                </div>
                <div class="terminal-block-function__content-body">
                  <p>
                    Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                    adipisicing qui enim qui adipisicing adipisicing aliquip
                    enim elit esse aliqua culpa aliquip sit ut nostrud cupidatat
                    minim elit aliqua et commodo laborum qui tempor in ex
                    reprehenderit
                  </p>
                </div>
              </div>
              <img
                src="./img/ic_foam.svg"
                alt=""
                class="terminal-block-function__icon"
              />
            </div>
          </div>
        </div>

        <div class="col-12 terminal-big-block__functions-col">
          <div class="terminal-block-function">
            <div class="terminal-block-function__container">
              <div class="terminal-block-function__content">
                <div class="terminal-block-function__content-header">
                  <div class="terminal-block-function__button-container">
                    <div class="checkbox-block">
                      <input
                        name="function-1-1-1-2"
                        type="checkbox"
                        class="checkbox-block__input"
                        id="function-1-1-1-2"
                      />
                      <label
                        for="function-1-1-1-2"
                        class="checkbox-block__label"
                      ></label>
                    </div>
                  </div>
                  <h3 class="terminal-block-function__title">
                    Вода+Шампунь
                    <span
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Tooltip on top"
                      class="terminal-block-function__tooltip"
                    >
                      <img src="./img/tooltip-icon.svg" alt="" />
                    </span>
                  </h3>
                  <p class="terminal-block-function__price">5 000 р/пост</p>
                </div>
                <div class="terminal-block-function__content-body">
                  <p>
                    Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                    adipisicing qui enim qui adipisicing adipisicing aliquip
                    enim elit esse aliqua culpa aliquip sit ut nostrud cupidatat
                    minim elit aliqua et commodo laborum qui tempor in ex
                    reprehenderit
                  </p>
                </div>
              </div>
              <img
                src="./img/ic_foam+water.svg"
                alt=""
                class="terminal-block-function__icon"
              />
            </div>
          </div>
        </div>

        <div class="col-12 terminal-big-block__functions-col">
          <div class="terminal-block-function">
            <div class="terminal-block-function__container">
              <div class="terminal-block-function__content">
                <div class="terminal-block-function__content-header">
                  <div class="terminal-block-function__button-container">
                    <div class="checkbox-block">
                      <input
                        name="function-2-1-1-2"
                        type="checkbox"
                        class="checkbox-block__input"
                        id="function-2-1-1-2"
                      />
                      <label
                        for="function-2-1-1-2"
                        class="checkbox-block__label"
                      ></label>
                    </div>
                  </div>
                  <h3 class="terminal-block-function__title">
                    Вода+Шампунь
                    <span
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Tooltip on top"
                      class="terminal-block-function__tooltip"
                    >
                      <img src="./img/tooltip-icon.svg" alt="" />
                    </span>
                  </h3>
                  <p class="terminal-block-function__price">5 000 р/пост</p>
                </div>
                <div class="terminal-block-function__content-body">
                  <p>
                    Veniam sint irure deserunt laborum aliqua aliquip Lorem et
                    adipisicing qui enim qui adipisicing adipisicing aliquip
                    enim elit esse aliqua culpa aliquip sit ut nostrud cupidatat
                    minim elit aliqua et commodo laborum qui tempor in ex
                    reprehenderit
                  </p>
                </div>
              </div>
              <img
                src="./img/ic_foam.svg"
                alt=""
                class="terminal-block-function__icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
