<div class="total-cost">
  <h2 class="total-cost__title">Общая стоимость</h2>
  <div class="total-cost__price-container">
    <p class="total-cost__price">000 000 ₽</p>
  </div>
  <div class="total-cost__button-container">
    <button class="button total-cost__button total-cost_print">
      <img src="./img/print.svg" alt="" class="total-cost__button-icon" />
      Распечатать
    </button>
    <div class="total-cost__separator"></div>
    <button class="button total-cost__button total-cost_save">
      <img src="./img/pdf.svg" alt="" class="total-cost__button-icon" />
      Сохранить
    </button>
  </div>
</div>
