<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="about-page">
  <div class="about-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="about-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="hierarchy__title">О компании</h1>
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">О компании</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__slogan">
    <div class="slogan">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <h2 class="slogan__title">
              Мы даём возможность создать конкурентный бизнес с быстрой
              окупаемостью.
            </h2>
          </div>
          <div class="col-lg-8 col-md-8 col-12">
            <div class="slogan__content">
              <p class="slogan__text">
                Мойки самообслуживания устанавливаются по всей России. На данный
                момент ряд населенных пунктов уже оборудован этими современными
                системами. Все они принимают как монеты, так и купюры. С их
                помощью предприниматели организовывают прибыльный бизнес при
                минимальных вложениях. Клиентам также выгодны подобные
                установки, поскольку они сами могут воспользоваться теми
                услугами, которые требуются в определенном случае.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__content">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="about-page__text-container">
            <p class="about-page__text">
              Компания стремится предоставить максимально качественный сервис
              каждому потребителю. Эта цель достигается строгим соблюдением 3
              основных принципов:
            </p>
            <p class="about-page__text">
              1) Гарантия на все оборудование, проектные и монтажные работы. В
              компании трудятся специалисты с многолетним стажем. Поэтому мы
              можем поручиться, что предоставим самые качественные на рынке
              товары и услуги.
            </p>
            <p class="about-page__text">
              2) Четкое соблюдение сроков заказа. Мы никогда не опаздываем с
              производством мойки, зачастую предоставляем оборудование раньше
              указанного времени.
            </p>
            <p class="about-page__text">
              3) Стремление предоставить агрегаты и услуги по низким ценам.
              Проекты составляются, исходя из целей и потребностей заказчика.
              Специалисты предложат только действительно необходимое
              оборудование и сервисы.
            </p>
            <p class="about-page__text">
              В нашем ассортименте собрано большое количество изделий для моек
              самообслуживания и устройств для клининговых предприятий. Они
              соответствуют всем стандартам качества. Агрегаты для моек
              оснащаются специальными терминалами, делающими их полностью
              автоматическими: пользоваться ими не сложнее, чем кофе-автоматами.
            </p>
            <p class="about-page__text">
              Мы предоставляем удобные условия: различные варианты форм оплаты,
              быструю доставку по Москве и в регионы. Специалисты компании
              консультируют потенциальных заказчиков по телефону, отвечают на
              все вопросы, помогают выбрать подходящие устройства. Обращайтесь к
              нам прямо сейчас: 8 (800) 700-20-60, +7 (495) 725-25-63. Также
              можно заказать обратный звонок или оставить адрес своей
              электронной почты на странице контактов — сотрудники компании
              перезвонят или напишут в удобное для вас время.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__partners">
    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="partners__title">Наши партнёры:</h3>
            <div class="partners__content">
              <img
                src="./img/temp/partners/logo-interpump.svg"
                alt=""
                class="partners__image"
              />
              <img
                src="./img/temp/partners/logo-hawk.svg"
                alt=""
                class="partners__image"
              />
              <img
                src="./img/temp/partners/tecomec-logo.svg"
                alt=""
                class="partners__image"
              />
              <img
                src="./img/temp/partners/logo-cashcode.svg"
                alt=""
                class="partners__image"
              />
              <img
                src="./img/temp/partners/sam_rm_logo.svg"
                alt=""
                class="partners__image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="about-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
