<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="contact-page">
  <div class="contact-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="contact-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="hierarchy__title">Контакты</h1>
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-12">
          <div class="contact-page__info">
            <h2 class="contact-page__region-title">Москва</h2>
            <div class="contact-page__item">
              <p class="contact-page__label">Адрес:</p>
              <p class="contact-page__text">Москва, ул. Авиамоторная 22/12</p>
            </div>

            <div class="contact-page__item">
              <p class="contact-page__label">Расписание:</p>
              <p class="contact-page__text">Ежедневно с 9:00 до 18:00</p>
            </div>

            <div class="contact-page__item">
              <p class="contact-page__label">Телефон:</p>
              <a href="tel:+78007002060" class="contact-page__link"
                >+7 (800) 700-20-60</a
              >
            </div>

            <div class="contact-page__item">
              <p class="contact-page__label">Телефон:</p>
              <a href="tel:+74957252563" class="contact-page__link"
                >+7 (495) 725-25-63</a
              >
            </div>

            <div class="contact-page__item">
              <p class="contact-page__label">Email:</p>
              <a
                href="mailto:Info@moyka-wave.ru"
                class="contact-page__link contact-page__link_blue"
                >Info@moyka-wave.ru</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12">
          <div class="contact-page__map" id="contactMap"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="contact-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
