<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="equipment-page">
  <div class="equipment-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="equipment-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="hierarchy__title">Оборудование</h1>
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Оборудование</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="equipment-page__dropdown">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="dropdown-block">
            <div class="dropdown dropdown-block__dropdown">
              <button
                class="dropdown-toggle button button_radius_10 dropdown-block__button"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Всё оборудование
              </button>
              <ul
                class="dropdown-menu dropdown-block__dropdown-menu"
                aria-labelledby="dropdownMenuButton"
              >
                <li class="dropdown-item dropdown-block__dropdown-item">
                  Всё оборудование
                </li>
                <li class="dropdown-item dropdown-block__dropdown-item">
                  Всё оборудование
                </li>
                <li class="dropdown-item dropdown-block__dropdown-item">
                  Всё оборудование 3
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="equipment-page__cards-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/1.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/2.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/3.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/4.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="advice-card advice-card__yellow advice-card__yellow">
            <h4 class="advice-card__title">Советы</h4>
            <p class="advice-card__text">
              Для старта вашего бизнеса мы предлагаем приобрести обязательный
              начальный комплект оборудования.
            </p>
            <a
              href="#"
              class="button button_size_10 button_radius_10 button_font_13_20 button_white-black advice-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/2.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/3.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/4.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/1.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="advice-card advice-card__yellow advice-card__blue">
            <h4 class="advice-card__title">Советы</h4>
            <p class="advice-card__text">
              Для старта вашего бизнеса мы предлагаем приобрести обязательный
              начальный комплект оборудования.
            </p>
            <a
              href="#"
              class="button button_size_10 button_radius_10 button_font_13_20 button_white-black advice-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/3.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 equipment-page__card">
          <div class="equipment-card">
            <h4 class="equipment-card__title">
              Комплект «Wave-S» на 1 пост Терминал "Blue Ocean"
            </h4>
            <div class="equipment-card__image-container">
              <img
                src="./img/temp/equipment-card/4.png"
                alt=""
                class="equipment-card__image"
              />
            </div>
            <p class="equipment-card__price">378 000 ₽</p>
            <ul class="equipment-card__list">
              <li class="equipment-card__li">Производитель Россия</li>
              <li class="equipment-card__li">Гарантия 1 год</li>
              <li class="equipment-card__li">Текст</li>
              <li class="equipment-card__li">Текст</li>
            </ul>

            <a
              href="#"
              class="button button_blue button_size_10 button_radius_10 button_font_13_20 equipment-card__button"
              >Заказать</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="equipment-page__slogan">
    <div class="slogan">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <h2 class="slogan__title">
              Компания Wave-S предлагает лучшую клининговую технику.
            </h2>
          </div>
          <div class="col-lg-8 col-md-8 col-12">
            <div class="slogan__content">
              <p class="slogan__text">
                Мы занимаемся продажей оборудования для автомоек
                самообслуживания от известных брендов по низкой стоимости. Эти
                агрегаты признаны и используются по всему миру, ежедневно
                доказывая свою эффективность.
                <br /><br />
                У нас вы найдете большое количество устройств, которые помогут
                сделать вашу мойку более производительной и прибыльной. Вместе с
                базовыми комплектами, без которых работа предприятия невозможна,
                мы предлагаем дополнительную технику, значительно расширяющую
                перечень предлагаемых услуг.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="equipment-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="equipment-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
