<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="home-page">
  <div class="home-page__background"></div>

  <div class="home-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="home-page__header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="home-page__advantages">
            <div class="advantages">
              <div class="advantages__item">
                <img src="./img/icon_1.svg" alt="" class="advantages__image" />
                <p class="advantages__title">
                  Быстрая <br class="d-none d-md-block" />
                  окупаемость
                </p>
              </div>

              <div class="advantages__item">
                <img src="./img/icon_2.svg" alt="" class="advantages__image" />
                <p class="advantages__title">
                  Высокое <br class="d-none d-md-block" />
                  качество
                </p>
              </div>

              <div class="advantages__item">
                <img src="./img/icon_3.svg" alt="" class="advantages__image" />
                <p class="advantages__title">
                  Короткие <br class="d-none d-md-block" />
                  сроки
                </p>
              </div>
            </div>
          </div>

          <div class="home-page__header-button-container">
            <button
              class="button button_white button_size_15_20 button_radius_10 button_font_13_20 home-page__header-button-consultation"
              data-dismiss="modal"
              data-toggle="modal"
              data-target="#modalFeedback"
            >
              Получить консультацию
            </button>
            <a
              href="#constructor"
              class="button button_border_white button_size_15_20 button_radius_10 button_font_13_20 home-page__header-button-constructor"
            >
              Посчитать стоимость оборудования
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="./img/car.svg" class="home-page__header-car" alt="" />
        </div>

        <div class="col-12">
          <div class="home-page__header-routs-container">
            <div class="home-page__header-routs-row">
              <a href="#" class="button-rout">
                <img
                  src="./img/youtube-red.svg"
                  alt=""
                  class="button-rout__image"
                />
                <div class="button-rout__content">
                  <h3 class="button-rout__title">Смотреть видео</h3>
                  <p class="button-rout__text">
                    Подробнее о наших мойках в видео формате
                  </p>
                </div>
              </a>

              <a href="#" class="button-rout">
                <img src="./img/read.svg" alt="" class="button-rout__image" />
                <div class="button-rout__content">
                  <h3 class="button-rout__title">Новости / Пресса</h3>
                  <p class="button-rout__text">
                    подробнее о наших мойках в прессе
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-page__content-head" id="constructor">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="home-page__content-head-subtitle">
            Собери свою мойку самообслуживания
          </h2>
          <h1 class="home-page__content-head-title">
            Онлайн-конструктор мойки
          </h1>
          <h3 class="home-page__content-head-text">Выберите тип автомойки</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 home-page__content-head-col">
          <button
            class="button-type home-page__content-head-button-type"
            data-calculator-id="calculator-1"
          >
            <h3 class="button-type__title">Оплата услуг на моечных постах</h3>
            <p class="button-type__text">
              Оплата монетами, купюрами, банковской картой на каждом моечном
              посту
            </p>
            <img
              src="./img/button-type-1.svg"
              alt=""
              class="button-type__image"
            />
          </button>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 home-page__content-head-col">
          <button
            class="button-type home-page__content-head-button-type"
            data-calculator-id="calculator-2"
          >
            <h3 class="button-type__title">Работа с картами лояльности</h3>
            <p class="button-type__text">
              Оплата услуг в отдельном месте (на моечном посту используется
              только карта лояльности)
            </p>
            <img
              src="./img/button-type-2.svg"
              alt=""
              class="button-type__image"
            />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="home-page__calculator">
    <div class="container">
      <div class="home-page__calculator-type" data-calculator-id="calculator-1">
        <div class="row">
          <div class="col-4 sidebar-calculator">
            <div class="sidebar-calculator__toggle">
              <div class="sidebar-calculator__toggle-container">
                <div class="sidebar-calculator__toggle-image-container">
                  <img
                    src="./img/arrow-mob-black.svg"
                    alt=""
                    class="sidebar-calculator__toggle-image"
                  />
                </div>
              </div>
            </div>

            <div class="sidebar-calculator__container">
              <div class="sidebar-calculator__total-cost">
                <%=
                _.template(require('./../includes/total-cost.html').default)()
                %>
              </div>

              <h2 class="sidebar-calculator__title">Выбранное оборудование</h2>

              <h3 class="sidebar-calculator__subtitle">Терминал</h3>
              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_20"
              >
                <div class="sidebar-calculator__group-item">
                  <div class="counter-item counter-item_border-bottom">
                    <div class="counter-item__image-container">
                      <img
                        src="./img/temp/1-min.png"
                        alt=""
                        class="counter-item__image"
                      />
                    </div>
                    <div class="counter-item__content">
                      <h3 class="counter-item__title">Терминал "Blue Ocean"</h3>
                      <p class="counter-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="counter-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- default checked -->
                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <!-- default add class checkbox-block_active -->
                      <div class="checkbox-block checkbox-block_active">
                        <!-- default add checked="true" -->
                        <input
                          name="terminal-sidebar-1"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="terminal-sidebar-1"
                          checked="true"
                        />
                        <label
                          for="terminal-sidebar-1"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="sidebar-calculator__subtitle">
                Подбор силового оборудования (Размещается в тех. помещ...Подбор
                силового оборудования (Размещается в тех. помещ...
              </h3>
              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_10"
              >
                <div class="sidebar-calculator__group-close">
                  <button class="button button_size_10 button-close">
                    <div class="button-close__image-container">
                      <img
                        src="./img/close.svg"
                        alt=""
                        class="button-close__image"
                      />
                    </div>
                  </button>
                </div>
                <div class="sidebar-calculator__group-item">
                  <div class="counter-item counter-item_border-bottom">
                    <div class="counter-item__image-container">
                      <img
                        src="./img/temp/1-min.png"
                        alt=""
                        class="counter-item__image"
                      />
                    </div>
                    <div class="counter-item__content">
                      <h3 class="counter-item__title">Терминал "Blue Ocean"</h3>
                      <p class="counter-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="counter-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-1"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-1"
                        />
                        <label
                          for="power-equipment-sidebar-1"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-2"
                        />
                        <label
                          for="power-equipment-sidebar-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-3"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-3"
                        />
                        <label
                          for="power-equipment-sidebar-3"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <h4 class="sidebar-calculator__group-title">
                  Функции терминала
                </h4>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="terminal-functions-sidebar-1"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="terminal-functions-sidebar-1"
                        />
                        <label
                          for="terminal-functions-sidebar-1"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_10 sidebar-calculator__group_disabled"
              >
                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <div
                        class="checkbox-block checkbox-block_active checkbox-block_disabled"
                      >
                        <input
                          name="no-name-sidebar-1"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="no-name-sidebar-1"
                          checked="true"
                          disabled="true"
                        />
                        <label
                          for="no-name-sidebar-1"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="home-page__post-block">
              <%= _.template(require('./../includes/post-block.html').default)()
              %>
            </div>

            <div class="home-page__terminals-block">
              <%=
              _.template(require('./../includes/terminals-block.html').default)()
              %>
            </div>

            <div class="home-page__equipment-block">
              <%=
              _.template(require('./../includes/equipment-block.html').default)()
              %>
            </div>

            <div class="home-page__vacuum-cleaners-block">
              <%=
              _.template(require('./../includes/vacuum-cleaners-block.html').default)()
              %>
            </div>

            <div class="home-page__purifiers-block">
              <%=
              _.template(require('./../includes/purifiers-block.html').default)()
              %>
            </div>

            <div class="home-page__installation-equipment-block">
              <%=
              _.template(require('./../includes/installation-equipment-block.html').default)()
              %>
            </div>
          </div>
        </div>
      </div>

      <div class="home-page__calculator-type" data-calculator-id="calculator-2">
        <div class="row">
          <!-- Копия с заменой индификаторов -->
          <div class="col-4 sidebar-calculator">
            <div class="sidebar-calculator__toggle">
              <div class="sidebar-calculator__toggle-container">
                <div class="sidebar-calculator__toggle-image-container">
                  <img
                    src="./img/arrow-mob-black.svg"
                    alt=""
                    class="sidebar-calculator__toggle-image"
                  />
                </div>
              </div>
            </div>

            <div class="sidebar-calculator__container">
              <div class="sidebar-calculator__total-cost">
                <%=
                _.template(require('./../includes/total-cost.html').default)()
                %>
              </div>

              <h2 class="sidebar-calculator__title">Выбранное оборудование</h2>

              <h3 class="sidebar-calculator__subtitle">Терминал</h3>
              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_20"
              >
                <div class="sidebar-calculator__group-item">
                  <div class="counter-item counter-item_border-bottom">
                    <div class="counter-item__image-container">
                      <img
                        src="./img/temp/1-min.png"
                        alt=""
                        class="counter-item__image"
                      />
                    </div>
                    <div class="counter-item__content">
                      <h3 class="counter-item__title">Терминал "Blue Ocean"</h3>
                      <p class="counter-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="counter-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- default checked -->
                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <!-- default add class checkbox-block_active -->
                      <div class="checkbox-block checkbox-block_active">
                        <!-- default add checked="true" -->
                        <input
                          name="terminal-sidebar-1-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="terminal-sidebar-1-2"
                          checked="true"
                        />
                        <label
                          for="terminal-sidebar-1-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <h3 class="sidebar-calculator__subtitle">
                Подбор силового оборудования (Размещается в тех. помещ...Подбор
                силового оборудования (Размещается в тех. помещ...
              </h3>
              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_10"
              >
                <div class="sidebar-calculator__group-close">
                  <button class="button button_size_10 button-close">
                    <div class="button-close__image-container">
                      <img
                        src="./img/close.svg"
                        alt=""
                        class="button-close__image"
                      />
                    </div>
                  </button>
                </div>
                <div class="sidebar-calculator__group-item">
                  <div class="counter-item counter-item_border-bottom">
                    <div class="counter-item__image-container">
                      <img
                        src="./img/temp/1-min.png"
                        alt=""
                        class="counter-item__image"
                      />
                    </div>
                    <div class="counter-item__content">
                      <h3 class="counter-item__title">Терминал "Blue Ocean"</h3>
                      <p class="counter-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="counter-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-1-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-1-2"
                        />
                        <label
                          for="power-equipment-sidebar-1-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-2-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-2-2"
                        />
                        <label
                          for="power-equipment-sidebar-2-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item checkbox-item_border-bottom">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="power-equipment-sidebar-3-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="power-equipment-sidebar-3-2"
                        />
                        <label
                          for="power-equipment-sidebar-3-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                      <div class="checkbox-item__counter-block">
                        <%=
                        _.template(require('./../includes/counter-block.html').default)()
                        %>
                      </div>
                    </div>
                  </div>
                </div>

                <h4 class="sidebar-calculator__group-title">
                  Функции терминала
                </h4>

                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <div class="checkbox-block">
                        <input
                          name="terminal-functions-sidebar-1-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="terminal-functions-sidebar-1-2"
                        />
                        <label
                          for="terminal-functions-sidebar-1-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="sidebar-calculator__group sidebar-calculator__group_margin_10 sidebar-calculator__group_disabled"
              >
                <div class="sidebar-calculator__group-item">
                  <div class="checkbox-item">
                    <div class="checkbox-item__checkbox-container">
                      <div
                        class="checkbox-block checkbox-block_active checkbox-block_disabled"
                      >
                        <input
                          name="no-name-sidebar-1-2"
                          type="checkbox"
                          class="checkbox-block__input"
                          id="no-name-sidebar-1-2"
                          checked="true"
                          disabled="true"
                        />
                        <label
                          for="no-name-sidebar-1-2"
                          class="checkbox-block__label"
                        ></label>
                      </div>
                    </div>
                    <div class="checkbox-item__content">
                      <h3 class="checkbox-item__title">
                        Deserunt labore ipsum eu consectetur in reprehenderit
                        sunt pariatur dolor
                      </h3>
                      <p class="checkbox-item__text">
                        000 000 ₽ x (1 шт) = 000 000 ₽
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="home-page__post-block">
              <%= _.template(require('./../includes/post-block.html').default)()
              %>
            </div>

            <div class="home-page__terminal-big-block">
              <%=
              _.template(require('./../includes/terminal-big-block.html').default)()
              %>
            </div>

            <div class="home-page__server-card">
              <%=
              _.template(require('./../includes/server-card.html').default)() %>
            </div>

            <div class="home-page__equipment-terminal-block">
              <%=
              _.template(require('./../includes/equipment-terminal-block.html').default)()
              %>
            </div>

            <!-- Заменить id у input -->
            <div class="home-page__equipment-block">
              <%=
              _.template(require('./../includes/equipment-block.html').default)()
              %>
            </div>

            <div class="home-page__vacuum-cleaners-block">
              <%=
              _.template(require('./../includes/vacuum-cleaners-block.html').default)()
              %>
            </div>

            <div class="home-page__purifiers-block">
              <%=
              _.template(require('./../includes/purifiers-block.html').default)()
              %>
            </div>

            <div class="home-page__installation-equipment-block">
              <%=
              _.template(require('./../includes/installation-equipment-block.html').default)()
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-page__content-info">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-5 col-md-5 col-sm-12 home-page__blue-col home-page__blue-col_left"
        >
          <div class="info-title-block info-title-block_align_left">
            <h3 class="info-title-block__subtitle">Новости</h3>
            <h2 class="info-title-block__title">
              Мы постоянно <br />
              создаём новое
            </h2>
            <a
              href="#"
              class="button button_blue button_size_10_20 button_radius_6 button_font_13_20 info-title-block__button"
              >Открыть все новости</a
            >
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="info-news-block">
            <img
              src="./img/temp/img-1.png"
              alt=""
              class="info-news-block__image"
            />
            <div class="info-news-block__content">
              <h2 class="info-news-block__title">
                Новая мойка на два поста в Тульской области
              </h2>
              <p class="info-news-block__text">
                В феврале 2015 года в городе Донском Тульской области открыта
                мойка открытого типа с двумя постами и возможностью расширения.
                Адрес — мкр. Центральный, Железнодорожный проезд, д. 16.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 home-page__video-col">
          <div class="info-video-block">
            <div class="info-video-block__video-container">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/eNvUS-6PTbs"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>

        <div
          class="col-lg-7 col-md-7 col-sm-12 home-page__blue-col home-page__blue-col_right home-page__video-title-col"
        >
          <div class="info-title-block info-title-block_align_left">
            <h3 class="info-title-block__subtitle">
              Посмотрите как это работает
            </h3>
            <h2 class="info-title-block__title">
              Презентация оборудования мойки самообслуживания Wave-s
            </h2>
            <a
              href="#"
              class="button button_blue button_size_10_20 button_radius_6 button_font_13_20 info-title-block__button"
              >Открыть все видео</a
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-5 col-md-5 col-sm-12 home-page__blue-col home-page__blue-col_left"
        >
          <div class="info-title-block info-title-block_align_left">
            <h3 class="info-title-block__subtitle">Пресса о нас</h3>
            <h2 class="info-title-block__title">
              О нас пишут <br />
              большие СМИ
            </h2>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="info-press-block">
            <img
              src="./img/temp/rbk.png"
              alt=""
              class="info-press-block__image"
            />
            <p class="info-press-block__text">
              «Мне говорили: у нас в России люди гордые, никогда сами машины
              мыть не будут», — вспоминает основатель компании Wave-S Андрей
              Шестаков. Но прогнозы скептиков не сбылись: за 2015 год он выручил
              около 80 млн руб., продав 32 комплекта оборудования для моек
              самообслуживания. Его комплекты одни из самых недорогих на рынке —
              Шестаков их сам производит в России.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 home-page__partners-col">
          <div class="info-partners-block">
            <div class="info-partners-block__container">
              <div class="info-partners-block__row">
                <div class="info-partners-block__col">
                  <img src="./img/temp/partners/logo-interpump.svg" alt="" />
                </div>
                <div class="info-partners-block__col">
                  <img src="./img/temp/partners/logo-hawk.svg" alt="" />
                </div>
                <div class="info-partners-block__col">
                  <img src="./img/temp/partners/tecomec-logo.svg" alt="" />
                </div>
                <div class="info-partners-block__col">
                  <img src="./img/temp/partners/logo-cashcode.svg" alt="" />
                </div>
                <div class="info-partners-block__col">
                  <img src="./img/temp/partners/sam_rm_logo.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-lg-7 col-md-7 col-sm-12 home-page__blue-col home-page__blue-col_right home-page__partners-title-col"
        >
          <div class="info-title-block info-title-block_align_left">
            <h3 class="info-title-block__subtitle">Наши партнёры</h3>
            <h2 class="info-title-block__title">
              Прямые поставки <br />
              с заводов-производителей <br />
              гарантируют вам низкий ценник на лучшую технику.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="home-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-terminal -->
<%= _.template(require('./../includes/modal-terminal.html').default)() %>
<!-- End modal-terminal -->

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
