<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="media-page">
  <div class="media-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="media-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="hierarchy__title">Пресса о нас</h1>
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Пресса о нас</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="media-page__cards-block">
    <div class="container">
      <div class="row">
        <div class="col-12 media-page__card">
          <div class="media-card">
            <div class="media-card__content">
              <div class="media-card__image-container">
                <img
                  src="./img/temp/media/pbk.svg"
                  alt=""
                  class="media-card__image"
                />
              </div>
              <h3 class="media-card__title">
                Вымой сам: как в Россию пришел бум автомоек <br />
                самообслуживания
              </h3>
            </div>
            <a
              href="#"
              class="button button_blue button_radius_10 button_font_13_20 button_size_10 media-card__button"
              >Читать</a
            >
          </div>
        </div>

        <div class="col-12 media-page__card">
          <div class="media-card">
            <div class="media-card__content">
              <div class="media-card__image-container">
                <img
                  src="./img/temp/media/vc.svg"
                  alt=""
                  class="media-card__image"
                />
              </div>
              <h3 class="media-card__title">
                Вымой сам: как в Россию пришел бум автомоек <br />
                самообслуживания
              </h3>
            </div>
            <a
              href="#"
              class="button button_blue button_radius_10 button_font_13_20 button_size_10 media-card__button"
              >Читать</a
            >
          </div>
        </div>

        <div class="col-12 media-page__card">
          <div class="media-card">
            <div class="media-card__content">
              <div class="media-card__image-container">
                <img
                  src="./img/temp/media/tech.svg"
                  alt=""
                  class="media-card__image"
                />
              </div>
              <h3 class="media-card__title">
                Вымой сам: как в Россию пришел бум автомоек <br />
                самообслуживания
              </h3>
            </div>
            <a
              href="#"
              class="button button_blue button_radius_10 button_font_13_20 button_size_10 media-card__button"
              >Читать</a
            >
          </div>
        </div>

        <div class="col-12 media-page__card">
          <div class="media-card">
            <div class="media-card__content">
              <div class="media-card__image-container">
                <img
                  src="./img/temp/media/medium.svg"
                  alt=""
                  class="media-card__image"
                />
              </div>
              <h3 class="media-card__title">
                Вымой сам: как в Россию пришел бум автомоек <br />
                самообслуживания
              </h3>
            </div>
            <a
              href="#"
              class="button button_blue button_radius_10 button_font_13_20 button_size_10 media-card__button"
              >Читать</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="media-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="media-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
