<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="news-detalisation-page">
  <div class="news-detalisation-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="news-detalisation-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Все новости</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Заголовок новости</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-detalisation-page__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="news-detalisation-page__image-container">
            <img
              src="./img/temp/news/2.jpg"
              alt=""
              class="news-detalisation-page__image"
            />
          </div>

          <h1 class="news-detalisation-page__title">Заголовок</h1>
          <p class="news-detalisation-page__date">02.08.2019</p>
          <div class="news-detalisation-page__text-container">
            <p class="news-detalisation-page__text">
              By creating an Account on our service, you agree to subscribe to
              newsletters, marketing or promotional materials and other
              information we may send. However, you may opt out of receiving
              any, or all, of these communications from us by following the
              unsubscribe link or instructions provided in any email we send.
            </p>
            <p class="news-detalisation-page__text">
              However, you may opt out of receiving any, or all, of these
              communications from us by following the unsubscribe link or
              instructions provided in any email we send.
            </p>
            <p class="news-detalisation-page__text">
              By creating an Account on our service, you agree to subscribe to
              newsletters, marketing or promotional materials and other
              information we may send. However, you may opt out of receiving
              any, or all, of these communications from us by following the
              unsubscribe link or instructions provided in any email we send.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-detalisation-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="news-detalisation-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
