<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="news-page">
  <div class="news-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="news-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Все новости</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-page__cards-block">
    <div class="container">
      <div class="row">
        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Адаптация существующих и разработка собственных технологий
                  сбора и процессинга данных для достоверной оценки
                  производительности сетей в местах наибольшего Адаптация
                  существующих и разработка собственных технологий сбора и
                  процессинга данных для достоверной оценки производительности
                  сетей в местах наибольшего
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Адаптация существующих и разработка собственных технологий
                  сбора и процессинга данных для достоверной оценки
                  производительности сетей в местах наибольшего Адаптация
                  существующих и разработка собственных технологий сбора и
                  процессинга данных для достоверной оценки производительности
                  сетей в местах наибольшего
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Адаптация существующих и разработка собственных технологий
                  сбора и процессинга данных для достоверной оценки
                  производительности сетей в местах наибольшего Адаптация
                  существующих и разработка собственных технологий сбора и
                  процессинга данных для достоверной оценки производительности
                  сетей в местах наибольшего
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Адаптация существующих и разработка собственных технологий
                  сбора и процессинга данных для достоверной оценки
                  производительности сетей в местах наибольшего Адаптация
                  существующих и разработка собственных технологий сбора и
                  процессинга данных для достоверной оценки производительности
                  сетей в местах наибольшего
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Адаптация существующих и разработка собственных технологий
                  сбора и процессинга данных для достоверной оценки
                  производительности сетей в местах наибольшего Адаптация
                  существующих и разработка собственных технологий сбора и
                  процессинга данных для достоверной оценки производительности
                  сетей в местах наибольшего
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 news-page__card">
          <div class="news-card">
            <div class="news-card__image-container">
              <img
                src="./img/temp/news/1.jpg"
                alt=""
                class="news-card__image"
              />
            </div>

            <div class="news-card__content">
              <div class="news-card__body">
                <h3 class="news-card__title">Заголовок</h3>
                <p class="news-card__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                  ipsam vitae facilis eligendi exercitationem recusandae minus
                  reprehenderit impedit nam reiciendis nemo libero eaque vero
                  totam mollitia sequi deleniti dolorum atque, officiis
                  asperiores nobis nulla velit. Asperiores itaque corrupti eum
                  tempora quaerat adipisci suscipit aspernatur, harum error est
                  praesentium mollitia amet in quisquam pariatur et aut dolores
                  distinctio nihil alias, esse modi. Distinctio nisi possimus
                  eveniet facere quam accusantium iure, aspernatur corrupti
                  expedita. Omnis, dolor culpa. Mollitia minus sed cumque
                  exercitationem eum nobis iste eveniet eos iusto repudiandae
                  fuga impedit harum ipsa debitis saepe magni, incidunt iure
                  enim ducimus amet beatae!
                </p>
              </div>

              <div class="news-card__footer">
                <p class="news-card__date">02.08.2019</p>
                <a
                  href="#"
                  class="button button_blue button_radius_10 button_font_13_20 button_size_10 news-card__button"
                  >Читать</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col news-page__button-container">
          <button
            class="button button_radius_10 button_font_13_20 button_size_15 button_more news-page__button"
          >
            Показать еще
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="news-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="news-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
