<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="objects-page">
  <div class="objects-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="objects-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="hierarchy__title">Объекты</h1>
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Объекты</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="objects-page__map"></div>

  <div class="objects-page__cards-block">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/1.jpg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Москва</h3>
            <p class="object-card__address">
              Котельники Угрешский проезд стр. 7
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
              мытье рук, вода под давлением, осмос, нанесение воска, нанесение
              пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Санкт-Петербург</h3>
            <p class="object-card__address">
                Московское шоссе, 28 б
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Красногвардейское, Ставропольский край, </h3>
            <p class="object-card__address">
                Краснодарский край, ст. Тбилисская, ул. Элеваторная 2
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">ЛО, Гатчина</h3>
            <p class="object-card__address">
                ул. Чехова, 9 к.5
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
            <div class="object-card">
              <div class="object-card__image-container">
                <img
                  src="./img/temp/objects/1.jpg"
                  alt=""
                  class="object-card__image"
                />
              </div>
              <h3 class="object-card__title">Москва</h3>
              <p class="object-card__address">
                Котельники Угрешский проезд стр. 7
              </p>
              <h5 class="object-card__subtitle">Описание:</h5>
              <p class="object-card__text">
                мытье рук, вода под давлением, осмос, нанесение воска, нанесение
                пены.
              </p>
              <a
                href="#"
                class="button button_font_13_20 button_link-more object-card__button"
                >Подробнее</a
              >
            </div>
          </div>
  
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
            <div class="object-card">
              <div class="object-card__image-container">
                <img
                  src="./img/temp/objects/no-img.svg"
                  alt=""
                  class="object-card__image"
                />
              </div>
              <h3 class="object-card__title">Санкт-Петербург</h3>
              <p class="object-card__address">
                  Московское шоссе, 28 б
              </p>
              <h5 class="object-card__subtitle">Описание:</h5>
              <p class="object-card__text">
                  мытье рук, вода под давлением, осмос
              </p>
              <a
                href="#"
                class="button button_font_13_20 button_link-more object-card__button"
                >Подробнее</a
              >
            </div>
          </div>
  
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
            <div class="object-card">
              <div class="object-card__image-container">
                <img
                  src="./img/temp/objects/no-img.svg"
                  alt=""
                  class="object-card__image"
                />
              </div>
              <h3 class="object-card__title">Красногвардейское, Ставропольский край, </h3>
              <p class="object-card__address">
                  Краснодарский край, ст. Тбилисская, ул. Элеваторная 2
              </p>
              <h5 class="object-card__subtitle">Описание:</h5>
              <p class="object-card__text">
                  мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
              </p>
              <a
                href="#"
                class="button button_font_13_20 button_link-more object-card__button"
                >Подробнее</a
              >
            </div>
          </div>
  
          <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
            <div class="object-card">
              <div class="object-card__image-container">
                <img
                  src="./img/temp/objects/no-img.svg"
                  alt=""
                  class="object-card__image"
                />
              </div>
              <h3 class="object-card__title">ЛО, Гатчина</h3>
              <p class="object-card__address">
                  ул. Чехова, 9 к.5
              </p>
              <h5 class="object-card__subtitle">Описание:</h5>
              <p class="object-card__text">
                  мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
              </p>
              <a
                href="#"
                class="button button_font_13_20 button_link-more object-card__button"
                >Подробнее</a
              >
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
              <div class="object-card">
                <div class="object-card__image-container">
                  <img
                    src="./img/temp/objects/1.jpg"
                    alt=""
                    class="object-card__image"
                  />
                </div>
                <h3 class="object-card__title">Москва</h3>
                <p class="object-card__address">
                  Котельники Угрешский проезд стр. 7
                </p>
                <h5 class="object-card__subtitle">Описание:</h5>
                <p class="object-card__text">
                  мытье рук, вода под давлением, осмос, нанесение воска, нанесение
                  пены.
                </p>
                <a
                  href="#"
                  class="button button_font_13_20 button_link-more object-card__button"
                  >Подробнее</a
                >
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
              <div class="object-card">
                <div class="object-card__image-container">
                  <img
                    src="./img/temp/objects/no-img.svg"
                    alt=""
                    class="object-card__image"
                  />
                </div>
                <h3 class="object-card__title">Санкт-Петербург</h3>
                <p class="object-card__address">
                    Московское шоссе, 28 б
                </p>
                <h5 class="object-card__subtitle">Описание:</h5>
                <p class="object-card__text">
                    мытье рук, вода под давлением, осмос
                </p>
                <a
                  href="#"
                  class="button button_font_13_20 button_link-more object-card__button"
                  >Подробнее</a
                >
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
              <div class="object-card">
                <div class="object-card__image-container">
                  <img
                    src="./img/temp/objects/no-img.svg"
                    alt=""
                    class="object-card__image"
                  />
                </div>
                <h3 class="object-card__title">Красногвардейское, Ставропольский край, </h3>
                <p class="object-card__address">
                    Краснодарский край, ст. Тбилисская, ул. Элеваторная 2
                </p>
                <h5 class="object-card__subtitle">Описание:</h5>
                <p class="object-card__text">
                    мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
                </p>
                <a
                  href="#"
                  class="button button_font_13_20 button_link-more object-card__button"
                  >Подробнее</a
                >
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
              <div class="object-card">
                <div class="object-card__image-container">
                  <img
                    src="./img/temp/objects/no-img.svg"
                    alt=""
                    class="object-card__image"
                  />
                </div>
                <h3 class="object-card__title">ЛО, Гатчина</h3>
                <p class="object-card__address">
                    ул. Чехова, 9 к.5
                </p>
                <h5 class="object-card__subtitle">Описание:</h5>
                <p class="object-card__text">
                    мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
                </p>
                <a
                  href="#"
                  class="button button_font_13_20 button_link-more object-card__button"
                  >Подробнее</a
                >
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
                <div class="object-card">
                  <div class="object-card__image-container">
                    <img
                      src="./img/temp/objects/1.jpg"
                      alt=""
                      class="object-card__image"
                    />
                  </div>
                  <h3 class="object-card__title">Москва</h3>
                  <p class="object-card__address">
                    Котельники Угрешский проезд стр. 7
                  </p>
                  <h5 class="object-card__subtitle">Описание:</h5>
                  <p class="object-card__text">
                    мытье рук, вода под давлением, осмос, нанесение воска, нанесение
                    пены.
                  </p>
                  <a
                    href="#"
                    class="button button_font_13_20 button_link-more object-card__button"
                    >Подробнее</a
                  >
                </div>
              </div>
      
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
                <div class="object-card">
                  <div class="object-card__image-container">
                    <img
                      src="./img/temp/objects/no-img.svg"
                      alt=""
                      class="object-card__image"
                    />
                  </div>
                  <h3 class="object-card__title">Санкт-Петербург</h3>
                  <p class="object-card__address">
                      Московское шоссе, 28 б
                  </p>
                  <h5 class="object-card__subtitle">Описание:</h5>
                  <p class="object-card__text">
                      мытье рук, вода под давлением, осмос
                  </p>
                  <a
                    href="#"
                    class="button button_font_13_20 button_link-more object-card__button"
                    >Подробнее</a
                  >
                </div>
              </div>
      
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
                <div class="object-card">
                  <div class="object-card__image-container">
                    <img
                      src="./img/temp/objects/no-img.svg"
                      alt=""
                      class="object-card__image"
                    />
                  </div>
                  <h3 class="object-card__title">Красногвардейское, Ставропольский край, </h3>
                  <p class="object-card__address">
                      Краснодарский край, ст. Тбилисская, ул. Элеваторная 2
                  </p>
                  <h5 class="object-card__subtitle">Описание:</h5>
                  <p class="object-card__text">
                      мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
                  </p>
                  <a
                    href="#"
                    class="button button_font_13_20 button_link-more object-card__button"
                    >Подробнее</a
                  >
                </div>
              </div>
      
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
                <div class="object-card">
                  <div class="object-card__image-container">
                    <img
                      src="./img/temp/objects/no-img.svg"
                      alt=""
                      class="object-card__image"
                    />
                  </div>
                  <h3 class="object-card__title">ЛО, Гатчина</h3>
                  <p class="object-card__address">
                      ул. Чехова, 9 к.5
                  </p>
                  <h5 class="object-card__subtitle">Описание:</h5>
                  <p class="object-card__text">
                      мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
                  </p>
                  <a
                    href="#"
                    class="button button_font_13_20 button_link-more object-card__button"
                    >Подробнее</a
                  >
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/1.jpg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Москва</h3>
            <p class="object-card__address">
              Котельники Угрешский проезд стр. 7
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
              мытье рук, вода под давлением, осмос, нанесение воска, нанесение
              пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Санкт-Петербург</h3>
            <p class="object-card__address">
                Московское шоссе, 28 б
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">Красногвардейское, Ставропольский край, </h3>
            <p class="object-card__address">
                Краснодарский край, ст. Тбилисская, ул. Элеваторная 2
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 objects-page__card">
          <div class="object-card">
            <div class="object-card__image-container">
              <img
                src="./img/temp/objects/no-img.svg"
                alt=""
                class="object-card__image"
              />
            </div>
            <h3 class="object-card__title">ЛО, Гатчина</h3>
            <p class="object-card__address">
                ул. Чехова, 9 к.5
            </p>
            <h5 class="object-card__subtitle">Описание:</h5>
            <p class="object-card__text">
                мытье рук, вода под давлением, осмос, нанесение воска, нанесение пены.
            </p>
            <a
              href="#"
              class="button button_font_13_20 button_link-more object-card__button"
              >Подробнее</a
            >
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="objects-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="objects-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
