<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="online-builder-page">

  <div class="sitebar-mob-bg"></div>

  <div class="online-builder-page__nav">
    <%= _.template(require('./../includes/nav_short.html').default)() %>
  </div>

  <div class="online-builder-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link"
                  >Онлайн-Конструктор Парковки</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="online-builder-page__content">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="builder-title">
            <h1>Онлайн-конструктор парковки</h1>
            <p>Пройдите все этапы расчёта стоимости</p>
          </div>
        </div>
      </div>
    </div>

    <div class="builder-inner">
      <div class="container">
        <div class="row">
          <div class="col-4 sitebar-col">

            <div class="open-mob-sitebar-wrap">
              <div class="open-mob-sitebar-inner">
                <div class="open-mob-sitebar open-sitebar-js">
                  <img src="./img/arrow-mob-black.svg" alt="">
                </div>
              </div>
            </div>

            <div class="sitebar-wrap">
              <div class="sitebar-inner">

                <div class="radius-container print-block print-block-mob-1">
                  <h4>Общая стоимость</h4>
                  <p class="scoreboard">10000 ₽</p>
                  <div class="btn-row">
                      <a href="pdf/1.pdf" class="print">Распечатать</a>
                      <span class="vertical-line"></span>
                      <a href="pdf/1.pdf" target="_blank" class="download">Сохранить</a>
                  </div>
                </div>

                <h4 class="mob-checked-title">Выбранное оборудование</h4>

                <div>
                  <div class="sitebar-title">
                    <p>Тип въезда и выезда</p>
                  </div>

                  <div class="filter-stap filter-stap-head-square-center">
                      <button tupe="button" class="cancel">
                      <img src="./img/cross.svg" alt="">
                      </button>
                      <div class="filter-stap-head">
                        <div class="img-wrap">
                            <img src="./img/no_img.svg" alt="">
                        </div>
                        <div class="title">
                            <h4>Стандартный</h4>
                        </div>
                      </div>
                  </div>
                </div>

                <div>
                  <div class="sitebar-title">
                    <p>Веъздная зона</p>
                  </div>

                  <div class="filter-stap">

                      <button tupe="button" class="cancel">
                      <img src="./img/cross.svg" alt="">
                      </button>

                      <div class="filter-stap-head filter-stap-circle-center">
                        <div class="img-wrap">
                            <p>4</p>
                        </div>
                        <div class="title">
                            <h4>Количество въездов</h4>
                        </div>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter checkbox-filter-line">
                        <input type="radio" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label custom-control-radio" for="customCheck1">
                        <span>Мягкий чек со штрихкодом</span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="color-checked">
                        <div class="color-wrap">
                          <div class="color-inner" >
                            <div class="color" style="background: #000"></div>
                          </div>
                        </div>
                        <p>Основной фон</p>
                      </div>

                      <div class="color-checked color-checked-line">
                        <div class="color-wrap">
                          <div class="color-inner" >
                            <div class="color" style="background: #3377FB"></div>
                          </div>
                        </div>
                        <p>Лицевой фон</p>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter checkbox-filter-line">
                        <input type="radio" class="custom-control-input" id="customCheck2" checked>
                        <label class="custom-control-label custom-control-radio" for="customCheck2">
                        <span>Пластик</span>
                        <span>18 000₽</span>
                        </label>
                      </div>


                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3">
                        <span>Считыватель карт постоянного клиента </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4">
                        <span>Зимний пакет </span>
                        <span>18 000₽</span>
                        </label>
                      </div>



                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">
                        <span>Переговорное устройство </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck6">
                        <span>Встроенный видеоглазок </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                        <label class="custom-control-label" for="customCheck7">
                        <span>Светодиодная подсветка </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                        <label class="custom-control-label" for="customCheck8">
                        <span>Видеонаблюдение на въезде </span>
                        <span>18 000₽</span>
                        </label>
                      </div>


                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck9">
                        <label class="custom-control-label" for="customCheck9">
                        <span>Система распознавания номеров </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter">
                        <input type="checkbox" class="custom-control-input" id="customCheck10">
                        <label class="custom-control-label" for="customCheck10">
                        <span>Светофор для подъезда к стойке </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                      <div class="custom-control custom-checkbox checkbox-filter checkbox-filter-line">
                        <input type="checkbox" class="custom-control-input" id="customCheck11">
                        <label class="custom-control-label" for="customCheck11">
                        <span>Светофор для подъезда к стойке </span>
                        <span>18 000₽</span>
                        </label>
                      </div>

                    

                      
                      <div class="common-price">
                        <p>Общая стоимость</p>
                        <p class="price">500 000₽</p>
                      </div>

                  </div>
                </div>

                <div  class="disable-block">
                  <div class="sitebar-title">
                    <p>Выездная зон</p>
                  </div>

                  <div class="filter-stap filter-stap-head-square-center">
                    <button tupe="button" class="cancel">
                    <img src="./img/cross.svg" alt="">
                    </button>
                    <div class="filter-stap-head filter-stap-circle-center filter-stap-hide-border">
                      <div class="img-wrap">
                        <p>4</p>
                      </div>
                      <div class="title">
                        <h4>Количество выездов</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="sitebar-title">
                    <p>Заградительные элементы</p>
                  </div>

                  <div class="filter-stap">
                    <button tupe="button" class="cancel">
                      <img src="./img/cross.svg" alt="">
                    </button>
                    <div class="filter-stap-head filter-stap-head-title-center">
                      <div class="img-wrap">
                          <img src="./img/no_img.svg" alt="">
                      </div>
                      <div class="title">
                        <h4>Прямая стрела</h4>
                      </div>
                    </div>

                    <div class="filter-stap-head filter-stap-circle-center filter-stap-hide-border">
                      <div class="img-wrap">
                        <p>160</p>
                      </div>
                      <div class="title">
                        <h4>Длина стрелы шлагбаума</h4>
                      </div>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter">
                      <input type="checkbox" class="custom-control-input" id="customCheck12">
                      <label class="custom-control-label" for="customCheck12">
                      <span>Вектор</span>
                      <span>Производитель</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="sitebar-title">
                    <p>Терминалы оплаты</p>
                  </div>

                  <div class="filter-stap">
                    <button tupe="button" class="cancel">
                      <img src="./img/cross.svg" alt="">
                    </button>

                    <div class="custom-control custom-checkbox checkbox-filter checkbox-filter-line">
                      <input type="radio" class="custom-control-input" id="customCheck13" checked>
                      <label class="custom-control-label custom-control-radio" for="customCheck13">
                      <span>На выезде</span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="filter-stap-head filter-stap-head-title-center">
                      <div class="img-wrap">
                          <img src="./img/no_img.svg" alt="">
                      </div>
                      <div class="title">
                        <h4>Бизнес</h4>
                      </div>
                    </div>

                    <div class="filter-stap-head filter-stap-circle-center">
                      <div class="img-wrap">
                          <p>4</p>
                      </div>
                      <div class="title">
                          <h4>Количество терминалов оплаты</h4>
                      </div>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter">
                      <input type="checkbox" class="custom-control-input" id="customCheck14">
                      <label class="custom-control-label" for="customCheck14">
                      <span>Зимний пакет </span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter">
                      <input type="checkbox" class="custom-control-input" id="customCheck15">
                      <label class="custom-control-label" for="customCheck15">
                      <span>Переговорное устройство</span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter">
                      <input type="checkbox" class="custom-control-input" id="customCheck16">
                      <label class="custom-control-label" for="customCheck16">
                      <span>Встроенный видеоглазок</span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter">
                      <input type="checkbox" class="custom-control-input" id="customCheck17">
                      <label class="custom-control-label" for="customCheck17">
                      <span>Светодиодная подсветка </span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="custom-control custom-checkbox checkbox-filter checkbox-filter-line">
                      <input type="checkbox" class="custom-control-input" id="customCheck18">
                      <label class="custom-control-label" for="customCheck18">
                      <span>Видеонаблюдение </span>
                      <span>18 000₽</span>
                      </label>
                    </div>

                    <div class="common-price">
                      <p>Общая стоимость</p>
                      <p class="price">500 000₽</p>
                    </div>

                  </div>
                </div>

                <div class="radius-container print-block print-block-mob-2">
                  <h4>Общая стоимость</h4>
                  <p class="scoreboard">10000 ₽</p>
                  <div class="btn-row">
                      <a href="pdf/1.pdf" class="print">Распечатать</a>
                      <span class="vertical-line"></span>
                      <a href="pdf/1.pdf" target="_blank" class="download">Сохранить</a>
                  </div>
                </div>

                <button class="btn-submit-order" data-toggle="modal" data-target="#callback-modal">Отправить заявку</button>

              </div>
            </div>

          </div>

          <div class="col-lg-8 col-md-8 col-sm-12 filter-col">
            <div class="filter">

              <div class="filter-stap filter-stap-1">
                <h5 class="stap-title">Шаг 1</h5>
                <h4 class="second-title">Выберите модель терминала</h4>

                <div class="radio-container-wrap">
                  <div class="container">
                    <div class="row">
                      <div class="col col-inp-1">

                        <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                          
                          <div class="img-pseudo img-1-js"></div>
                          <input type="radio" name="radio-1" class="custom-control-input" id="customCheck19" checked="">

                          <label class="custom-control-label custom-control-radio" for="customCheck19">
                            <!-- <div class="img-wrap"> -->
                              <img class="img-wrap img-1-js" src="./img/temp/online_builder/img.jpg" alt="">
                            <!-- </div> -->
                            <span>Стандартный</span>
                          </label>
                        </div>

                      </div>

                      <div class="col col-inp-1">

                        <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                          
                          <div class="img-pseudo img-1-js"></div>
                          <input type="radio" name="radio-1" class="custom-control-input" id="customCheck20">
                          <label class="custom-control-label custom-control-radio" for="customCheck20">
                            <!-- <div class="img-wrap"> -->
                              <img class="img-wrap img-1-js" src="./img/temp/online_builder/img.jpg" alt="">
                            <!-- </div> -->
                            <span>Реверсивный</span>
                          </label>
                        </div>

                      </div>

                      <div class="col col-inp-1">

                        <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                          
                          <div class="img-pseudo img-1-js"></div>
                          <input type="radio" name="radio-1" class="custom-control-input" id="customCheck21">
                          <label class="custom-control-label custom-control-radio" for="customCheck21">
                            <!-- <div class="img-wrap"> -->
                              <img class="img-wrap img-1-js" src="./img/temp/online_builder/img.jpg" alt="">
                            <!-- </div> -->
                            <span>Клапанный</span>
                          </label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="filter-stap">
                <h5 class="stap-title">Шаг 2</h5>
                <h4 class="second-title second-title-line">Въездная зона:</h4>

                <div class="entry-wrap entry-wrap-line">
                  <h6>Выберите количество въездов</h6>
                  <div class="entry-inner">
                    <div class="entry" >
                        1
                    </div>
                    <div class="entry" >
                        2
                    </div>
                    <div class="entry " >
                        3
                    </div>
                    <div class="entry" >
                        4
                    </div>
                    <div class="entry" >
                        5
                    </div>
                    <div class="entry">
                        6
                    </div>
                    <div class="entry" >
                        7
                    </div>
                    <div class="entry">
                        8
                    </div>
                    <div class="entry" >
                        9
                    </div>
                    <div class="entry" >
                        10
                    </div>
                  </div>
                </div>

                <div class="radio-checkbox-wrap radio-checkbox-wrap-line">
                  <h6>Распознавание посетителей:</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">

                      <div class="radio-checkbox-content">

                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-2" type="radio" class="custom-control-input" id="customCheck22">
                          <label class="custom-control-label custom-control-radio" for="customCheck22">
                            <span>Мягкий чек со штрихкодом</span>
                          </label>
                        </div>

                        <a href="#" class="more">Подробнее</a>

                      </div>

                      
                    </div>

                    <div class="radio-checkbox">

                      <div class="radio-checkbox-content">

                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-2" type="radio" class="custom-control-input" id="customCheck23">
                          <label class="custom-control-label custom-control-radio" for="customCheck23">
                            <span>Твердый чек со штрихкодом</span>
                          </label>
                        </div>

                        <a href="#" class="more">Подробнее</a>

                      </div>

                      <p class="price">+27 000 ₽</p>
                      
                    </div>

                    <div class="radio-checkbox">

                      <div class="radio-checkbox-content">

                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-2" type="radio" class="custom-control-input" id="customCheck24">
                          <label class="custom-control-label custom-control-radio" for="customCheck24">
                            <span>Пластиковая карта</span>
                          </label>
                        </div>

                        <a href="#" class="more">Подробнее</a>

                      </div>

                      <p class="price">+75 000 ₽</p>
                      
                    </div>

                  </div>
                </div>

                <div class="painting-wrap">
                  <h6>Варианты покраски:</h6>

                  <div class="painting-inner">
                    <div class="img-wrap">
                      <img src="./img/temp/online_builder/img-2.jpg" alt="">
                    </div>

                    <div class="radio-control-wrap">
                      <a href="#" class="more">Подробнее</a>

                      <div class="radio-control">
                        <p class="title-control">Корпус</p>

                        <div class="radio-control-row">
                          <div class="custom-control custom-checkbox checkbox-filter black-circle">
                            <input name="radio-4" type="radio" class="custom-control-input" id="customCheck35" checked>
                            <label class="custom-control-label custom-control-radio " for="customCheck35"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter red-circle">
                            <input name="radio-4" type="radio" class="custom-control-input" id="customCheck36">
                            <label class="custom-control-label custom-control-radio " for="customCheck36"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter yellow-circle">
                            <input name="radio-4" type="radio" class="custom-control-input" id="customCheck37">
                            <label class="custom-control-label custom-control-radio " for="customCheck37"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter blue-circle">
                            <input name="radio-4" type="radio" class="custom-control-input" id="customCheck38">
                            <label class="custom-control-label custom-control-radio " for="customCheck38"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter green-circle">
                            <input name="radio-4" type="radio" class="custom-control-input" id="customCheck39">
                            <label class="custom-control-label custom-control-radio " for="customCheck39"></label>
                          </div>
                        </div>

                      </div>

                      <div class="radio-control">
                        <p class="title-control">Лицевая панель</p>

                        <div class="radio-control-row">
                          <div class="custom-control custom-checkbox checkbox-filter black-circle">
                            <input name="radio-5" type="radio" class="custom-control-input" id="customCheck40" checked>
                            <label class="custom-control-label custom-control-radio " for="customCheck40"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter red-circle">
                            <input name="radio-5" type="radio" class="custom-control-input" id="customCheck41">
                            <label class="custom-control-label custom-control-radio " for="customCheck41"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter yellow-circle">
                            <input name="radio-5" type="radio" class="custom-control-input" id="customCheck42">
                            <label class="custom-control-label custom-control-radio " for="customCheck42"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter blue-circle">
                            <input name="radio-5" type="radio" class="custom-control-input" id="customCheck43">
                            <label class="custom-control-label custom-control-radio " for="customCheck43"></label>
                          </div>

                          <div class="custom-control custom-checkbox checkbox-filter green-circle">
                            <input name="radio-5" type="radio" class="custom-control-input" id="customCheck44">
                            <label class="custom-control-label custom-control-radio " for="customCheck44"></label>
                          </div>
                        </div>

                      </div>


                    </div>


                  </div>

                </div>

                <div class="radio-checkbox-wrap radio-checkbox-wrap-line">
                  <h6>Варианты лицевой панели:</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">

                      <div class="radio-checkbox-content">

                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-3" type="radio" class="custom-control-input" id="customCheck25">
                          <label class="custom-control-label custom-control-radio" for="customCheck25">
                            <span>Пластик</span>
                          </label>
                        </div>

                        <a href="#" class="more">Подробнее</a>

                      </div>

                      
                      
                    </div>

                    <div class="radio-checkbox">

                      <div class="radio-checkbox-content">

                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-3" type="radio" class="custom-control-input" id="customCheck26">
                          <label class="custom-control-label custom-control-radio" for="customCheck26">
                            <span>Стекло</span>
                          </label>
                        </div>

                        <a href="#" class="more">Подробнее</a>

                      </div>

                      <p class="price">+27 000 ₽</p>
                      
                    </div>

                  </div>
                </div>

                <div class="radio-checkbox-wrap">
                  <h6>Дополнительные опции:</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck27">
                          <label class="custom-control-label" for="customCheck27">
                            <span>Считыватель карт постоянного клиента</span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck28">
                          <label class="custom-control-label" for="customCheck28">
                            <span>Зимний пакет </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>



                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck29">
                          <label class="custom-control-label" for="customCheck29">
                            <span>Переговорное устройство </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck30">
                          <label class="custom-control-label" for="customCheck30">
                            <span>Встроенный видеоглазок </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck31">
                          <label class="custom-control-label" for="customCheck31">
                            <span>Светодиодная подсветка </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck32">
                          <label class="custom-control-label" for="customCheck32">
                            <span>Видеонаблюдение на въезде </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck33">
                          <label class="custom-control-label" for="customCheck33">
                            <span>Система распознавания номеров </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck34">
                          <label class="custom-control-label" for="customCheck34">
                            <span>Светофор для подъезда к стойке </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck60">
                          <label class="custom-control-label" for="customCheck60">
                            <span>Светофор для проезда через шлагбаум </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                  </div>
                </div>

              </div>

              <div class="filter-stap disable-block">
                <h5 class="stap-title">Шаг 3</h5>
                <h4 class="second-title second-title-line">Выездная зона</h4>

                <div class="entry-wrap">
                  <h6>Выберите количество выездов</h6>
                  <div class="entry-inner">
                    <div class="entry">
                        1
                    </div>
                    <div class="entry">
                        2
                    </div>
                    <div class="entry ">
                        3
                    </div>
                    <div class="entry">
                        4
                    </div>
                    <div class="entry">
                        5
                    </div>
                    <div class="entry">
                        6
                    </div>
                    <div class="entry">
                        7
                    </div>
                    <div class="entry">
                        8
                    </div>
                    <div class="entry">
                        9
                    </div>
                    <div class="entry">
                        10
                    </div>
                  </div>
                </div>


              </div>


              <div class="filter-stap">
                <h5 class="stap-title">Шаг 4</h5>
                <h4 class="second-title">Варианты заградительных элементов</h4>

                <div class="radio-container-wrap radio-container-four">
                    <div class="container">
                      <div class="row">

                        <div class="col col-inp-2">
                          <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                            <div class="img-pseudo img-2-js"></div>
                            <input type="radio" name="radio-6" class="custom-control-input" id="customCheck45">
                            <label class="custom-control-label custom-control-radio" for="customCheck45">
                              <!-- <div class="img-wrap img-2-js"> -->
                                <img class="img-wrap img-2-js" src="./img/temp/online_builder/img-3.jpg" alt="">
                              <!-- </div> -->
                              <span>Прямая стрела</span>
                            </label>
                          </div>
                        </div>

                        <div class="col col-inp-2">
                          <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                            <div class="img-pseudo img-2-js"></div>
                            <input type="radio" name="radio-6" class="custom-control-input" id="customCheck46">
                            <label class="custom-control-label custom-control-radio" for="customCheck46">
                              <!-- <div class="img-wrap"> -->
                                <img class="img-wrap img-2-js" src="./img/temp/online_builder/img-3.jpg" alt="">
                              <!-- </div> -->
                              <span>Стрела с изгибом</span>
                            </label>
                          </div>
                        </div>

                        <div class="col col-inp-2">
                          <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                            <div class="img-pseudo img-2-js"></div>
                            <input type="radio" name="radio-6" class="custom-control-input" id="customCheck47">
                            <label class="custom-control-label custom-control-radio" for="customCheck47">
                              <!-- <div class="img-wrap"> -->
                                <img class="img-wrap img-2-js" src="./img/temp/online_builder/img-3.jpg" alt="">
                              <!-- </div> -->
                              <span>Выдвижные столбы</span>
                            </label>
                          </div>
                        </div>

                        <div class="col col-inp-2">
                          <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                            <div class="img-pseudo img-2-js"></div>
                            <input type="radio" name="radio-6" class="custom-control-input" id="customCheck48">
                            <label class="custom-control-label custom-control-radio" for="customCheck48">
                              <!-- <div class="img-wrap"> -->
                                <img class="img-wrap img-2-js" src="./img/temp/online_builder/img-3.jpg" alt="">
                              <!-- </div> -->
                              <span>Откатные ворота</span>
                            </label>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                </div>

                <div class="slider-handle-wrap">
                  <h6>Выберите количество выездов</h6>
                  <div class="slider-handle-inner">
                    <input id="slider-handle-js" type="text" />
                  </div>
                </div>

                <div class="radio-checkbox-wrap">
                  <h6>Производители</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">
                        <div class="radio-checkbox-content">
                          <div class="custom-control custom-checkbox checkbox-filter">
                            <input type="checkbox" class="custom-control-input" id="customCheck49">
                            <label class="custom-control-label " for="customCheck49">
                              <span>Вектор (Россия)</span>
                            </label>
                          </div>
                        </div>
                      </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck50">
                          <label class="custom-control-label " for="customCheck50">
                            <span>Came (Германия)</span>
                          </label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="notice-wrap">
                  <p>* Шлагбаумы оснащены магнинтной петлей с контроллером определния присутсвия <br> автомобиля, а также фотоэлементами для безопасного проезда автомобиля.</p>
                </div>

              </div>

              <div class="filter-stap">
                <h5 class="stap-title">Шаг 5</h5>
                <h4 class="second-title second-title-line">Терминал оплаты</h4>

                <div class="radio-checkbox-wrap radio-checkbox-wrap-line">
                  <h6>Расположение терминала оплаты:</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-7" type="radio" class="custom-control-input" id="customCheck51">
                          <label class="custom-control-label custom-control-radio" for="customCheck51">
                            <span>На выезде </span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input name="radio-7" type="radio" class="custom-control-input" id="customCheck52">
                          <label class="custom-control-label custom-control-radio" for="customCheck52">
                            <span>Удаленно от выезда </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                  </div>
                </div>

                <div class="radio-container-wrap radio-container-line radio-container-two">
                  <div class="container">
                    <div class="row">

                      <div class="col col-inp-3">
                        <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                          <div class="img-pseudo img-3-js"></div>
                          <input type="radio" name="radio-8" class="custom-control-input" id="customCheck53">
                          <label class="custom-control-label custom-control-radio" for="customCheck53">
                            <!-- <div class="img-wrap img-3-js"> -->
                              <img class="img-wrap img-3-js" src="./img/temp/online_builder/img-2.jpg" alt="">
                            <!-- </div> -->
                            <span>Бизнес</span>
                          </label>
                          <a href="#" class="more">Подробнее</a>
                        </div>
                      </div>

                      <div class="col col-inp-3">
                        <div class="custom-control custom-checkbox checkbox-filter custom-checkbox-img">
                          <div class="img-pseudo img-3-js"></div>
                          <input type="radio" name="radio-8" class="custom-control-input" id="customCheck54">
                          <label class="custom-control-label custom-control-radio" for="customCheck54">
                            <!-- <div class="img-wrap"> -->
                              <img class="img-wrap img-3-js" src="./img/temp/online_builder/img-2.jpg" alt="">
                            <!-- </div> -->
                            <span>Элит</span>
                          </label>
                          <a href="#" class="more">Подробнее</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="entry-wrap entry-wrap-line disable-block">
                  <h6>Выберете количество терминалов оплаты:</h6>
                  <div class="entry-inner">
                    <div class="entry">
                        1
                    </div>
                    <div class="entry">
                        2
                    </div>
                    <div class="entry ">
                        3
                    </div>
                    <div class="entry">
                        4
                    </div>
                    <div class="entry">
                        5
                    </div>
                    <div class="entry">
                        6
                    </div>
                    <div class="entry">
                        7
                    </div>
                    <div class="entry">
                        8
                    </div>
                    <div class="entry">
                        9
                    </div>
                    <div class="entry">
                        10
                    </div>
                  </div>
                </div>

                <div class="radio-checkbox-wrap disable-block">
                  <h6>Дополнительные опции:</h6>

                  <div class="radio-checkbox-inner">

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck55">
                          <label class="custom-control-label" for="customCheck55">
                            <span>Зимний пакет </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck56">
                          <label class="custom-control-label" for="customCheck56">
                            <span>Переговорное устройство </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck57">
                          <label class="custom-control-label" for="customCheck57">
                            <span>Встроенный видеоглазок </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck58">
                          <label class="custom-control-label" for="customCheck58">
                            <span>Светодиодная подсветка </span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>

                    <div class="radio-checkbox">
                      <div class="radio-checkbox-content">
                        <div class="custom-control custom-checkbox checkbox-filter">
                          <input type="checkbox" class="custom-control-input" id="customCheck59">
                          <label class="custom-control-label" for="customCheck59">
                            <span>Видеонаблюдение</span>
                          </label>
                        </div>
                      </div>
                      <p class="price">+27 000 ₽</p>
                    </div>
                    

                  </div>
                </div>
              </div>






            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <div class="online-builder-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="online-builder-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-terminal -->
<%= _.template(require('./../includes/modal-terminal.html').default)() %>
<!-- End modal-terminal -->

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
