<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="product-card-page">
  <div class="product-card-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="product-card-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Оборудование</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link"
                  >Для моек самообслуживания</a
                >
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Терминалсы МСО</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Терминалы</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Терминал “Black diamond”</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-card-page__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-md-7 col-12">
          <div class="product-card-page__slider">
            <div
              class="product-card-page__slider-content carousel slide carousel-fade"
              id="carouselProductSlider"
              data-ride="carousel"
              data-interval="false"
            >
              <div
                class="carousel-inner product-card-page__slider-carousel-inner"
              >
                <div
                  class="carousel-item active product-card-page__slider-slider-item"
                >
                  <div class="image-tooltip">
                    <img
                      src="./img/temp/terminal-tooltip-big.png"
                      alt=""
                      class="image-tooltip__image"
                    />

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_1"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_2"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_3"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_4"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_5"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_6"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>

                    <div
                      class="image-tooltip__button-tooltip-box image-tooltip__button-tooltip-box_7"
                    >
                      <button
                        class="image-tooltip__button-tooltip"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pharetra commodo faucibus quam donec nam viverra. Morbi egestas turpis sodales ullamcorper porttitor amet. Tincidunt amet sit nunc fames viverra purus fermentum sed. Elit, id nulla ullamcorper ornare non platea at sit quis."
                      ></button>
                    </div>
                  </div>
                </div>

                <div
                  class="carousel-item product-card-page__slider-slider-item"
                >
                  <div class="product-card-page__slider-image-container">
                    <img
                      src="./img/temp/terminal-tooltip.png"
                      alt=""
                      class="product-card-page__slider-image"
                    />
                  </div>
                </div>
              </div>

              <div
                class="product-card-page__slider-slider-indicators-container"
              >
                <ol class="carousel-indicators">
                  <li
                    data-target="#carouselProductSlider"
                    data-slide-to="0"
                    class="active"
                  >
                    <img src="./img/temp/slide-indicator-1.png" alt="" />
                  </li>
                  <li data-target="#carouselProductSlider" data-slide-to="1">
                    <img src="./img/temp/slide-indicator-2.png" alt="" />
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-5 col-md-5 col-12">
          <div class="product-card-page__sidebar">
            <h1 class="product-card-page__title">Терминал "Eko"</h1>

            <div class="product-card-page__button-container">
              <button
                class="button button_blue button_size_15_20 button_font_13_20 button_radius_4 product-card-page__button"
                data-dismiss="modal"
                data-toggle="modal"
                data-target="#modalFeedback"
              >
                Получить консультацию
              </button>
              <button
                class="button button_avd button_size_17_25_18 button_font_11_15 button_radius_4 product-card-page__button"
              >
                Расчёт стоимости
              </button>
            </div>

            <div class="product-card-page__video">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/eNvUS-6PTbs"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="product-card-page__text-block">
              <h3 class="product-card-page__text-block-title">Описание</h3>
              <p class="product-card-page__text-block-text">
                Корпус: Нержавейка, каленое стекло 4мм. <br />
                Нанесение надписей промышленным способом. <br />
                Корпус: Нержавейка, каленое стекло 4мм. <br />
                Нанесение надписей промышленным способом. <br />
                Корпус: Нержавейка, каленое стекло 4мм. <br />
                Нанесение надписей промышленным способом.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-card-page__tabs">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="tabs-block">
            <ul
              class="nav nav-pills tabs-block__nav"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item tabs-block__nav-item">
                <a
                  class="nav-link active tabs-block__nav-link"
                  id="functions"
                  data-toggle="pill"
                  href="#functions_link"
                  role="tab"
                  aria-controls="functions"
                  aria-selected="true"
                  >Основные функции</a
                >
                <!-- open modal wideo mob -->
                <div
                  class="tabs-block__button"
                  data-content-id="functions_link"
                ></div>
              </li>

              <li class="nav-item tabs-block__nav-item">
                <a
                  class="nav-link tabs-block__nav-link"
                  id="equipment"
                  data-toggle="pill"
                  href="#equipment_link"
                  role="tab"
                  aria-controls="equipment"
                  aria-selected="false"
                  >Комплектация</a
                >
                <div
                  class="tabs-block__button"
                  data-content-id="equipment_link"
                ></div>
              </li>

              <li class="nav-item tabs-block__nav-item">
                <a
                  class="nav-link tabs-block__nav-link"
                  id="payment_delivery"
                  data-toggle="pill"
                  href="#payment_delivery_link"
                  role="tab"
                  aria-controls="payment_delivery"
                  aria-selected="false"
                  >Оплата и доставка</a
                >
                <div
                  class="tabs-block__button"
                  data-content-id="payment_delivery_link"
                ></div>
              </li>
            </ul>

            <div
              class="tab-content tabs-block__tab-content"
              id="pills-tabContent"
            >
              <div
                class="tab-pane tabs-block__tab-pane fade show active"
                id="functions_link"
                role="tabpanel"
                aria-labelledby="functions"
              >
                <table class="table product-card-page__table">
                  <tbody>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Мойка высоким давлением
                      </td>
                      <td>Основной процесс мойки</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Нанесение пены
                      </td>
                      <td>Бесконтактная мойка (густая пена)</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Нанесение воска
                      </td>
                      <td>Быстрая сушка и защита</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Мытье рук
                      </td>
                      <td>Кран с клапаном 10 сек.</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Купюроприемник принимает
                      </td>
                      <td>10, 50, 100 рубей</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Монетоприемник принимает
                      </td>
                      <td>1, 2, 5, 10 руб.</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Экран мультифункциональный
                      </td>
                      <td>Показывает баланс, время, настройки</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="tab-pane tabs-block__tab-pane fade"
                id="equipment_link"
                role="tabpanel"
                aria-labelledby="equipment"
              >
                <table class="table product-card-page__table">
                  <tbody>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Мойка высоким давлением
                      </td>
                      <td>Основной процесс мойки</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Нанесение пены
                      </td>
                      <td>Бесконтактная мойка (густая пена)</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Нанесение воска
                      </td>
                      <td>Быстрая сушка и защита</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Мытье рук
                      </td>
                      <td>Кран с клапаном 10 сек.</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Купюроприемник принимает
                      </td>
                      <td>10, 50, 100 рубей</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Монетоприемник принимает
                      </td>
                      <td>1, 2, 5, 10 руб.</td>
                    </tr>
                    <tr>
                      <td class="product-card-page__table-title-cell">
                        Экран мультифункциональный
                      </td>
                      <td>Показывает баланс, время, настройки</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div
                class="tab-pane tabs-block__tab-pane fade"
                id="payment_delivery_link"
                role="tabpanel"
                aria-labelledby="payment_delivery"
              >
                <p class="product-card-page__paragraph">
                  Наша компания предлагает разные методы расчета: наличные,
                  перевод с карты, банковское перечисление — заказчик сам
                  решает, как заплатить. Возможен лизинг — в данном случае
                  лизинговую компанию клиент выбирает самостоятельно.
                </p>

                <p class="product-card-page__paragraph">
                  Доставка осуществляется по Москве, Московской области, а также
                  в любой регион РФ. Работаем с любыми транспортными компаниями.
                </p>

                <p class="product-card-page__paragraph">
                  Условия оплаты и доставки Вы можете обсудить с нашим
                  менеджером, позвонив по любому из контактных телефонов.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-card-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="product-card-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
