<% var data = { title: "Wave" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="video-page">
  <div class="video-page__nav">
    <%= _.template(require('./../includes/nav.html').default)() %>
  </div>

  <div class="video-page__hierarchy">
    <div class="hierarchy">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="hierarchy__list">
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Главная</a>
              </li>
              <li class="hierarchy_li">
                <a href="#" class="hierarchy__link">Все видео</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-page__cards-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="7lCDEYXw3mM" class="video-card" target="_blank"></a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="YgmIibSnZs0" class="video-card" target="_blank"></a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="7lCDEYXw3mM" class="video-card" target="_blank"></a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="cKgFtGO2org" class="video-card" target="_blank"></a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="7lCDEYXw3mM" class="video-card" target="_blank"></a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 video-page__card">
          <a href="/" id="YgmIibSnZs0" class="video-card" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="video-page__feedback">
    <%= _.template(require('./../includes/feedback.html').default)() %>
  </div>

  <div class="video-page__footer">
    <%= _.template(require('./../includes/footer_code.html').default)() %>
  </div>
</div>

<!-- modal-feedback -->
<%= _.template(require('./../includes/modal-feedback.html').default)() %>
<!-- End modal-feedback -->

<!-- modal-success -->
<%= _.template(require('./../includes/modal-success.html').default)() %>
<!-- End modal-success -->

<!-- modal-search -->
<%= _.template(require('./../includes/modal-search.html').default)() %>
<!-- End modal-search -->

<%= _.template(require('./../includes/footer.html').default)() %>
