// button-type and button-vacuum-cleaner-type
@mixin button-type_active {
  border-color: $ligth-blue;
  background-color: $light-gray;
}
%button-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: rem(4px);
  background: $white;
  border: 1px solid $dark-gray-2;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:hover {
    @include button-type_active;
  }
}
%button-type__title {
  font-style: normal;
  font-weight: 600;
  @extend %h2;
  color: $ligth-blue;
}
