%carousel-indicators {
  position: static;
  flex-wrap: wrap;
}

%carousel-indicators__item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;

  &.active {
  }
}

%carousel-indicators__image {
  max-width: 100%;
  height: auto;
}
