// cards for installation-equipment-block-card and vacuum-cleaner-card
%card_active {
  background: $ligth-blue-3;
}

%card__image-container {
  background: $light-gray-5;
  border: 1px solid $light-gray-2;
  box-sizing: border-box;
  border-radius: rem(4px);
  text-align: center;

  // margin-bottom: rem(20px);
}

%card__image {
  @extend %image;
}

%card__content {
  padding: rem(0 10px);
}

%card__title-li-price {
  font-style: normal;
  color: $dark-blue;
}

%card__title {
  @extend %card__title-li-price;
  @extend %p1;
  font-weight: 600;

  // margin-bottom: rem(20px);
}

%card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  // margin-bottom: rem(20px);
}

%card__li {
  @extend %card__title-li-price;
  @extend %p1;
}

%card__price {
  @extend %card__title-li-price;
  @extend %p2;
  font-weight: 600;
  // margin-bottom: rem(20px);
}

%card__button {
  max-width: 230px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  %card__content {
    text-align: center;
  }
}
