%cost-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: rem(20px 0);
  border-bottom: 1px solid $dark-gray-2;
}

%cost-block__price {
  font-style: normal;
  font-weight: 600;
  @extend %h1;
  color: $dark-blue;
}

%cost-block__button_more {
}

@media screen and (max-width: 767px) {
  %cost-block {
    justify-content: center;
  }

  %cost-block__price {
    flex: 100%;
    text-align: center;
  }
}
