%equipment-card {
  background: $light-gray;
  box-sizing: border-box;
  padding: rem(20px 0);
}

%equipment-card__container {
  padding: rem(0 20px);
}

%equipment-card__row {
  margin: rem(0 -20px);
}

%equipment-card__col {
  padding: rem(0 20px);
}

%equipment-card__image-container {
  text-align: center;
}

%equipment-card__image {
  max-width: 100%;
  height: auto;
}

%equipment-card__content {
  text-align: center;
}

%equipment-card__title {
  @extend %h2;
  color: $dark-blue;

  span {
    font-weight: 600;
  }
}

%equipment-card__price {
  @extend %h1;
  color: $dark-blue;
  font-weight: 600;
}

%equipment-card__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%equipment-card__button {
  max-width: 250px;
  width: 100%;
}
