%modal__content {
  background: $white;
  border: none;
  box-shadow: rem(0px 4px 14px) rgba(50, 50, 50, 0.6);
  border-radius: rem(4px);
}

%modal__header {
  padding: rem(15px 18px);
  background: $ligth-blue;
  border-top-left-radius: rem(4px);
  border-top-right-radius: rem(4px);
  border-bottom: none;
}

%modal__title {
  text-align: center;
  @extend %h2;
  font-style: normal;
  font-weight: 600;
  color: $white;
  margin-bottom: 0;
  flex: auto;
}

%modal__close {
  padding: rem(15px 18px);
  margin: rem(-15px -18px -15px auto);
}
