%radio-checkbox-block {
  position: relative;
  width: 16px;
  height: 16px;
}
%radio-checkbox-block__label {
  background: $white;
  border: 1px solid $light-gray-3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
%radio-checkbox-block_active__label {
  background: $ligth-blue url(../img/ok-white.svg) no-repeat center center;
  border-color: $ligth-blue;
}
%radio-checkbox-block__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
