%th-td {
  font-style: normal;
  color: $dark-blue;
}

%table-block_striped {
  // thead th {
  //   background: $light-gray;
  //   border-bottom: 1px solid $dark-gray-2;
  //   font-weight: 600;
  //   @extend %th-td;
  //   @extend %p3;
  // }

  tbody tr:nth-of-type(even) {
    background: $dark-gray-3;
  }

  tr {
    border-top: 1px solid $light-gray-7;
  }

  td {
    font-weight: normal;
    @extend %p2;
    @extend %th-td;
    border-top: none;
  }
}

%table-block__title-cell_striped {
  font-weight: 600;
  @extend %p2;
  @extend %th-td;
}
