// h

%h1 {
  font-size: rem(40px);
  line-height: (50/40);
}

%h2 {
  font-size: rem(20px);
  line-height: (30/20);
}

%h3 {
  font-size: rem(20px);
  line-height: (25/20);
}

%h4 {
  font-size: rem(16px);
  line-height: (25/16);
}

// p

%p1 /*body*/ {
  font-size: rem(16px);
  line-height: (24/16);
}

%p2 {
  font-size: rem(16px);
  line-height: (20/16);
}

%p3 {
  font-size: rem(13px);
  line-height: (20/13);
}

%p4 {
  font-size: rem(12px);
  line-height: (15/12);
}

%p5 {
  font-size: rem(12px);
  line-height: (18/12);
}

%p6 {
  font-size: rem(11px);
  line-height: (15/11);
}

%p7 {
  font-size: rem(16px);
  line-height: (15/16);
}

%p8 {
  font-size: rem(16px);
  line-height: (22/16);
}

%p9 {
  font-size: rem(14px);
  line-height: (20/14);
}

%p10 {
  font-size: rem(12px);
  line-height: (20/12);
}

%p11 {
  font-size: rem(13px);
  line-height: (15/13);
}

%p12 {
  font-size: rem(13px);
  line-height: (18/13);
}

// %hide-on-desctop {
//   display: none;
// }

@mixin h2 {
  font-size: rem(20px);
  line-height: (30/20);
}

@mixin p2 {
  font-size: rem(16px);
  line-height: (20/16);
}

@mixin p11 {
  font-size: rem(13px);
  line-height: (15/13);
}

@import "./extends/image";
@import "./extends/video";
@import "./extends/radio-checkbox";
@import "./extends/button-type";
@import "./extends/card";
@import "./extends/cost-block";
@import "./extends/equipment-card";
@import "./extends/carousel-indicators";
@import "./extends/table-block";
@import "./extends/modal";
