// variables

// $blue: #013a51;
// $lblue: #69bdf9;
// $yellow: #ffbb0d;
// $dblue: #003043;
// $green: #0dff8b;

$ff: "Inter", sans-serif;

$ligth-blue: #69bdf9;
$ligth-blue-2: #f4faff;
$ligth-blue-3: #50a7e7;
$ligth-blue-4: #b4defc;
$ligth-blue-5: #3377fb;
$blue: #216284;
$dark-blue: #013a51;
$dark-blue-2: #1a4d62;
$dark-blue-3: #003043;

$light-gray: #f5f5f5;
$light-gray-2: #eaeaea;
$light-gray-3: #dadada;
$light-gray-4: #f7f7f7;
$light-gray-5: #fdfdfd;
$light-gray-6: #e3eaef;
$light-gray-7: #ebebeb;
$light-gray-8: #dff1ff;

$gray: #cacdd7;
$dark-gray: #c2c2c2;
$dark-gray-2: #c9cdd0;
$dark-gray-3: #fbfbfb;

$red: #cc181e;
$red-1: #cc181e;
$orange: #ffbb0d;
$orange-1: #ffc125;
$white: #fff;
$dark: #444950;
$green: #0dff8b;
$green-1: #66d864;

// bootstrap
$link-hover-decoration: none;
// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 767px,
  md: 1024px,
  lg: 1300px,
  xl: 1300px
) !default;
// grid containers
$container-max-widths: (
  sm: 1320px,
  md: 1320px,
  lg: 1320px,
  xl: 1320px
) !default;
// grid columns
$grid-columns: 12;
$grid-gutter-width: 40px;
// nav
$navbar-padding-x: 0;
$navbar-padding-y: 0;
